In [1]:
#!/usr/bin/env python
import pandas as pd
import numpy as np
import os
from datetime import datetime
from dateutil.parser import parse
from utilityFunctions import *

In [2]:
# working directory
working_dir = "C:/tseg/NMTest/aggregatedamounts/"
os.chdir(working_dir)

In [3]:
target_columns = ["ReportingUnitUUID", "ReportingUnitNativeID", "ReportingUnitName", 
                  "ReportingUnitTypeCV", "ReportingUnitUpdateDate", "ReportingUnitProductVersion",
                  "StateCV", "EPSGCodeCV", "Geometry"]

In [4]:
outdf100 = pd.DataFrame(columns=target_columns)

In [5]:
# Input files
fileInput1 = "Summary of withdrawals by county 90-15.xlsx" 
fileInput2 = "Summary of withdrawals by River Basin 90-15.xlsx"

In [6]:
df10 = pd.read_excel(fileInput1, header=0, sheet_name=0, skiprows=1, encoding = "ISO-8859-1")
#df20 = pd.read_excel(fileInput2, header=0, sheet_name=0, skiprows=1, encoding = "ISO-8859-1")
list(df10.columns)
#list(df20.columns)

['CN', 'COUNTY', 'CAT', 'WSW', 'WGW', 'TW']

In [7]:
# combine multiple sheets to one dataFrame

startYear = 1990
endYear = 2015
numSheets = 5
yearList = np.linspace(startYear, endYear, numSheets)
df100_list = []
for isx in range (numSheets):
    df10 = pd.read_excel(fileInput1, header=0, sheet_name=isx, skiprows=1, encoding = "ISO-8859-1")
    df10 = df10.assign(ReportYearCV=yearList[isx])
    df10.ReportYearCV = df10.ReportYearCV.astype(int)
    df100_list.append(df10)
    
df100 = pd.concat(df100_list, sort=True)

df100

,CAT,CN,COUNTY,ReportYearCV,TW,WGW,WSW
0,Public Water Supply,1,Bernalillo,1990,125483.156250,125483.156250,0.000000
1,Domestic (self-supplied),1,Bernalillo,1990,3561.899902,3561.899902,0.000000
2,Irrigated Agriculture,1,Bernalillo,1990,77764.000000,4037.000000,73727.000000
3,Livestock (self-supplied),1,Bernalillo,1990,789.530029,753.200012,36.330002
4,Commercial (self-supplied),1,Bernalillo,1990,3711.300049,3711.300049,0.000000
5,Industrial (self-supplied),1,Bernalillo,1990,485.049988,485.049988,0.000000
6,Mining (self-supplied),1,Bernalillo,1990,324.739990,324.739990,0.000000
7,Power (self-supplied),1,Bernalillo,1990,179.360001,179.360001,0.000000
8,Reservoir Evaporation,1,Bernalillo,1990,0.000000,0.000000,0.000000
9,Public Water Supply,3,Catron,1990,125.440002,125.440002,0.000000
10,Domestic (self-supplied),3,Catron,1990,136.789993,136.789993,0.000000
11,Irrigated Agriculture,3,Catron,1990,20022.000000,1869.000000,18153.000000
12,Livestock (self-supplied),3,Catron,1990,640.599976,332.459991,308.140015
13,Commercial (self-supplied),3,Catron,1990,24.350000,16.350000,8.000000
14,Industrial (self-supplied),3,Catron,1990,11.130000,11.130000,0.000000
15,Mining (self-supplied),3,Catron,1990,3.510000,3.510000,0.000000
16,Power (self-supplied),3,Catron,1990,0.000000,0.000000,0.000000
17,Reservoir Evaporation,3,Catron,1990,0.000000,0.000000,0.000000
18,Public Water Supply,5,Chaves,1990,16273.450195,16273.450195,0.000000
19,Domestic (self-supplied),5,Chaves,1990,586.409973,586.409973,0.000000
20,Irrigated Agriculture,5,Chaves,1990,305843.000000,266461.000000,39382.000000
21,Livestock (self-supplied),5,Chaves,1990,3125.110107,2889.300049,235.809998
22,Commercial (self-supplied),5,Chaves,1990,2801.659912,2801.659912,0.000000
23,Industrial (self-supplied),5,Chaves,1990,157.389999,157.389999,0.000000
24,Mining (self-supplied),5,Chaves,1990,148.539993,148.539993,0.000000
25,Power (self-supplied),5,Chaves,1990,0.000000,0.000000,0.000000
26,Reservoir Evaporation,5,Chaves,1990,0.000000,0.000000,0.000000
27,Public Water Supply,6,Cibola,1990,2854.100098,2854.100098,0.000000
28,Domestic (self-supplied),6,Cibola,1990,842.849976,842.849976,0.000000
29,Irrigated Agriculture,6,Cibola,1990,1659.000000,1354.000000,305.000000
...,...,...,...,...,...,...,...
267,Power (self-supplied),55,Taos,2015,0.000000,0.000000,0.000000
268,Public Water Supply,55,Taos,2015,2284.150568,2097.060568,187.090000
269,Reservoir Evaporation,55,Taos,2015,685.980000,0.000000,685.980000
270,Commercial (self-supplied),57,Torrance,2015,275.899891,275.899891,0.000000
271,Domestic (self-supplied),57,Torrance,2015,487.573231,487.573231,0.000000
272,Industrial (self-supplied),57,Torrance,2015,0.500000,0.500000,0.000000
273,Irrigated Agriculture,57,Torrance,2015,59605.250000,59605.250000,0.000000
274,Livestock (self-supplied),57,Torrance,2015,604.828954,556.156328,48.672626
275,Mining (self-supplied),57,Torrance,2015,30.090000,30.090000,0.000000
276,Power (self-supplied),57,Torrance,2015,0.000000,0.000000,0.000000
277,Public Water Supply,57,Torrance,2015,1633.707707,1633.707707,0.000000
278,Reservoir Evaporation,57,Torrance,2015,0.000000,0.000000,0.000000
279,Commercial (self-supplied),59,Union,2015,173.524883,173.524883,0.000000
280,Domestic (self-supplied),59,Union,2015,172.142653,172.142653,0.000000
281,Industrial (self-supplied),59,Union,2015,0.000000,0.000000,0.000000
282,Irrigated Agriculture,59,Union,2015,68485.823636,66685.823636,1800.000000
283,Livestock (self-supplied),59,Union,2015,1608.001658,1448.553285,159.448372
284,Mining (self-supplied),59,Union,2015,0.000798,0.000798,0.000000
285,Power (self-supplied),59,Union,2015,0.000000,0.000000,0.000000
286,Public Water Supply,59,Union,2015,564.296000,564.296000,0.000000
287,Reservoir Evaporation,59,Union,2015,478.000000,0.000000,478.000000
288,Commercial (self-supplied),61,Valencia,2015,221.004676,221.004676,0.000000
289,Domestic (self-supplied),61,Valencia,2015,3686.370848,3686.370848,0.000000
290,Industrial (self-supplied),61,Valencia,2015,331.458000,331.458000,0.000000
291,Irrigated Agriculture,61,Valencia,2015,171622.250000,11407.250000,160215.000000
292,Livestock (self-supplied),61,Valencia,2015,888.255259,841.114994,47.140265
293,Mining (self-supplied),61,Valencia,2015,178.559000,178.559000,0.000000
294,Power (self-supplied),61,Valencia,2015,6.000000,6.000000,0.000000
295,Public Water Supply,61,Valencia,2015,6553.686693,6553.686693,0.000000
296,Reservoir Evaporation,61,Valencia,2015,0.000000,0.000000,0.000000

In [8]:
print("Copying County name...")

# all we need from input is county name

# first remove redundancies
df100 = df100.drop_duplicates(subset=["COUNTY"])   #
df100 = df100.reset_index(drop=True)

print(len(df100.index))

outdf100["ReportingUnitName"] = df100["COUNTY"]

Copying County name...
33

In [9]:
# ReportingUnitNativeID	 	 Auto generate
outdf100['ReportingUnitNativeID'] = range(1, len(outdf100.index) + 1)

#ReportingUnitUUID	 	 NM_NativeID
outdf100['ReportingUnitUUID'] = outdf100.apply(lambda row: "_".join(["NM", str(row['ReportingUnitNativeID'])]), axis=1)

In [10]:
# hardcoded

outdf100.StateCV = "NM"
outdf100.ReportingUnitTypeCV = "County"
outdf100.EPSGCodeCV = "EPSG:4326"
sampleWKT =  'POLYGON((-99.54319297853704 37.15853229006052, -97.26976797641987 37.15759429005948, -105.11636298372741 37.14764529005038, -104.52740598317905 37.15119229005359, -104.09963198278069 37.15376929005606, -103.56062798227867 37.156443290058405, -103.12301898187116 37.157137290059154, -103.08639398183686 37.15689329005886, -103.00203898175846 37.156332290058344, -99.90287697887197 37.162385290064094, -99.54319297853704 37.15853229006052))'
outdf100.Geometry = sampleWKT

# replace NaN with blank cells
outdf100 = outdf100.replace(np.nan, '')
outdf100.head(5)

,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,ReportingUnitUpdateDate,ReportingUnitProductVersion,StateCV,EPSGCodeCV,Geometry
0,NM_1,1,Bernalillo,County,,,NM,EPSG:4326,"POLYGON((-99.54319297853704 37.15853229006052,..."
1,NM_2,2,Catron,County,,,NM,EPSG:4326,"POLYGON((-99.54319297853704 37.15853229006052,..."
2,NM_3,3,Chaves,County,,,NM,EPSG:4326,"POLYGON((-99.54319297853704 37.15853229006052,..."
3,NM_4,4,Cibola,County,,,NM,EPSG:4326,"POLYGON((-99.54319297853704 37.15853229006052,..."
4,NM_5,5,Colfax,County,,,NM,EPSG:4326,"POLYGON((-99.54319297853704 37.15853229006052,..."

In [11]:
print("Writing out...")

#write out
out_repunit = 'reportingunits.csv'
outdf100.to_csv(out_repunit, index=False, encoding = "utf-8")

print("Done sites")

Writing out...
Done sites