# Pre-processing Nevada Allocation data for WaDEQA upload.
Date Updated: 08/03/2020
Purpose:  To pre-process the Nevada data into one master file for simple DataFrame creation and extraction

### Notes:
To incldue owners, made a temporary Permit_Owners_5temp.csv file by removing previous onwers from list.  Plan on left-join to POD AllApps_2.csv by 'app' field.


https://ndwr.maps.arcgis.com/home/item.html?id=0d050f7b79724404b80bf29589f67363
https://arcgis.shpo.nv.gov/arcgis/rest/services/Water_Resources_Public_Data/WaterRights_POD_POU/FeatureServer
https://arcgis.shpo.nv.gov/arcgis/rest/services/Water_Resources_Public_Data/SE_HydrographicBasins/FeatureServer
http://water.nv.gov/CodeDefinitions.aspx

In [1]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
#Working Directory and Input File
workingDir = "C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/Nevada/WaterAllocation/RawInputData"
os.chdir(workingDir)

OwnTemp = "Permit_Owners_5temp.csv"
PoDAAInput = "POD AllApps_2_input.csv"
PoUAAInput = "PoU AllApps_3_input.csv"

#Dataframe creation
dfown = pd.read_csv(OwnTemp)
dfPoD = pd.read_csv(PoDAAInput)
dfPoU = pd.read_csv(PoUAAInput)

C:\Users\rjame\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\rjame\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dfPoD['in_PODorPOUSite'] = "POD"
print(len(dfPoD))
dfPoD.head(3)

102951

,OBJECTID,app,cert,app_status,mou,site_name,permit_info,basin,county,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite
0,1,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.000,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD
1,2,18001,5536,CER,IRR,001 N47 E30 04B 2,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,32.58,0.045,5/14/1959 12:00:00 AM,47N,30E,4.0,TR38,NaN,41.988679,-118.636906,NaN,NaN,-118.636906,41.988679,POD
2,3,19510,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,1/30/1961 12:00:00 AM,47N,30E,15.0,NW,NW,41.962780,-118.616112,NaN,NaN,-118.616112,41.962780,POD

In [4]:
dfPoU['in_PODorPOUSite'] = "POU"
print(len(dfPoU))
dfPoU.head(3)

29161

,OID_,app,cert,app_status,mou,site_name,permit_info,basin,county,source,duty_balance,div_balance,prior_dt,pou_acre_total,poly_id,GlobalID,Shape_Length,Shape_Area,y,x,in_PODorPOUSite
0,1,V11569,NaN,VST,COM,036 N39 E52 15DBCC2,http://water.nv.gov/permitinformation.aspx?app...,36,EL,UG,0.0,0.2,1/1/1929 0:00,0.0,69906,{00000000-0000-0000-0000-000000000000},2309.908016,194139.9751,41.276172,-116.117519,POU
1,2,V11519,NaN,VST,IRR,033A N43 E37 34BBBD1,http://water.nv.gov/permitinformation.aspx?app...,033A,HU,UG,0.0,0.0,1/1/1923 0:00,0.0,70212,{00000000-0000-0000-0000-000000000000},4004.290899,640308.9633,41.567773,-117.799972,POU
2,3,V11518,NaN,VST,IRR,033A N43 E37 29DDCB1,http://water.nv.gov/permitinformation.aspx?app...,033A,HU,UG,0.0,0.0,1/1/1919 0:00,0.0,70211,{00000000-0000-0000-0000-000000000000},2851.620993,499295.6232,41.573568,-117.834775,POU

In [5]:
df = pd.concat([dfPoD, dfPoU], ignore_index=True)
df = df.drop_duplicates()
print(len(df))
df.head()

132112

,OBJECTID,app,cert,app_status,mou,site_name,permit_info,basin,county,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.000,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN
1,2.0,18001,5536,CER,IRR,001 N47 E30 04B 2,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,32.58,0.045,5/14/1959 12:00:00 AM,47N,30E,4.0,TR38,NaN,41.988679,-118.636906,NaN,NaN,-118.636906,41.988679,POD,NaN,NaN,NaN,NaN,NaN
2,3.0,19510,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,1/30/1961 12:00:00 AM,47N,30E,15.0,NW,NW,41.962780,-118.616112,NaN,NaN,-118.616112,41.962780,POD,NaN,NaN,NaN,NaN,NaN
3,4.0,19511,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,1/30/1961 12:00:00 AM,47N,30E,15.0,SW,SW,41.951389,-118.616386,NaN,NaN,-118.616386,41.951389,POD,NaN,NaN,NaN,NaN,NaN
4,5.0,20574,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,7/13/1962 12:00:00 AM,47N,30E,23.0,SW,W2,41.940556,-118.596947,NaN,NaN,-118.596947,41.940556,POD,NaN,NaN,NaN,NaN,NaN

In [6]:
#With owner dataframe, Sort and Merge Columns
dfown = dfown.groupby('app', sort=False).agg(lambda x: ', '.join([str(elem) for elem in (list(set(x)))])).reset_index()
print(len(dfown))
dfown.head()

104112

,app,OBJECTID,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county,apn,owner_remark
0,1,1,"PRATT, A.C.",B,0.0,0.0,0.0,0.0,,,nan,nan
1,2,24829,H.F. DANGBERG LAND & LIVESTOCK CO.,B,0.0,0.0,0.0,0.0,,,nan,nan
2,3,51696,"DANGBERG, H.C.",B,0.0,0.0,0.0,0.0,,,nan,nan
3,4,73993,RENO POWER LIGHT & WATER CO.,B,0.0,0.0,0.0,0.0,,,nan,nan
4,5,"97165, 97166","TALLMAN, CLAY, GRIFFIN, P.L.",B,0.0,0.0,0.0,0.0,,nan,nan,...

In [7]:
#Merge POD and Owner by app field
df = pd.merge(df, dfown, left_on='app', right_on='app', how='left') # Joinning PoD data
df.head()

,OBJECTID_x,app,cert,app_status,mou,site_name,permit_info,basin,county_x,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area,OBJECTID_y,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county_y,apn,owner_remark
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.000,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,18001,5536,CER,IRR,001 N47 E30 04B 2,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,32.58,0.045,5/14/1959 12:00:00 AM,47N,30E,4.0,TR38,NaN,41.988679,-118.636906,NaN,NaN,-118.636906,41.988679,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,19510,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,1/30/1961 12:00:00 AM,47N,30E,15.0,NW,NW,41.962780,-118.616112,NaN,NaN,-118.616112,41.962780,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,19511,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,1/30/1961 12:00:00 AM,47N,30E,15.0,SW,SW,41.951389,-118.616386,NaN,NaN,-118.616386,41.951389,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,20574,NaN,CAN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,UG,0.00,0.000,7/13/1962 12:00:00 AM,47N,30E,23.0,SW,W2,41.940556,-118.596947,NaN,NaN,-118.596947,41.940556,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# For creating WaterSourceTypeCV
UnknownWSCVDict = {
"EFF" : "Reuse",
"GEO" : "Groundwater",
"LAK" : "Surface Water",
"OGW" : "Groundwater",
"OSW" : "Surface Water",
"RES" : "Reservoir",
"SPR" : "Surface Water",
"STO" : "Storage",
"STR" : "Surface Water",
"UG" : "Groundwater",
"UKN" : "Unknown"}
def assignWaterSourceTypeCV(colrowValue):
    if colrowValue == "" or pd.isnull(colrowValue):
        outList = "Unspecified"
    else:
        String1 = colrowValue.strip()  # remove whitespace chars
        try:
            outList = UnknownWSCVDict[String1]
        except:
            outList = "Unspecified"
    return outList

df['in_WaterSourceTypeCV'] = df.apply(lambda row: assignWaterSourceTypeCV(row['source']), axis=1)

In [9]:
# For creating SiteName
def assignSiteName(colrowValue):
    colrowValuestr = str(colrowValue)
    colrowValuestr = colrowValuestr.strip()
    if ((colrowValuestr == "") or pd.isnull(colrowValuestr) or colrowValuestr == 'nan'):
        outList = "Unspecified"
    else:
        outList = colrowValuestr
    return outList

df['in_SiteName'] = df.apply(lambda row: assignSiteName(row['site_name']), axis=1)
df.head(1)

,OBJECTID_x,app,cert,app_status,mou,site_name,permit_info,basin,county_x,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area,OBJECTID_y,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county_y,apn,owner_remark,in_WaterSourceTypeCV,in_SiteName
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.0,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Surface Water,Unspecified

In [10]:
# For creating SiteTypeCV
UnknownSTCVDict = {
    "EFF":"Effluent",
    "GEO":"Geothermal",
    "LAK":"lake",
    "OGW":"Other Ground Water",
    "OSW":"Other Surface Water",
    "RES":"Reservoir",
    "SPR":"Spring",
    "STO":"Storage",
    "STR":"stream",
    "UG":"Underground",
    "UKN":"Unknown"}
def assignSiteTypeCV(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ''
    else:
        String1 = colrowValue.strip()  # remove whitespace chars
        try:
            outList = UnknownSTCVDict[String1]
        except:
            outList = "Unspecified"
    return outList

df['in_SiteTypeCV'] = df.apply(lambda row: assignSiteTypeCV(row['source']), axis=1)
df.head(1)

,OBJECTID_x,app,cert,app_status,mou,site_name,permit_info,basin,county_x,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area,OBJECTID_y,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county_y,apn,owner_remark,in_WaterSourceTypeCV,in_SiteName,in_SiteTypeCV
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.0,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Surface Water,Unspecified,stream

## WaDE Custom Elements (due to missing state site info)

In [11]:
# Creating WaDE Custom site native ID for easy site identification
# ----------------------------------------------------------------------------------------------------

# Create temp SiteNativeID dataframe of unique site.
def assignSiteUUID(colrowValue):
    string1 = str(colrowValue)
    outstring = "WaDENV_S" + string1
    return outstring

dfSiteNativeID = pd.DataFrame()
dfSiteNativeID['in_Latitude'] = df['y']
dfSiteNativeID['in_Longitude'] = df['x']
dfSiteNativeID['in_SiteTypeCV'] = df['in_SiteTypeCV']
dfSiteNativeID['in_SiteName'] = df['in_SiteName']
dfSiteNativeID = dfSiteNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfSiteNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfSiteNativeID['in_SiteNativeID'] = dftemp.apply(lambda row: assignSiteUUID(row['Count']), axis=1)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom site native ID
def retrieveSiteNativeID(A, B, C, D):
    if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
        outList = ''
    else:
        ml = dfSiteNativeID.loc[(dfSiteNativeID['in_Latitude'] == A) & 
                                (dfSiteNativeID['in_Longitude'] == B) &
                                (dfSiteNativeID['in_SiteTypeCV'] == C) &
                                (dfSiteNativeID['in_SiteName'] == D), 'in_SiteNativeID']
        if not (ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

df['in_SiteNativeID'] = df.apply(lambda row: retrieveSiteNativeID( row['y'], row['x'], row['in_SiteTypeCV'], row['in_SiteName']), axis=1)
df.head(1)

,OBJECTID_x,app,cert,app_status,mou,site_name,permit_info,basin,county_x,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area,OBJECTID_y,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county_y,apn,owner_remark,in_WaterSourceTypeCV,in_SiteName,in_SiteTypeCV,in_SiteNativeID
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.0,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Surface Water,Unspecified,stream,WaDENV_S1

In [12]:
# Creating WaDE Custom water source native ID for easy water source identification
# ----------------------------------------------------------------------------------------------------

# Create temp WaterSourceNativeID dataframe of unique water source.
def assignWaterSourceNativeID(colrowValue):
    string1 = str(colrowValue)
    outstring = "WaDENV_WS" + string1
    return outstring

dfWaterSourceNativeID = pd.DataFrame()
dfWaterSourceNativeID['in_WaterSourceTypeCV'] = df['in_WaterSourceTypeCV']
dfWaterSourceNativeID = dfWaterSourceNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfWaterSourceNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfWaterSourceNativeID['in_WaterSourceNativeID'] = dftemp.apply(lambda row: assignWaterSourceNativeID(row['Count']), axis=1)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom water source native ID
def retrieveWaterSourceNativeID(A):
    if (A == '') or (pd.isnull(A)):
        outList = ''
    else:
        ml = dfWaterSourceNativeID.loc[(dfWaterSourceNativeID['in_WaterSourceTypeCV'] == A), 'in_WaterSourceNativeID']
        if not (ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

df['in_WaterSourceNativeID'] = df.apply(lambda row: retrieveWaterSourceNativeID(row['in_WaterSourceTypeCV']), axis=1)
df.head(1)

,OBJECTID_x,app,cert,app_status,mou,site_name,permit_info,basin,county_x,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area,OBJECTID_y,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county_y,apn,owner_remark,in_WaterSourceTypeCV,in_SiteName,in_SiteTypeCV,in_SiteNativeID,in_WaterSourceNativeID
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.0,9/23/1954 12:00:00 AM,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Surface Water,Unspecified,stream,WaDENV_S1,WaDENV_WS1

In [13]:
#Changing datatype of used date fields. 
df['prior_dt'] = pd.to_datetime(df['prior_dt'], errors = 'coerce')
df['prior_dt'] = pd.to_datetime(df["prior_dt"].dt.strftime('%m/%d/%Y'))
df.head(1)

,OBJECTID_x,app,cert,app_status,mou,site_name,permit_info,basin,county_x,source,duty_balance,div_balance,prior_dt,pod_twn,pod_rng,pod_sec,pod_q,pod_qq,latitude,longitude,poly_id,sup_group,x,y,in_PODorPOUSite,OID_,pou_acre_total,GlobalID,Shape_Length,Shape_Area,OBJECTID_y,owner_name,owner_type,owner_pct,owner_duty,owner_div_rate,owner_acre,owner_chg_app,county_y,apn,owner_remark,in_WaterSourceTypeCV,in_SiteName,in_SiteTypeCV,in_SiteNativeID,in_WaterSourceNativeID
0,1.0,15809,NaN,DEN,IRR,NaN,http://water.nv.gov/permitinformation.aspx?app...,001,HU,STR,746.67,4.0,1954-09-23,47N,31E,5.0,LT03,,41.988335,-118.527229,NaN,NaN,-118.527229,41.988335,POD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Surface Water,Unspecified,stream,WaDENV_S1,WaDENV_WS1

### Exporting to Finished File

In [14]:
# Output
df.to_csv('P_MastersNV.csv', index=False)