# Data Assessment Analytics
- Utah Water Rights Data

In [1]:
# Needed Libararies

# working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd

# visulizaiton
import matplotlib.pyplot as plt
import seaborn as sns

# Cleanup
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
#Setting work directory
workingDir = "C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/Utah/WaterAllocation/ProcessedInputData"
os.chdir(workingDir)

## Water Source Information

In [3]:
# watersources.csv
inputfile = "watersources.csv"
df_ws = pd.read_csv(inputfile)
print(len(df_ws))

27931

In [4]:
df_ws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   WaterSourceUUID          27931 non-null  object
 1   Geometry                 0 non-null      float64
 2   GNISFeatureNameCV        0 non-null      float64
 3   WaterQualityIndicatorCV  27931 non-null  object
 4   WaterSourceName          27929 non-null  object
 5   WaterSourceNativeID      27931 non-null  object
 6   WaterSourceTypeCV        27931 non-null  object
dtypes: float64(2), object(5)
memory usage: 1.5+ MB

In [5]:
df_ws.describe(include='all')

,WaterSourceUUID,Geometry,GNISFeatureNameCV,WaterQualityIndicatorCV,WaterSourceName,WaterSourceNativeID,WaterSourceTypeCV
count,27931,0.0,0.0,27931,27929,27931,27931
unique,27931,NaN,NaN,1,26484,27931,3
top,UTwr_WS1,NaN,NaN,Fresh,Taylor Canyon Spring and wells,WaDEUT_WS1,Surface Water
freq,1,NaN,NaN,27931,2,1,24249
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# watersources_missing.xlsx
try:
    inputfile = "watersources_missing.xlsx"
    df_ws_ms = pd.read_excel(inputfile)
    print(len(df_ws_ms))
except:
    print("No watersources_missing file.")

No watersources_missing file.

In [7]:
try:
    df_ws_ms.info()
except:
    print("No watersources_missing file.")

No watersources_missing file.

In [8]:
try:
    display(df_ws_ms.describe(include='all'))
except:
    print("No watersources_missing file.")

No watersources_missing file.

## Site Information

In [9]:
# sites.csv
inputfile = "sites.csv"
df_s = pd.read_csv(inputfile)
print(len(df_s))

464611

C:\Users\rjame\AppData\Local\Temp/ipykernel_24600/1955809976.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_s = pd.read_csv(inputfile)

In [10]:
df_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464611 entries, 0 to 464610
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   SiteUUID                464611 non-null  object
 1   RegulatoryOverlayUUIDs  0 non-null       float64
 2   WaterSourceUUIDs        464611 non-null  object
 3   CoordinateAccuracy      0 non-null       float64
 4   CoordinateMethodCV      464611 non-null  object
 5   County                  0 non-null       float64
 6   EPSGCodeCV              464611 non-null  int64
 7   Geometry                0 non-null       float64
 8   GNISCodeCV              0 non-null       float64
 9   HUC12                   0 non-null       float64
 10  HUC8                    0 non-null       float64
 11  Latitude                464611 non-null  float64
 12  Longitude               464611 non-null  float64
 13  NHDNetworkStatusCV      0 non-null       float64
 14  NHDProductCV            0 non-null       float64
 15  PODorPOUSite            464611 non-null  object
 16  SiteName                464611 non-null  object
 17  SiteNativeID            464611 non-null  int64
 18  SitePoint               0 non-null       float64
 19  SiteTypeCV              371052 non-null  object
 20  StateCV                 464611 non-null  object
 21  USGSSiteID              0 non-null       float64
dtypes: float64(13), int64(2), object(7)
memory usage: 78.0+ MB

In [11]:
df_s.describe()

,RegulatoryOverlayUUIDs,CoordinateAccuracy,County,EPSGCodeCV,Geometry,GNISCodeCV,HUC12,HUC8,Latitude,Longitude,NHDNetworkStatusCV,NHDProductCV,SiteNativeID,SitePoint,USGSSiteID
count,0.0,0.0,0.0,464611.0,0.0,0.0,0.0,0.0,464611.000000,464611.000000,0.0,0.0,4.646110e+05,0.0,0.0
mean,NaN,NaN,NaN,4326.0,NaN,NaN,NaN,NaN,39.813086,-111.732850,NaN,NaN,5.899474e+08,NaN,NaN
std,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.344365,1.075414,NaN,NaN,2.962134e+08,NaN,NaN
min,NaN,NaN,NaN,4326.0,NaN,NaN,NaN,NaN,36.943426,-114.053209,NaN,NaN,1.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,4326.0,NaN,NaN,NaN,NaN,38.644322,-112.304878,NaN,NaN,7.385250e+08,NaN,NaN
50%,NaN,NaN,NaN,4326.0,NaN,NaN,NaN,NaN,40.243143,-111.839036,NaN,NaN,7.386411e+08,NaN,NaN
75%,NaN,NaN,NaN,4326.0,NaN,NaN,NaN,NaN,40.701143,-111.343455,NaN,NaN,7.387573e+08,NaN,NaN
max,NaN,NaN,NaN,4326.0,NaN,NaN,NaN,NaN,42.122808,-109.041194,NaN,NaN,7.388737e+08,NaN,NaN

In [12]:
# sites_missing.xlsx
try:
    inputfile = "sites_missing.xlsx"
    df_s_ms = pd.read_excel(inputfile)
    print(len(df_s_ms))
except:
    print("No sites_missing file.")

No sites_missing file.

In [13]:
try:
    df_s_ms.info()
except:
    print("No sites_missing file.")

No sites_missing file.

In [14]:
try:
    display(df_s_ms.describe(include='all'))
except:
    print("No sites_missing file.")

No sites_missing file.

## Water Allocations Info

In [15]:
# waterallocations.csv
inputfile = "waterallocations.csv"
df_wa = pd.read_csv(inputfile)
print(len(df_wa))
df_wa.head(1)

154695

,AllocationNativeID,MethodUUID,OrganizationUUID,SiteUUID,VariableSpecificUUID,AllocationApplicationDate,AllocationAssociatedConsumptiveUseSiteIDs,AllocationAssociatedWithdrawalSiteIDs,AllocationBasisCV,AllocationChangeApplicationIndicator,AllocationCommunityWaterSupplySystem,AllocationCropDutyAmount,AllocationExpirationDate,AllocationFlow_CFS,AllocationLegalStatusCV,AllocationOwner,AllocationPriorityDate,AllocationSDWISIdentifierCV,AllocationTimeframeEnd,AllocationTimeframeStart,AllocationTypeCV,AllocationVolume_AF,BeneficialUseCategory,CommunityWaterSupplySystem,CropTypeCV,CustomerTypeCV,DataPublicationDate,DataPublicationDOI,ExemptOfVolumeFlowPriority,GeneratedPowerCapacityMW,IrrigatedAcreage,IrrigationMethodCV,LegacyAllocationIDs,OwnerClassificationCV,PopulationServed,PowerType,PrimaryUseCategory,WaterAllocationNativeURL
0,01-1000,UTwr_M1,UTwr_O1,"UTwr_S35336,UTwr_S77683",UTwr_V1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,MOAB DISTRICT USA BUREAU OF LAND MANAGEMENT,1879-01-01,NaN,09/30,10/01,NaN,0.0,"Other,Stockwatering",NaN,NaN,NaN,02/17/2022,NaN,0,NaN,NaN,NaN,NaN,Bureau of Land Management (USBLM),NaN,NaN,Unspecified,NaN

In [16]:
df_wa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154695 entries, 0 to 154694
Data columns (total 38 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   AllocationNativeID                         154695 non-null  object
 1   MethodUUID                                 154695 non-null  object
 2   OrganizationUUID                           154695 non-null  object
 3   SiteUUID                                   154695 non-null  object
 4   VariableSpecificUUID                       154695 non-null  object
 5   AllocationApplicationDate                  0 non-null       float64
 6   AllocationAssociatedConsumptiveUseSiteIDs  0 non-null       float64
 7   AllocationAssociatedWithdrawalSiteIDs      0 non-null       float64
 8   AllocationBasisCV                          0 non-null       float64
 9   AllocationChangeApplicationIndicator       0 non-null       float64
 10  AllocationCommunityWaterSupplySystem       0 non-null       float64
 11  AllocationCropDutyAmount                   0 non-null       float64
 12  AllocationExpirationDate                   0 non-null       float64
 13  AllocationFlow_CFS                         154695 non-null  float64
 14  AllocationLegalStatusCV                    0 non-null       float64
 15  AllocationOwner                            154694 non-null  object
 16  AllocationPriorityDate                     154695 non-null  object
 17  AllocationSDWISIdentifierCV                0 non-null       float64
 18  AllocationTimeframeEnd                     154695 non-null  object
 19  AllocationTimeframeStart                   154695 non-null  object
 20  AllocationTypeCV                           0 non-null       float64
 21  AllocationVolume_AF                        154695 non-null  float64
 22  BeneficialUseCategory                      154695 non-null  object
 23  CommunityWaterSupplySystem                 0 non-null       float64
 24  CropTypeCV                                 0 non-null       float64
 25  CustomerTypeCV                             0 non-null       float64
 26  DataPublicationDate                        154695 non-null  object
 27  DataPublicationDOI                         0 non-null       float64
 28  ExemptOfVolumeFlowPriority                 154695 non-null  int64
 29  GeneratedPowerCapacityMW                   0 non-null       float64
 30  IrrigatedAcreage                           0 non-null       float64
 31  IrrigationMethodCV                         0 non-null       float64
 32  LegacyAllocationIDs                        0 non-null       float64
 33  OwnerClassificationCV                      154695 non-null  object
 34  PopulationServed                           0 non-null       float64
 35  PowerType                                  0 non-null       float64
 36  PrimaryUseCategory                         154695 non-null  object
 37  WaterAllocationNativeURL                   0 non-null       float64
dtypes: float64(24), int64(1), object(13)
memory usage: 44.8+ MB

In [17]:
df_wa.describe(include='all')

,AllocationNativeID,MethodUUID,OrganizationUUID,SiteUUID,VariableSpecificUUID,AllocationApplicationDate,AllocationAssociatedConsumptiveUseSiteIDs,AllocationAssociatedWithdrawalSiteIDs,AllocationBasisCV,AllocationChangeApplicationIndicator,AllocationCommunityWaterSupplySystem,AllocationCropDutyAmount,AllocationExpirationDate,AllocationFlow_CFS,AllocationLegalStatusCV,AllocationOwner,AllocationPriorityDate,AllocationSDWISIdentifierCV,AllocationTimeframeEnd,AllocationTimeframeStart,AllocationTypeCV,AllocationVolume_AF,BeneficialUseCategory,CommunityWaterSupplySystem,CropTypeCV,CustomerTypeCV,DataPublicationDate,DataPublicationDOI,ExemptOfVolumeFlowPriority,GeneratedPowerCapacityMW,IrrigatedAcreage,IrrigationMethodCV,LegacyAllocationIDs,OwnerClassificationCV,PopulationServed,PowerType,PrimaryUseCategory,WaterAllocationNativeURL
count,154695,154695,154695,154695,154695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,154695.000000,0.0,154694,154695,0.0,154695,154695,0.0,1.546950e+05,154695,0.0,0.0,0.0,154695,0.0,154695.0,0.0,0.0,0.0,0.0,154695,0.0,0.0,154695,0.0
unique,154695,1,1,154695,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75562,22540,NaN,1,1,NaN,NaN,169,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN,1,NaN
top,01-1000,UTwr_M1,UTwr_O1,"UTwr_S35336,UTwr_S77683",UTwr_V1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA FOREST SERVICE,1869-01-01,NaN,09/30,10/01,NaN,NaN,Stockwatering,NaN,NaN,NaN,02/17/2022,NaN,NaN,NaN,NaN,NaN,NaN,In Review,NaN,NaN,Unspecified,NaN
freq,1,154695,154695,1,154695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11419,4099,NaN,154695,154695,NaN,NaN,39622,NaN,NaN,NaN,154695,NaN,NaN,NaN,NaN,NaN,NaN,112599,NaN,NaN,154695,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.900427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.659463e+02,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.722905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.469860e+04,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.030000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.066000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000e-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140336.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.920000e+06,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# waterallocations_missing.xlsx
try:
    inputfile = "waterallocations_missing.xlsx"
    df_wa_ms = pd.read_excel(inputfile)
    print(len(df_wa_ms))
except:
    print("No waterallocations_missing file.")

28023

In [19]:
try:
    df_wa_ms.info()
except:
    print("No waterallocations_missing file.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28023 entries, 0 to 28022
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ReasonRemoved      28023 non-null  object
 1   RowIndex           28023 non-null  int64
 2   IncompleteField_1  17769 non-null  object
 3   IncompleteField_2  0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 875.8+ KB

In [20]:
try:
    display(df_wa_ms.describe(include='all'))
except:
    print("No waterallocations_missing file.")

,ReasonRemoved,RowIndex,IncompleteField_1,IncompleteField_2
count,28023,28023.000000,17769,0.0
unique,4,NaN,15956,NaN
top,Incomplete AllocationPriorityDate,NaN,"1949-12-08,2000-06-07",NaN
freq,26735,NaN,38,NaN
mean,NaN,88903.022624,NaN,NaN
std,NaN,59348.978826,NaN,NaN
min,NaN,0.000000,NaN,NaN
25%,NaN,21303.500000,NaN,NaN
50%,NaN,96207.000000,NaN,NaN
75%,NaN,142121.000000,NaN,NaN
max,NaN,182717.000000,NaN,NaN