# Pre-processing Delaware Riber Basin Commission Aggregated Amounts data for WaDE upload.
Date Updated: 08/29/2023
Purpose:  To pre-process the ND data into one master file for simple DataFrame creation and extraction

In [1]:
#Needed Libararies

# working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd
import math

# visulizaiton
import matplotlib.pyplot as plt
import seaborn as sns

# API retrieval
import requests
import json

# Cleanup
import re
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook
pd.set_option('display.float_format', lambda x: '%.5f' % x) # suppress scientific notation in Pandas

In [2]:
# Working Directory
workingDir = "G:/Shared drives/WaDE Data/NorthDakota/AggregatedAmounts"
os.chdir(workingDir)
print(os.getcwd())

G:\Shared drives\WaDE Data\NorthDakota\AggregatedAmounts

## Input Source Data

In [3]:
# timeseries data, xlsx file
dfA1 ="RawInputData/WATER USE REPORT_Basin_use_20230829_All.zip"
df1 = pd.read_csv(dfA1, encoding = "ISO-8859-1").replace(np.nan, "")

# Drop duplicates
dfIn = df1.drop_duplicates().reset_index(drop=True).replace(np.nan, "")

# WaDE UUID tracker for data assessment
if 'WaDEUUID' not in dfIn:
    dfIn['WaDEUUID'] = "ndag" + dfIn.index.astype(str)
    dfIn.to_csv('WATER USE REPORT_Basin_use_20230829_All.zip', compression=dict(method='zip', archive_name='WATER USE REPORT_Basin_use_20230829_All.csv'), index=False)

print(len(dfIn))
dfIn.head()

7605

   Ã¯Â»Â¿Basin  Use Type  Year  Acre Feet  Acres WaDEUUID
0  Apple Creek  Domestic  Year  Acre Feet  Acres    drbc0
1                         1984          0      0    drbc1
2                         1983          0      0    drbc2
3                         1981          0      0    drbc3
4                         1977          0      0    drbc4

In [4]:
#Loop through each column filling out the basin and use type fields that are missing

def basinAdd(dfIn):
    # Iterate through each column
    for col in dfIn.columns:
        prev_value = None

        # Iterate through each row
        for index, value in dfIn[col].items():
            if value == "":
                if prev_value is not None:
                    dfIn.at[index, col] = prev_value
            else:
                prev_value = value

    return dfIn

dfIn = basinAdd(dfIn.copy())
print(len(dfIn))
dfIn.head()

7605

   Ã¯Â»Â¿Basin  Use Type  Year  Acre Feet  Acres WaDEUUID
0  Apple Creek  Domestic  Year  Acre Feet  Acres    drbc0
1  Apple Creek  Domestic  1984          0      0    drbc1
2  Apple Creek  Domestic  1983          0      0    drbc2
3  Apple Creek  Domestic  1981          0      0    drbc3
4  Apple Creek  Domestic  1977          0      0    drbc4

In [5]:
#dropping the rows that have the column names
dfIn = dfIn[dfIn['Acres'] != 'Acres']
print(len(dfIn))
dfIn.head(1)

7316

   Ã¯Â»Â¿Basin  Use Type  Year Acre Feet Acres WaDEUUID
1  Apple Creek  Domestic  1984         0     0    drbc1

In [6]:
# shapefile info
gdf_drb147 = gpd.read_file('RawInputData/shapefile/NDGISHUB_HUC8_Subbasin.zip', crs="EPSG:4326")
print(len(gdf_drb147))
gdf_drb147.head(1)

492

,OBJECTID,TNMID,METASOURCE,SOURCEDATA,SOURCEORIG,SOURCEFEAT,LOADDATE,AREASQKM,AREAACRES,GNIS_ID,NAME,STATES,HUC8,SHAPE_Leng,SHAPE_Area,geometry
0,599,{5A55C2DE-E94B-4BAD-BEB0-81066EE9F5AF},None,None,None,None,2020-05-06,2572.91000,635778.39000,None,Middle Fork Powder,WY,10090201,3.49304,0.28724,"POLYGON ((-107.06414 44.15079, -107.06298 44.1..."

In [7]:
# left merge timeseries info with shapefile info.
dfIn2 = pd.DataFrame()
dfIn2 = pd.merge(dfIn, gdf_drb147, left_on='Ã¯Â»Â¿Basin', right_on = 'NAME')
dfIn2 = dfIn2.drop_duplicates().replace(np.nan, "").replace("nan,nan", "").reset_index(drop=True)
print(len(dfIn2))
dfIn2.head()

8728

,Ã¯Â»Â¿Basin,Use Type,Year,Acre Feet,Acres,WaDEUUID,OBJECTID,TNMID,METASOURCE,SOURCEDATA,SOURCEORIG,SOURCEFEAT,LOADDATE,AREASQKM,AREAACRES,GNIS_ID,NAME,STATES,HUC8,SHAPE_Leng,SHAPE_Area,geometry
0,Apple Creek,Domestic,1984,0,0,drbc1,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
1,Apple Creek,Domestic,1983,0,0,drbc2,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
2,Apple Creek,Domestic,1981,0,0,drbc3,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
3,Apple Creek,Domestic,1977,0,0,drbc4,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
4,Apple Creek,Fish and Wildlife,1990,0.1,0,drbc6,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."

## Convert to WaDE Input Data

In [8]:
dfIn2.head()

,Ã¯Â»Â¿Basin,Use Type,Year,Acre Feet,Acres,WaDEUUID,OBJECTID,TNMID,METASOURCE,SOURCEDATA,SOURCEORIG,SOURCEFEAT,LOADDATE,AREASQKM,AREAACRES,GNIS_ID,NAME,STATES,HUC8,SHAPE_Leng,SHAPE_Area,geometry
0,Apple Creek,Domestic,1984,0,0,drbc1,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
1,Apple Creek,Domestic,1983,0,0,drbc2,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
2,Apple Creek,Domestic,1981,0,0,drbc3,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
3,Apple Creek,Domestic,1977,0,0,drbc4,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."
4,Apple Creek,Fish and Wildlife,1990,0.1,0,drbc6,618,{5E41D692-5B49-4F65-AADA-5DFBF7C12167},,,,,2012-06-11,9411.15000,2325544.70000,,Apple Creek,ND,10130103,7.81853,1.11013,"POLYGON ((-100.04608 47.43855, -100.04570 47.4..."

In [9]:
# Withdrawal dataframe
# --------------------------

# create output POD dataframe
df = pd.DataFrame()

# Data Assessment UUID
df['WaDEUUID'] = dfIn2['WaDEUUID']

# Method Info
df['in_MethodUUID'] = "NDag_M1"

# Variable Info
df['in_VariableSpecificUUID'] = "" # determine below
df['in_AggregationIntervalUnitCV'] = "Annual"
df['in_VariableCV'] = "Withdrawal"
df['in_VariableSpecificCV'] = "" # determine below

# Organization Info
df['in_OrganizationUUID'] = "NDag_O1"

# Water Source
df['in_Geometry'] = ""
df['in_GNISFeatureNameCV'] = ""
df['in_WaterQualityIndicatorCV'] = ""
df["in_WaterSourceName"] = ""
df['in_WaterSourceNativeID'] = ""
df["in_WaterSourceTypeCV"] = "Surface and Groundwater"

# ReportingUnits Info
df['in_EPSGCodeCV'] = 4326
df['in_ReportingUnitName'] = dfIn2['Ã¯Â»Â¿Basin']
df['in_ReportingUnitNativeID'] = "nd" +dfIn2['HUC8'].replace("", 0).fillna(0).astype(str).str.strip()
df['in_ReportingUnitProductVersion'] = ""
df['in_ReportingUnitTypeCV'] = "HUC8"
df['in_ReportingUnitUpdateDate'] = ""
df['in_StateCV'] = "ND"

# AggregatedAmounts Info
df['in_AllocationCropDutyAmount'] = ""
df['in_Amount'] = dfIn2['Acre Feet']
df['in_BeneficialUseCategory'] = dfIn2['Use Type']
df['in_CommunityWaterSupplySystem'] = ""
df['in_CropTypeCV'] = ""
df['in_CustomerTypeCV'] = ""
df['in_DataPublicationDate'] = ""
df['in_DataPublicationDOI'] = ""
df['in_InterbasinTransferFromID'] = ""
df['in_InterbasinTransferToID'] = ""
df['in_IrrigatedAcreage'] = dfIn2['Acres']
df['in_IrrigationMethodCV'] = ""
df['in_PopulationServed'] = ""
df['in_PowerGeneratedGWh'] = ""
df['in_PowerType'] = ""
df['in_PrimaryUseCategoryCV'] = ""
df['in_ReportYearCV'] = dfIn2['Year']
df['in_SDWISIdentifierCV'] = ""
df['in_TimeframeEnd'] = "12/31/" + dfIn2['Year'] # determine below
df['in_TimeframeStart'] = "01/01/" + dfIn2['Year']  # determine below

outdf = df.copy()
outdf = outdf.drop_duplicates().reset_index(drop=True)
print(len(outdf))
outdf.head(5)

8728

,WaDEUUID,in_MethodUUID,in_VariableSpecificUUID,in_AggregationIntervalUnitCV,in_VariableCV,in_VariableSpecificCV,in_OrganizationUUID,in_Geometry,in_GNISFeatureNameCV,in_WaterQualityIndicatorCV,in_WaterSourceName,in_WaterSourceNativeID,in_WaterSourceTypeCV,in_EPSGCodeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitProductVersion,in_ReportingUnitTypeCV,in_ReportingUnitUpdateDate,in_StateCV,in_AllocationCropDutyAmount,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_CropTypeCV,in_CustomerTypeCV,in_DataPublicationDate,in_DataPublicationDOI,in_InterbasinTransferFromID,in_InterbasinTransferToID,in_IrrigatedAcreage,in_IrrigationMethodCV,in_PopulationServed,in_PowerGeneratedGWh,in_PowerType,in_PrimaryUseCategory,in_ReportYearCV,in_SDWISIdentifierCV,in_TimeframeEnd,in_TimeframeStart
0,drbc1,NDag_M1,,Annual,Withdrawal,,NDag_O1,,,,,,Surface and Groundwater,4326,Apple Creek,nd10130103,,HUC8,,ND,,0,Domestic,,,,,,,,0,,,,,,1984,,12/31/1984,01/01/1984
1,drbc2,NDag_M1,,Annual,Withdrawal,,NDag_O1,,,,,,Surface and Groundwater,4326,Apple Creek,nd10130103,,HUC8,,ND,,0,Domestic,,,,,,,,0,,,,,,1983,,12/31/1983,01/01/1983
2,drbc3,NDag_M1,,Annual,Withdrawal,,NDag_O1,,,,,,Surface and Groundwater,4326,Apple Creek,nd10130103,,HUC8,,ND,,0,Domestic,,,,,,,,0,,,,,,1981,,12/31/1981,01/01/1981
3,drbc4,NDag_M1,,Annual,Withdrawal,,NDag_O1,,,,,,Surface and Groundwater,4326,Apple Creek,nd10130103,,HUC8,,ND,,0,Domestic,,,,,,,,0,,,,,,1977,,12/31/1977,01/01/1977
4,drbc6,NDag_M1,,Annual,Withdrawal,,NDag_O1,,,,,,Surface and Groundwater,4326,Apple Creek,nd10130103,,HUC8,,ND,,0.1,Fish and Wildlife,,,,,,,,0,,,,,,1990,,12/31/1990,01/01/1990

## WaDE Custom Elements (due to missing sate info)

In [10]:
# Clean owner name up
def removeSpecialCharsFunc(Val):
    Val = str(Val)
    Val = re.sub("[$@&.;,/\)(-]", "", Val).title().replace(" ", "").strip()
    return Val

In [11]:
outdf['in_ReportingUnitName'] = outdf.apply(lambda row: removeSpecialCharsFunc(row['in_ReportingUnitName']), axis=1)
outdf['in_ReportingUnitName'].unique()

array(['AppleCreek', 'Beaver', 'BigMuddy', 'BoisDeSioux', 'Boxelder',
       'BrushLakeClosedBasin', 'Cedar', 'CharlielittleMuddy', 'Deep',
       'DesLacs', 'DevilsLake', 'Elm', 'Elmmarsh', 'Forest', 'Goose',
       'Grand', 'GrandMaraisred', 'HeadwatersSourisRiver',
       'JamesHeadwaters', 'Knife', 'LakeSakakawea', 'LittleMuddy',
       'LongCreek', 'LowerCannonball', 'LowerHeart',
       'LowerLittleMissouri', 'LowerPembinaRiver', 'LowerSheyenne',
       'LowerSouris', 'LowerYellowstone', 'Maple', 'MiddleLittleMissouri',
       'MiddleRed', 'MiddleSheyenne', 'MooseMountainCreeksourisRiver',
       'NorthForkGrand', 'PaintedWoodssquareButte', 'Park', 'Pipestem',
       'Sandhillwilson', 'Turtle', 'UpperCannonball', 'UpperHeart',
       'UpperJames', 'UpperLakeOahe', 'UpperLittleMissouri',
       'UpperPembinaRiver', 'UpperRed', 'UpperSheyenne',
       'WestMissouriCoteau', 'WesternWildRice', 'Willow'], dtype=object)

In [12]:
outdf['in_WaterSourceName'] = outdf.apply(lambda row: removeSpecialCharsFunc(row['in_WaterSourceName']), axis=1)
outdf['in_WaterSourceName'].unique()

array([''], dtype=object)

In [13]:
def ensureEmptyString(val):
    val = str(val).strip()
    if val == "" or val == " " or val == "nan" or pd.isnull(val):
        outString = ""
    else:
        outString = val
    return outString

In [14]:
outdf['in_WaterSourceName'] = outdf.apply(lambda row: ensureEmptyString(row['in_WaterSourceName']), axis=1)
outdf['in_WaterSourceName'].unique()

array([''], dtype=object)

In [15]:
outdf['in_WaterSourceTypeCV'] = outdf.apply(lambda row: ensureEmptyString(row['in_WaterSourceTypeCV']), axis=1)
outdf['in_WaterSourceTypeCV'].unique()

array(['Surface and Groundwater'], dtype=object)

In [16]:
outdf['in_ReportingUnitName'] = outdf.apply(lambda row: ensureEmptyString(row['in_ReportingUnitName']), axis=1)
outdf['in_ReportingUnitName'].unique()

array(['AppleCreek', 'Beaver', 'BigMuddy', 'BoisDeSioux', 'Boxelder',
       'BrushLakeClosedBasin', 'Cedar', 'CharlielittleMuddy', 'Deep',
       'DesLacs', 'DevilsLake', 'Elm', 'Elmmarsh', 'Forest', 'Goose',
       'Grand', 'GrandMaraisred', 'HeadwatersSourisRiver',
       'JamesHeadwaters', 'Knife', 'LakeSakakawea', 'LittleMuddy',
       'LongCreek', 'LowerCannonball', 'LowerHeart',
       'LowerLittleMissouri', 'LowerPembinaRiver', 'LowerSheyenne',
       'LowerSouris', 'LowerYellowstone', 'Maple', 'MiddleLittleMissouri',
       'MiddleRed', 'MiddleSheyenne', 'MooseMountainCreeksourisRiver',
       'NorthForkGrand', 'PaintedWoodssquareButte', 'Park', 'Pipestem',
       'Sandhillwilson', 'Turtle', 'UpperCannonball', 'UpperHeart',
       'UpperJames', 'UpperLakeOahe', 'UpperLittleMissouri',
       'UpperPembinaRiver', 'UpperRed', 'UpperSheyenne',
       'WestMissouriCoteau', 'WesternWildRice', 'Willow'], dtype=object)

In [17]:
outdf['in_ReportingUnitTypeCV'] = outdf.apply(lambda row: ensureEmptyString(row['in_ReportingUnitTypeCV']), axis=1)
outdf['in_ReportingUnitTypeCV'].unique()

array(['HUC8'], dtype=object)

In [18]:
outdf['in_BeneficialUseCategory'] = outdf.apply(lambda row: ensureEmptyString(row['in_BeneficialUseCategory']), axis=1)
for x in outdf['in_BeneficialUseCategory'].sort_values().unique():
    print(f'"' + x + '",')

"Commercial",
"Domestic",
"Fish and Wildlife",
"Flood Control",
"Industrial",
"Irrigation",
"Multiple Use",
"Municipal",
"Power Generation",
"Recreation",
"Rural Water",
"Stock",

In [19]:
# Fixing n_Amount datatype
outdf['in_Amount'] = pd.to_numeric(outdf['in_Amount'], errors='coerce').replace(0,"").fillna("")
outdf['in_Amount'].unique()

array(['', 0.1, 1695.0, ..., 450.3, 426.8, 193.2], dtype=object)

In [20]:
%%time

# Creating WaDE Custom water source native ID for easy water source identification
# ----------------------------------------------------------------------------------------------------

# Create temp WaterSourceNativeID dataframe of unique water source.
def assignWaterSourceNativeID(colrowValue):
    string1 = str(colrowValue)
    outstring = "wadeID" + string1
    return outstring

dfWaterSourceNativeID = pd.DataFrame()
dfWaterSourceNativeID['in_WaterSourceName'] = outdf['in_WaterSourceName']
dfWaterSourceNativeID['in_WaterSourceTypeCV'] = outdf['in_WaterSourceTypeCV']
dfWaterSourceNativeID = dfWaterSourceNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfWaterSourceNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfWaterSourceNativeID['in_WaterSourceNativeID'] = dftemp.apply(lambda row: assignWaterSourceNativeID(row['Count']), axis=1)
dfWaterSourceNativeID['linkKey'] = dfWaterSourceNativeID['in_WaterSourceName'].astype(str).str.strip() + dfWaterSourceNativeID['in_WaterSourceTypeCV'].astype(str).str.strip()

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom water source native ID
WaterSourceNativeIDdict = pd.Series(dfWaterSourceNativeID.in_WaterSourceNativeID.values, index=dfWaterSourceNativeID.linkKey.astype(str)).to_dict()
def retrieveWaterSourceNativeID(A, B):
    if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
        outList = ''
    else:
        colrowValue = str(A).strip() + str(B).strip()
        try:
            outList = WaterSourceNativeIDdict[colrowValue]
        except:
            outList = ''
    return outList

outdf['in_WaterSourceNativeID'] = outdf.apply(lambda row: retrieveWaterSourceNativeID( row['in_WaterSourceName'], row['in_WaterSourceTypeCV']), axis=1)
outdf['in_WaterSourceNativeID'].unique()

CPU times: total: 46.9 ms
Wall time: 88.1 ms

array(['wadeID1'], dtype=object)

In [21]:
# determine in_VariableSpecificCV
outdf['in_VariableSpecificCV'] = outdf['in_VariableCV'].astype(str) + "_" + outdf['in_AggregationIntervalUnitCV'].astype(str) + "_" + outdf['in_BeneficialUseCategory'].astype(str) + "_" + outdf['in_WaterSourceTypeCV'].astype(str)
outdf['in_VariableSpecificCV'].unique()

array(['Withdrawal_Annual_Domestic_Surface and Groundwater',
       'Withdrawal_Annual_Fish and Wildlife_Surface and Groundwater',
       'Withdrawal_Annual_Industrial_Surface and Groundwater',
       'Withdrawal_Annual_Irrigation_Surface and Groundwater',
       'Withdrawal_Annual_Municipal_Surface and Groundwater',
       'Withdrawal_Annual_Recreation_Surface and Groundwater',
       'Withdrawal_Annual_Rural Water_Surface and Groundwater',
       'Withdrawal_Annual_Stock_Surface and Groundwater',
       'Withdrawal_Annual_Commercial_Surface and Groundwater',
       'Withdrawal_Annual_Multiple Use_Surface and Groundwater',
       'Withdrawal_Annual_Power Generation_Surface and Groundwater',
       'Withdrawal_Annual_Flood Control_Surface and Groundwater'],
      dtype=object)

In [22]:
%%time

# Creating WaDE VariableSpecificUUID for easy VariableSpecificCV identification 
# use these inputs: VariableCV_AggregationIntervalUnitCV_BeneficalUse_WaterSourceTypeCV
# ----------------------------------------------------------------------------------------------------

# Create temp VariableSpecificUUID dataframe of unique water source.
def assignVariableSpecificUUID(colrowValue):
    string1 = str(colrowValue)
    outstring = "NDag_V" + string1
    return outstring

dfVariableSpecificUUID = pd.DataFrame()
dfVariableSpecificUUID['in_VariableCV'] = outdf['in_VariableCV']
dfVariableSpecificUUID['in_AggregationIntervalUnitCV'] = outdf['in_AggregationIntervalUnitCV']
dfVariableSpecificUUID['in_BeneficialUseCategory'] = outdf['in_BeneficialUseCategory']
dfVariableSpecificUUID['in_WaterSourceTypeCV'] = outdf['in_WaterSourceTypeCV']
dfVariableSpecificUUID = dfVariableSpecificUUID.drop_duplicates()

dftemp = pd.DataFrame(index=dfVariableSpecificUUID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfVariableSpecificUUID['in_VariableSpecificUUID'] = dftemp.apply(lambda row: assignVariableSpecificUUID(row['Count']), axis=1)
dfVariableSpecificUUID['linkKey'] = dfVariableSpecificUUID['in_VariableCV'].astype(str) + dfVariableSpecificUUID['in_AggregationIntervalUnitCV'].astype(str) + dfVariableSpecificUUID['in_BeneficialUseCategory'].astype(str) + dfVariableSpecificUUID['in_WaterSourceTypeCV'].astype(str)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom water source native ID
VariableSpecificUUIDdict = pd.Series(dfVariableSpecificUUID.in_VariableSpecificUUID.values, index=dfVariableSpecificUUID.linkKey.astype(str)).to_dict()
def retrieveVariableSpecificUUID(A, B, C, D):
    if (A == '' and B == '' and C == '' and D == '') or (pd.isnull(A) and pd.isnull(B) and pd.isnull(C) and pd.isnull(D)):
        outList = ''
    else:
        colrowValue = str(A).strip() + str(B).strip() + str(C).strip() + str(D).strip()
        try:
            outList = VariableSpecificUUIDdict[colrowValue]
        except:
            outList = ''
    return outList

outdf['in_VariableSpecificUUID'] = outdf.apply(lambda row: retrieveVariableSpecificUUID(row['in_VariableCV'], row['in_AggregationIntervalUnitCV'], row['in_BeneficialUseCategory'], row['in_WaterSourceTypeCV']), axis=1)
outdf['in_VariableSpecificUUID'].unique()

CPU times: total: 93.8 ms
Wall time: 134 ms

array(['NDag_V1', 'NDag_V2', 'NDag_V3', 'NDag_V4', 'NDag_V5', 'NDag_V6',
       'NDag_V7', 'NDag_V8', 'NDag_V9', 'NDag_V10', 'NDag_V11',
       'NDag_V12'], dtype=object)

## Shapefile Data
- For attaching geometry to csv inputs.

In [23]:
# PoU Shapefile Data
# Shapefile input
#dfshapetemp = gpd.read_file('shapefile//NDGISHUB_HUC8_Subbasin.zip', crs="EPSG:4326")
dfshapetemp = gdf_drb147.copy()
print(len(dfshapetemp))
dfshapetemp.head()

492

,OBJECTID,TNMID,METASOURCE,SOURCEDATA,SOURCEORIG,SOURCEFEAT,LOADDATE,AREASQKM,AREAACRES,GNIS_ID,NAME,STATES,HUC8,SHAPE_Leng,SHAPE_Area,geometry
0,599,{5A55C2DE-E94B-4BAD-BEB0-81066EE9F5AF},None,None,None,None,2020-05-06,2572.91000,635778.39000,None,Middle Fork Powder,WY,10090201,3.49304,0.28724,"POLYGON ((-107.06414 44.15079, -107.06298 44.1..."
1,600,{F3AE2BDB-36ED-4BDA-ADE2-F184FC5592E8},None,None,None,None,2020-05-06,6464.00000,1597288.19000,None,Upper Powder,WY,10090202,6.39120,0.72696,"POLYGON ((-106.03159 44.86487, -106.03140 44.8..."
2,601,{2DC283CA-4E5F-41E6-B26B-3CF2EE51E490},None,None,None,None,2020-05-06,2473.83000,611297.30000,None,Crazy Woman,WY,10090205,3.82049,0.27844,"POLYGON ((-106.26835 44.57113, -106.26740 44.5..."
3,602,{937EBF78-E9C0-4D38-9775-55314B43F8E9},None,None,None,None,2020-05-06,4311.81000,1065471.04000,None,Beaver,"SD,WY",10120107,3.76477,0.48256,"POLYGON ((-104.33156 44.18990, -104.33097 44.1..."
4,603,{60B27A0F-BF39-4521-828F-AC46265EE818},None,None,None,None,2017-10-12,4490.00000,1109503.04000,None,Long Creek,"CN,ND",09010006,7.73751,0.55334,"POLYGON ((-104.42949 49.65328, -104.42913 49.6..."

In [24]:
columnsList = ['in_ReportingUnitNativeID', 'geometry']
outshape = pd.DataFrame(columns=columnsList)
outshape['in_ReportingUnitNativeID'] = "nd" + dfshapetemp['HUC8'].replace("", 0).fillna(0).astype(str).str.strip()
outshape['geometry'] = dfshapetemp['geometry']
outshape = outshape.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
outshape.head(20)

   in_ReportingUnitNativeID                                           geometry
0                nd10090201  POLYGON ((-107.06414 44.15079, -107.06298 44.1...
1                nd10090202  POLYGON ((-106.03159 44.86487, -106.03140 44.8...
2                nd10090205  POLYGON ((-106.26835 44.57113, -106.26740 44.5...
3                nd10120107  POLYGON ((-104.33156 44.18990, -104.33097 44.1...
4                nd09010006  POLYGON ((-104.42949 49.65328, -104.42913 49.6...
5                nd10060007  POLYGON ((-104.36249 49.24502, -104.36163 49.2...
6                nd10060003  POLYGON ((-105.87200 49.40382, -105.86945 49.4...
7                nd10060004  POLYGON ((-106.48375 49.26597, -106.48357 49.2...
8                nd10060006  POLYGON ((-104.73156 49.45216, -104.73013 49.4...
9                nd10120103  POLYGON ((-104.84507 43.97366, -104.84466 43.9...
10               nd10190003  POLYGON ((-104.22619 40.63972, -104.22558 40.6...
11               nd10190004  POLYGON ((-105.41723 39.89253, -105.41701 39.8...
12               nd10190006  POLYGON ((-105.31804 40.62843, -105.31776 40.6...
13               nd10180009  POLYGON ((-104.56468 42.64857, -104.56437 42.6...
14               nd10190007  POLYGON ((-105.43348 41.20045, -105.43309 41.2...
15               nd10190008  POLYGON ((-105.39066 41.14760, -105.39014 41.1...
16               nd10190011  POLYGON ((-103.98976 40.29852, -103.98937 40.2...
17               nd10180010  POLYGON ((-105.56428 41.91393, -105.56371 41.9...
18               nd10180011  POLYGON ((-105.63598 42.33499, -105.63556 42.3...
19               nd10130103  POLYGON ((-100.04608 47.43855, -100.04570 47.4...

# Export the Output

In [25]:
outdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8728 entries, 0 to 8727
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WaDEUUID                        8728 non-null   object
 1   in_MethodUUID                   8728 non-null   object
 2   in_VariableSpecificUUID         8728 non-null   object
 3   in_AggregationIntervalUnitCV    8728 non-null   object
 4   in_VariableCV                   8728 non-null   object
 5   in_VariableSpecificCV           8728 non-null   object
 6   in_OrganizationUUID             8728 non-null   object
 7   in_Geometry                     8728 non-null   object
 8   in_GNISFeatureNameCV            8728 non-null   object
 9   in_WaterQualityIndicatorCV      8728 non-null   object
 10  in_WaterSourceName              8728 non-null   object
 11  in_WaterSourceNativeID          8728 non-null   object
 12  in_WaterSourceTypeCV            8728 non-null   object
 13  in_EPSGCodeCV                   8728 non-null   int64
 14  in_ReportingUnitName            8728 non-null   object
 15  in_ReportingUnitNativeID        8728 non-null   object
 16  in_ReportingUnitProductVersion  8728 non-null   object
 17  in_ReportingUnitTypeCV          8728 non-null   object
 18  in_ReportingUnitUpdateDate      8728 non-null   object
 19  in_StateCV                      8728 non-null   object
 20  in_AllocationCropDutyAmount     8728 non-null   object
 21  in_Amount                       8728 non-null   object
 22  in_BeneficialUseCategory        8728 non-null   object
 23  in_CommunityWaterSupplySystem   8728 non-null   object
 24  in_CropTypeCV                   8728 non-null   object
 25  in_CustomerTypeCV               8728 non-null   object
 26  in_DataPublicationDate          8728 non-null   object
 27  in_DataPublicationDOI           8728 non-null   object
 28  in_InterbasinTransferFromID     8728 non-null   object
 29  in_InterbasinTransferToID       8728 non-null   object
 30  in_IrrigatedAcreage             8728 non-null   object
 31  in_IrrigationMethodCV           8728 non-null   object
 32  in_PopulationServed             8728 non-null   object
 33  in_PowerGeneratedGWh            8728 non-null   object
 34  in_PowerType                    8728 non-null   object
 35  in_PrimaryUseCategory           8728 non-null   object
 36  in_ReportYearCV                 8728 non-null   object
 37  in_SDWISIdentifierCV            8728 non-null   object
 38  in_TimeframeEnd                 8728 non-null   object
 39  in_TimeframeStart               8728 non-null   object
dtypes: int64(1), object(39)
memory usage: 2.7+ MB

In [26]:
outdf

,WaDEUUID,in_MethodUUID,in_VariableSpecificUUID,in_AggregationIntervalUnitCV,in_VariableCV,in_VariableSpecificCV,in_OrganizationUUID,in_Geometry,in_GNISFeatureNameCV,in_WaterQualityIndicatorCV,in_WaterSourceName,in_WaterSourceNativeID,in_WaterSourceTypeCV,in_EPSGCodeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitProductVersion,in_ReportingUnitTypeCV,in_ReportingUnitUpdateDate,in_StateCV,in_AllocationCropDutyAmount,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_CropTypeCV,in_CustomerTypeCV,in_DataPublicationDate,in_DataPublicationDOI,in_InterbasinTransferFromID,in_InterbasinTransferToID,in_IrrigatedAcreage,in_IrrigationMethodCV,in_PopulationServed,in_PowerGeneratedGWh,in_PowerType,in_PrimaryUseCategory,in_ReportYearCV,in_SDWISIdentifierCV,in_TimeframeEnd,in_TimeframeStart
0,drbc1,NDag_M1,NDag_V1,Annual,Withdrawal,Withdrawal_Annual_Domestic_Surface and Groundw...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,AppleCreek,nd10130103,,HUC8,,ND,,,Domestic,,,,,,,,0,,,,,,1984,,12/31/1984,01/01/1984
1,drbc2,NDag_M1,NDag_V1,Annual,Withdrawal,Withdrawal_Annual_Domestic_Surface and Groundw...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,AppleCreek,nd10130103,,HUC8,,ND,,,Domestic,,,,,,,,0,,,,,,1983,,12/31/1983,01/01/1983
2,drbc3,NDag_M1,NDag_V1,Annual,Withdrawal,Withdrawal_Annual_Domestic_Surface and Groundw...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,AppleCreek,nd10130103,,HUC8,,ND,,,Domestic,,,,,,,,0,,,,,,1981,,12/31/1981,01/01/1981
3,drbc4,NDag_M1,NDag_V1,Annual,Withdrawal,Withdrawal_Annual_Domestic_Surface and Groundw...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,AppleCreek,nd10130103,,HUC8,,ND,,,Domestic,,,,,,,,0,,,,,,1977,,12/31/1977,01/01/1977
4,drbc6,NDag_M1,NDag_V2,Annual,Withdrawal,Withdrawal_Annual_Fish and Wildlife_Surface an...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,AppleCreek,nd10130103,,HUC8,,ND,,0.10000,Fish and Wildlife,,,,,,,,0,,,,,,1990,,12/31/1990,01/01/1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8723,drbc7602,NDag_M1,NDag_V7,Annual,Withdrawal,Withdrawal_Annual_Rural Water_Surface and Grou...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,Willow,nd09010004,,HUC8,,ND,,7.30000,Rural Water,,,,,,,,0,,,,,,1981,,12/31/1981,01/01/1981
8724,drbc7603,NDag_M1,NDag_V7,Annual,Withdrawal,Withdrawal_Annual_Rural Water_Surface and Grou...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,Willow,nd10030204,,HUC8,,ND,,354.60000,Rural Water,,,,,,,,0,,,,,,1980,,12/31/1980,01/01/1980
8725,drbc7603,NDag_M1,NDag_V7,Annual,Withdrawal,Withdrawal_Annual_Rural Water_Surface and Grou...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,Willow,nd09010004,,HUC8,,ND,,354.60000,Rural Water,,,,,,,,0,,,,,,1980,,12/31/1980,01/01/1980
8726,drbc7604,NDag_M1,NDag_V7,Annual,Withdrawal,Withdrawal_Annual_Rural Water_Surface and Grou...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,Willow,nd10030204,,HUC8,,ND,,193.20000,Rural Water,,,,,,,,0,,,,,,1978,,12/31/1978,01/01/1978
8727,drbc7604,NDag_M1,NDag_V7,Annual,Withdrawal,Withdrawal_Annual_Rural Water_Surface and Grou...,NDag_O1,,,,,wadeID1,Surface and Groundwater,4326,Willow,nd09010004,,HUC8,,ND,,193.20000,Rural Water,,,,,,,,0,,,,,,1978,,12/31/1978,01/01/1978

In [27]:
# Export the output dataframe
outdf.to_csv('RawInputData/Pag_ndMain.zip', compression=dict(method='zip', archive_name='Pag_ndMain.csv'), index=False)   # The output, save as a zip
outshape.to_csv('RawInputData/P_Geometry.zip', compression=dict(method='zip', archive_name='P_Geometry.csv'), index=False)  # The output geometry.