# Creating Aggregated Data in a WaDE 2.0 Friendly Format

## Convert shapefile to WKT for Geometry

In [1]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
import geopandas as gpd # the library that lets us read in shapefiles
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

# Agg Data

In [2]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
from datetime import datetime
import geopandas as gpd # the library that lets us read in shapefiles
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [3]:
#Setting work directory, reading inputs, creating dataframe

#CSV input file
workingDir = "C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/Orange Data Source Sheets/AggregatedAmounts"
os.chdir(workingDir)
fileInput = "RawInputData/perfect example OT_A.xlsx"
df = pd.read_excel(fileInput, sheet_name='HUC Level')

#County Shapefile input
shfileCounty = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/Orange Data Source Sheets/AggregatedAmounts/RawInputData/COUNTY_Shapefile/cb_2018_us_county_500k.shp')
dfshapeCounty = pd.DataFrame(shfileCounty)

#HUC8 Shapefile input
shfileHUC8 = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/Orange Data Source Sheets/AggregatedAmounts/RawInputData/HUC8_Shapefile/HUC8_US.shp')
dfshapeHUC8 = pd.DataFrame(shfileHUC8)

In [4]:
df.head(3)

,State,HUC8,County,ReservoirName,BenUse,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AZ,14080105,APACHE,Unspecified,IrrigatedAcreage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,141.0,141.0,116.0,116.0,116.0,116.0,116.0,116.0,116.0,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.80,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75,51.75
1,AZ,14080201,APACHE,Unspecified,IrrigatedAcreage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,87.0,87.0,87.0,87.0,87.0,87.0,87.0,87.0,87.0,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.70,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67,23.67
2,AZ,14080204,APACHE,Unspecified,IrrigatedAcreage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3208.4,3208.4,3208.4,3208.4,3208.4,3856.9,3499.9,3499.9,3499.9,3499.9,312.83,312.83,312.83,312.83,312.83,312.83,312.83,312.83,312.83,312.83,397.33,506.23,526.23,546.23,566.23,586.23,606.23,617.83,629.43,642.83,659.33,676.63,694.82

In [5]:
dfshapeCounty.head(3)

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053..."
1,21,017,00516855,0500000US21017,21017,Bourbon,06,750439351,4829777,"POLYGON ((-84.44266 38.28324, -84.44114 38.283..."
2,21,031,00516862,0500000US21031,21031,Butler,06,1103571974,13943044,"POLYGON ((-86.94486 37.07341, -86.94346 37.074..."

In [6]:
dfshapeHUC8.head(3)

,TNMID,METASOURCE,SOURCEDATA,SOURCEORIG,SOURCEFEAT,LOADDATE,GNIS_ID,AREAACRES,AREASQKM,STATES,HUC8,NAME,Shape_Leng,Shape_Area,geometry
0,{4CCAA733-584D-4347-A7F3-4E664ADA8B9B},None,None,None,None,2012-06-11,0,1104144.63,4468.32,"CO,NM",11080001,Canadian Headwaters,3.943636,0.450856,"POLYGON ((-104.18034 36.92065, -104.18082 36.9..."
1,{70274AE7-175E-410E-A1BD-C5B4A8E36460},None,None,None,None,2012-06-11,0,671679.80,2718.19,NM,11080002,Cimarron,3.006890,0.273469,"POLYGON ((-104.49909 36.32423, -104.49957 36.3..."
2,{AC101059-1D6E-465C-AF7F-605322DDFBF9},None,None,None,None,2012-06-11,0,1314676.86,5320.31,NM,11080003,Upper Canadian,6.201702,0.531733,"POLYGON ((-104.21278 35.94052, -104.21295 35.9..."

In [7]:
#Approach:
#Make a temp df to store in values from a list
#Append temp df to output df

columnsList = ["STATE", "HUC8", "COUNTY", "RESERVOIRNAME", "Amount", "ReportYearCV", "BeneficialUseCV"]
df2 = pd.DataFrame(columns=columnsList)
dftemp = pd.DataFrame(columns=columnsList)

# for row in df.index:
for row in df.index:
    #Get Values
    State = str(df.iloc[row,0])
    Huc8 = str(df.iloc[row,1])
    County = str(df.iloc[row,2])
    Reservoir = str(df.iloc[row,3])
    BenUse = df.iloc[row, 4]
    Amounts = df.iloc[row].drop(["State", "HUC8", "County", "ReservoirName", "BenUse"]).values.tolist()
    ReportYears = df.iloc[0].drop(["State", "HUC8", "County", "ReservoirName", "BenUse"]).index.values.tolist()
    
    #Put Values into temp Dataframe
    dftemp['STATE'] = State
    dftemp['HUC8'] = Huc8
    dftemp['COUNTY'] = County
    dftemp['RESERVOIRNAME'] = Reservoir
    dftemp['BeneficialUseCV'] = BenUse
    dftemp['Amount'] = Amounts
    dftemp['ReportYearCV'] = ReportYears
  
    #Append to dfout
    df2 = df2.append(dftemp)

df2 = df2.reset_index()
df2

,index,STATE,HUC8,COUNTY,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV
0,0,NaN,NaN,NaN,NaN,NaN,1971,NaN
1,1,NaN,NaN,NaN,NaN,NaN,1972,NaN
2,2,NaN,NaN,NaN,NaN,NaN,1973,NaN
3,3,NaN,NaN,NaN,NaN,NaN,1974,NaN
4,4,NaN,NaN,NaN,NaN,NaN,1975,NaN
...,...,...,...,...,...,...,...,...
84283,43,WY,14050004,nan,Unspecified,NaN,2014,Power
84284,44,WY,14050004,nan,Unspecified,NaN,2015,Power
84285,45,WY,14050004,nan,Unspecified,NaN,2016,Power
84286,46,WY,14050004,nan,Unspecified,NaN,2017,Power
84287,47,WY,14050004,nan,Unspecified,NaN,2018,Power

In [8]:
df2 = df2[df2['STATE'].notna()]
df2

,index,STATE,HUC8,COUNTY,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV
48,0,AZ,14080201,APACHE,Unspecified,NaN,1971,IrrigatedAcreage
49,1,AZ,14080201,APACHE,Unspecified,NaN,1972,IrrigatedAcreage
50,2,AZ,14080201,APACHE,Unspecified,NaN,1973,IrrigatedAcreage
51,3,AZ,14080201,APACHE,Unspecified,NaN,1974,IrrigatedAcreage
52,4,AZ,14080201,APACHE,Unspecified,NaN,1975,IrrigatedAcreage
...,...,...,...,...,...,...,...,...
84283,43,WY,14050004,nan,Unspecified,NaN,2014,Power
84284,44,WY,14050004,nan,Unspecified,NaN,2015,Power
84285,45,WY,14050004,nan,Unspecified,NaN,2016,Power
84286,46,WY,14050004,nan,Unspecified,NaN,2017,Power
84287,47,WY,14050004,nan,Unspecified,NaN,2018,Power

In [9]:
#Fixing Datatypes
df2['Amount'] = df2['Amount'].astype(float) 
df2['ReportYearCV'] = df2['ReportYearCV'].astype(int)
df2.dtypes

C:\Users\rjame\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\rjame\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

index                int64
STATE               object
HUC8                object
COUNTY              object
RESERVOIRNAME       object
Amount             float64
ReportYearCV         int32
BeneficialUseCV     object
dtype: object

### Seperate out into County vs HUC8

In [33]:
#County
dfcounty = df2
dfcounty = dfcounty.drop(['HUC8'], axis=1)
dfcounty = dfcounty[dfcounty['COUNTY'] != 'nan']
dfcounty['COUNTY'] = dfcounty['COUNTY'].str.title()
dfcounty['TheJoin'] = dfcounty['STATE'] + dfcounty['COUNTY']
dfcounty = dfcounty.reset_index(drop=True)
dfcounty

,index,STATE,COUNTY,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV,TheJoin
0,0,AZ,Apache,Unspecified,NaN,1971,IrrigatedAcreage,AZApache
1,1,AZ,Apache,Unspecified,NaN,1972,IrrigatedAcreage,AZApache
2,2,AZ,Apache,Unspecified,NaN,1973,IrrigatedAcreage,AZApache
3,3,AZ,Apache,Unspecified,NaN,1974,IrrigatedAcreage,AZApache
4,4,AZ,Apache,Unspecified,NaN,1975,IrrigatedAcreage,AZApache
...,...,...,...,...,...,...,...,...
19195,43,WY,Uinta,Unspecified,43.077208,2014,StockpondCU,WYUinta
19196,44,WY,Uinta,Unspecified,43.077208,2015,StockpondCU,WYUinta
19197,45,WY,Uinta,Unspecified,43.077208,2016,StockpondCU,WYUinta
19198,46,WY,Uinta,Unspecified,43.077208,2017,StockpondCU,WYUinta
19199,47,WY,Uinta,Unspecified,43.077208,2018,StockpondCU,WYUinta

In [34]:
#Convert State to abbreveated version
AFFGEOIDDic = {
"AZApache" : "0500000US04001",
"AZCoconino" : "0500000US04005",
"AZNavajo" : "0500000US04017",
"COArchuleta" : "0500000US08007",
"CODelta" : "0500000US08029",
"CODolores" : "0500000US08033",
"COEagle" : "0500000US08037",
"COGarfield" : "0500000US08045",
"COGrand" : "0500000US08049",
"COGunnison" : "0500000US08051",
"COHinsdale" : "0500000US08053",
"COLa Plata" : "0500000US08067",
"COMesa" : "0500000US08077",
"COMineral" : "0500000US08079",
"COMoffat" : "0500000US08081",
"COMontezuma" : "0500000US08083",
"COMontrose" : "0500000US08085",
"COOuray" : "0500000US08091",
"COPitkin" : "0500000US08097",
"CORio Blanco" : "0500000US08103",
"CORoutt" : "0500000US08107",
"COSaguache" : "0500000US08109",
"COSan Miguel" : "0500000US08113",
"COSummit" : "0500000US08117",
"UTCarbon" : "0500000US49007",
"UTDaggett" : "0500000US49009",
"UTDuchesne" : "0500000US49013",
"UTEmery" : "0500000US49015",
"UTGarfield" : "0500000US49017",
"UTGrand" : "0500000US49019",
"UTKane" : "0500000US49025",
"UTSan Juan" : "0500000US49037",
"UTSanpete" : "0500000US49039",
"UTSevier" : "0500000US49041",
"UTSummit" : "0500000US49043",
"UTUintah" : "0500000US49047",
"UTUtah" : "0500000US49049",
"UTWasatch" : "0500000US49051",
"UTWayne" : "0500000US49055",
"WYCarbon" : "0500000US56007",
"WYFremont" : "0500000US56013",
"WYLincoln" : "0500000US56023",
"WYSublette" : "0500000US56035",
"WYSweetwater" : "0500000US56037",
"WYUinta" : "0500000US56041"}

def assignAFFGEOID(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ""
    else:
        String1 = colrowValue  # remove whitespace chars
        try:
            outList = AFFGEOIDDic[String1]
        except:
            outList = ""
    return outList

dfcounty['AFFGEOID'] = dfcounty.apply(lambda row: assignAFFGEOID(row['TheJoin']), axis=1)
dfcounty.head(3)

,index,STATE,COUNTY,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV,TheJoin,AFFGEOID
0,0,AZ,Apache,Unspecified,NaN,1971,IrrigatedAcreage,AZApache,0500000US04001
1,1,AZ,Apache,Unspecified,NaN,1972,IrrigatedAcreage,AZApache,0500000US04001
2,2,AZ,Apache,Unspecified,NaN,1973,IrrigatedAcreage,AZApache,0500000US04001

In [35]:
dfcounty.to_csv('RawInputData/temp_county.csv', index=False)

In [11]:
#transfer WKT gemetry from dfshapeCounty


def retrieveGeometry(colrowValue, dfshapeCounty):
    if (colrowValue == '') or (pd.isnull(colrowValue)):
        outList = ''
    else:
        ml = dfshapeCounty.loc[(dfshapeCounty['NAME'] == colrowValue), 'geometry']
        if not(ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

dfcounty['Geometry'] = dfcounty.apply(lambda row: retrieveGeometry(row['COUNTY'], dfshapeCounty), axis=1)
dfcounty

,index,STATE,COUNTY,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV,Geometry
0,0,AZ,Apache,Unspecified,NaN,1971,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
1,1,AZ,Apache,Unspecified,NaN,1972,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
2,2,AZ,Apache,Unspecified,NaN,1973,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
3,3,AZ,Apache,Unspecified,NaN,1974,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
4,4,AZ,Apache,Unspecified,NaN,1975,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
...,...,...,...,...,...,...,...,...
19195,43,WY,Uinta,Unspecified,43.077208,2014,StockpondCU,"POLYGON ((-111.046615849252 41.15604186297939,..."
19196,44,WY,Uinta,Unspecified,43.077208,2015,StockpondCU,"POLYGON ((-111.046615849252 41.15604186297939,..."
19197,45,WY,Uinta,Unspecified,43.077208,2016,StockpondCU,"POLYGON ((-111.046615849252 41.15604186297939,..."
19198,46,WY,Uinta,Unspecified,43.077208,2017,StockpondCU,"POLYGON ((-111.046615849252 41.15604186297939,..."
19199,47,WY,Uinta,Unspecified,43.077208,2018,StockpondCU,"POLYGON ((-111.046615849252 41.15604186297939,..."

In [12]:
#HUC8
dfHUC8 = df2
dfHUC8 = dfHUC8.drop(['COUNTY'], axis=1)
dfHUC8 = dfHUC8.dropna(axis=0, subset=['HUC8'])
dfHUC8 = dfHUC8.reset_index(drop=True)
dfHUC8

,index,STATE,HUC8,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV
0,0,AZ,14080201,Unspecified,NaN,1971,IrrigatedAcreage
1,1,AZ,14080201,Unspecified,NaN,1972,IrrigatedAcreage
2,2,AZ,14080201,Unspecified,NaN,1973,IrrigatedAcreage
3,3,AZ,14080201,Unspecified,NaN,1974,IrrigatedAcreage
4,4,AZ,14080201,Unspecified,NaN,1975,IrrigatedAcreage
...,...,...,...,...,...,...,...
84235,43,WY,14050004,Unspecified,NaN,2014,Power
84236,44,WY,14050004,Unspecified,NaN,2015,Power
84237,45,WY,14050004,Unspecified,NaN,2016,Power
84238,46,WY,14050004,Unspecified,NaN,2017,Power
84239,47,WY,14050004,Unspecified,NaN,2018,Power

In [13]:
#transfer WKT gemetry from dfshapeHUC8
def retrieveGeometry(colrowValue, dfshapeHUC8):
    if (colrowValue == '') or (pd.isnull(colrowValue)):
        outList = ''
    else:
        ml = dfshapeHUC8.loc[(dfshapeHUC8['HUC8'] == colrowValue), 'geometry']
        if not(ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

dfHUC8['Geometry'] = dfHUC8.apply(lambda row: retrieveGeometry(row['HUC8'], dfshapeHUC8), axis=1)
dfHUC8

,index,STATE,HUC8,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV,Geometry
0,0,AZ,14080201,Unspecified,NaN,1971,IrrigatedAcreage,"POLYGON ((-109.474439955 37.84104520200002, -1..."
1,1,AZ,14080201,Unspecified,NaN,1972,IrrigatedAcreage,"POLYGON ((-109.474439955 37.84104520200002, -1..."
2,2,AZ,14080201,Unspecified,NaN,1973,IrrigatedAcreage,"POLYGON ((-109.474439955 37.84104520200002, -1..."
3,3,AZ,14080201,Unspecified,NaN,1974,IrrigatedAcreage,"POLYGON ((-109.474439955 37.84104520200002, -1..."
4,4,AZ,14080201,Unspecified,NaN,1975,IrrigatedAcreage,"POLYGON ((-109.474439955 37.84104520200002, -1..."
...,...,...,...,...,...,...,...,...
84235,43,WY,14050004,Unspecified,NaN,2014,Power,POLYGON ((-107.4561187959999 41.54681361300008...
84236,44,WY,14050004,Unspecified,NaN,2015,Power,POLYGON ((-107.4561187959999 41.54681361300008...
84237,45,WY,14050004,Unspecified,NaN,2016,Power,POLYGON ((-107.4561187959999 41.54681361300008...
84238,46,WY,14050004,Unspecified,NaN,2017,Power,POLYGON ((-107.4561187959999 41.54681361300008...
84239,47,WY,14050004,Unspecified,NaN,2018,Power,POLYGON ((-107.4561187959999 41.54681361300008...

### Merge and the Outpt

In [14]:
columnsList = ['STATE', 'ReportingUnit', 'RESERVOIRNAME', 'Amount', 'ReportYearCV', 'BeneficialUseCV', 'Geometry']
dfout = pd.DataFrame(columns=columnsList)

STATEframes = [dfcounty['STATE'], dfHUC8['STATE']]
dfout['STATE'] = pd.concat(STATEframes)

ReportingUnitframes = [dfcounty['COUNTY'], dfHUC8['HUC8']]
dfout['ReportingUnit'] = pd.concat(ReportingUnitframes)

RESERVOIRNAMEframes = [dfcounty['RESERVOIRNAME'], dfHUC8['RESERVOIRNAME']]
dfout['RESERVOIRNAME'] = pd.concat(RESERVOIRNAMEframes)

Amountframes = [dfcounty['Amount'], dfHUC8['Amount']]
dfout['Amount'] = pd.concat(Amountframes)

ReportYearCVframes = [dfcounty['ReportYearCV'], dfHUC8['ReportYearCV']]
dfout['ReportYearCV'] = pd.concat(ReportYearCVframes)

BeneficialUseCVframes = [dfcounty['BeneficialUseCV'], dfHUC8['BeneficialUseCV']]
dfout['BeneficialUseCV'] = pd.concat(BeneficialUseCVframes)

Geometryframes = [dfcounty['Geometry'], dfHUC8['Geometry']]
dfout['Geometry'] = pd.concat(Geometryframes)


dfout = dfout.reset_index(drop=True)
dfout

,STATE,ReportingUnit,RESERVOIRNAME,Amount,ReportYearCV,BeneficialUseCV,Geometry
0,AZ,Apache,Unspecified,NaN,1971,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
1,AZ,Apache,Unspecified,NaN,1972,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
2,AZ,Apache,Unspecified,NaN,1973,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
3,AZ,Apache,Unspecified,NaN,1974,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
4,AZ,Apache,Unspecified,NaN,1975,IrrigatedAcreage,"POLYGON ((-110.000677 36.997968, -109.93414390..."
...,...,...,...,...,...,...,...
103435,WY,14050004,Unspecified,NaN,2014,Power,POLYGON ((-107.4561187959999 41.54681361300008...
103436,WY,14050004,Unspecified,NaN,2015,Power,POLYGON ((-107.4561187959999 41.54681361300008...
103437,WY,14050004,Unspecified,NaN,2016,Power,POLYGON ((-107.4561187959999 41.54681361300008...
103438,WY,14050004,Unspecified,NaN,2017,Power,POLYGON ((-107.4561187959999 41.54681361300008...
103439,WY,14050004,Unspecified,NaN,2018,Power,POLYGON ((-107.4561187959999 41.54681361300008...

In [22]:
#Exporting Outbound DataFrame to working csv file
dfcounty.to_csv('RawInputData/P_USBAggUCRB_OT_county.csv', index=False)
dfHUC8.to_csv('RawInputData/P_USBAggUCRB_OT_HUC8.csv', index=False)

KeyboardInterrupt:

In [18]:
#Exporting Outbound DataFrame to working csv file
# dfout.to_csv('RawInputData/P_USBAggUCRB_OT.csv', index=False)
# dfout.to_excel("RawInputData/P_USBAggUCRB_OT.xlsx")
# dfout.to_feather('RawInputData/P_USBAggUCRB_OT')

KeyboardInterrupt:

In [19]:
# import feather
# dfout.to_feather('RawInputData/P_USBAggUCRB_OT')

ArrowInvalid: ('Could not convert POLYGON ((-110.000677 36.997968, -109.934143909271 36.9982532847639, -109.9338543162 36.9982545264993, -109.875673 36.998504, -109.709765300917 36.9983739309653, -109.699230934402 36.9983656721871, -109.699221369532 36.9983656646884, -109.625668 36.998308, -109.495338 36.999105, -109.471586983401 36.9991139499239, -109.47156306464 36.999113958937, -109.382561357236 36.999147496807, -109.381226 36.999148, -109.378039 36.999135, -109.355672826628 36.9991621439172, -109.340792389993 36.99918020303409, -109.319809669272 36.9992056679728, -109.270097 36.999266, -109.268213 36.999242, -109.26339 36.999263, -109.246917 36.999346, -109.233848 36.999266, -109.181196 36.999271, -109.045223 36.999084, -109.045244 36.969489, -109.045272 36.968871, -109.045286570608 36.9587392465719, -109.045373650609 36.8981876844157, -109.045406646018 36.8752441433022, -109.045407 36.874998, -109.045433 36.874589, -109.04543298061 36.8709573990548, -109.045432958333 36.8667849997066, -109.045432905912 36.8569669994506, -109.045432905429 36.8568764707915, -109.045432713365 36.8209039996171, -109.045432462383 36.7738966122571, -109.045432461921 36.7738099995917, -109.045432436864 36.7691169996132, -109.0454311461 36.5273646779981, -109.045431 36.500001, -109.045494076778 36.4733066055734, -109.045494475509 36.4731378606207, -109.045512221562 36.4656276460852, -109.045612584355 36.4231536318322, -109.045748804615 36.3655045657284, -109.04575403516 36.3632909740909, -109.04583522585 36.3289306852995, -109.045868336264 36.31491819928, -109.04587746223 36.311056046938, -109.045877469081 36.3110531476096, -109.045950499195 36.28014645374729, -109.045950563454 36.2801192588899, -109.045982147111 36.2667529043791, -109.046000527367 36.25897429188559, -109.046004876651 36.2571336540308, -109.046020343268 36.2505881076265, -109.046183 36.181751, -109.045901303202 36.141591832814, -109.045897309457 36.1410224778905, -109.045896927496 36.1409680249402, -109.045729 36.117028, -109.045972227078 36.0027013051401, -109.045973 36.002338, -109.045987494716 35.9731799714136, -109.045987504891 35.9731595029937, -109.046011 35.925896, -109.046054 35.92586, -109.04605407668 35.9230121964639, -109.046054445435 35.9093170016006, -109.046054885053 35.8929900016932, -109.046055 35.888721, -109.046047670641 35.8866117995976, -109.046024 35.8798, -109.046074703219 35.8305406064978, -109.046076563948 35.82873286373609, -109.046084003148 35.8215055026322, -109.046099792935 35.8061653461746, -109.046129268843 35.7775287944146, -109.046150827824 35.7565837270554, -109.046183194337 35.7251388828586, -109.046199483667 35.7093134074956, -109.04619950682 35.70929091405959, -109.046214021101 35.6951899423803, -109.046244599935 35.665481872225, -109.046247972625 35.6622052225434, -109.046249628984 35.66059603049739, -109.046250670605 35.6595840708616, -109.046271376878 35.63946743004269, -109.046295 35.616517, -109.046296 35.614251, -109.046309353 35.6099999188316, -109.046352661975 35.5962120083615, -109.04639829864 35.5816830511954, -109.046442364779 35.5676540890961, -109.046466687261 35.5599107470653, -109.04648841628 35.5529930641292, -109.046489233402 35.5527329238537, -109.046509 35.54644, -109.046481 35.546326, -109.046498165316 35.5363690270222, -109.046546370391 35.5084070230499, -109.046570960813 35.4941430171719, -109.046596188098 35.479509589828, -109.046619928072 35.4657388977768, -109.046645737352 35.4507678764389, -109.046668672152 35.4374642363179, -109.046683821279 35.42867678075029, -109.046692478815 35.4236548600135, -109.046721586012 35.4067708378723, -109.046768531326 35.3795395751664, -109.046768539509 35.3795348285352, -109.046796 35.363606, -109.046794221037 35.36332221285, -109.046792104787 35.36298462050929, -109.04678956207 35.3625789964766, -109.046783588042 35.3616259963138, -109.046744417874 35.355377419333, -109.046625122675 35.3363469866937, -109.046588331975 35.33047799165031, -109.046566510783 35.3269969905294, -109.046504426036 35.3170929910607, -109.046440987196 35.3069729812743, -109.046349251741 35.2923389858846, -109.04625567532 35.2774113124833, -109.04616879456 35.2635517568103, -109.046084 35.250025, -109.046083050336 35.2488417634526, -109.046071637565 35.2346219890545, -109.046059589727 35.2196109521734, -109.04605537371 35.2143579938359, -109.046048985767 35.2063989189489, -109.046035905875 35.1901019904444, -109.046024192748 35.1755079878063, -109.046017276826 35.1668910756255, -109.045851080673 34.95981851532, -109.045851 34.959718, -109.045944617481 34.9041608965663, -109.046001207114 34.87057789418969, -109.046022547683 34.8579133767407, -109.046072 34.828566, -109.045624 34.814226, -109.046104 34.799981, -109.045363 34.785406, -109.046086 34.771016, -109.046113211721 34.6964850391437, -109.046156 34.579291, -109.046182 34.52255299999999, -109.046182 34.522393, -109.046251577674 34.4782869188809, -109.046395080562 34.3873188013611, -109.046742728296 34.1669409364711, -109.046749674445 34.1625376933041, -109.046868362467 34.0873000021493, -109.046882249387 34.0784969254016, -109.047006 34.00005, -109.04680513771 33.9567614060498, -109.046579013811 33.9080285868413, -109.046426 33.875052, -109.0469415292 33.7782257216099, -109.220993 33.777812, -109.249781 33.77753, -109.250634 33.777634, -109.348062 33.77752, -109.347148 33.776868, -109.347703 33.775496, -109.349442 33.773779, -109.354545 33.770645, -109.355873 33.768391, -109.354401 33.765765, -109.354922 33.76342, -109.357303 33.760771, -109.357976 33.757777, -109.359431 33.756778, -109.360715 33.754531, -109.362758 33.752142, -109.362819 33.750051, -109.363519 33.748472, -109.362059 33.746902, -109.36204 33.745639, -109.364001 33.742969, -109.364752 33.739804, -109.364465 33.738448, -109.361251 33.735474, -109.35753 33.734739, -109.357062 33.733227, -109.355568 33.732369, -109.352573 33.728033, -109.353638 33.726906, -109.352823 33.726382, -109.352975 33.724911, -109.355451 33.7251, -109.356292 33.727229, -109.357619 33.727857, -109.361565 33.727893, -109.364733 33.724601, -109.366071 33.724208, -109.368866 33.722397, -109.370794 33.722438, -109.374907 33.723798, -109.378472 33.724641, -109.381223 33.723424, -109.384617 33.72093, -109.388589 33.719406, -109.393474 33.716758, -109.395092 33.716527, -109.394873 33.713888, -109.39569 33.713023, -109.397295 33.712946, -109.398483 33.714343, -109.399249 33.717087, -109.40123 33.717537, -109.4031 33.715206, -109.403864 33.713589, -109.404466 33.7106, -109.4057 33.710451, -109.407058 33.711713, -109.408486 33.714884, -109.409219 33.715669, -109.410551 33.715353, -109.411571 33.713846, -109.412471 33.708444, -109.413935 33.707884, -109.418038 33.708941, -109.41876 33.710003, -109.421067 33.711767, -109.422541 33.711738, -109.42382 33.710199, -109.426517 33.712109, -109.429739 33.711145, -109.432138 33.711197, -109.434668 33.711753, -109.436297 33.712682, -109.439357 33.713098, -109.441782 33.713052, -109.4431 33.711034, -109.445013 33.710434, -109.447581 33.71123, -109.448757 33.711027, -109.449852 33.709859, -109.449237 33.708293, -109.446799 33.709358, -109.445836 33.708553, -109.446842 33.708275, -109.451164 33.705165, -109.453518 33.703082, -109.455263 33.700113, -109.457265 33.698673, -109.459065 33.698187, -109.461738 33.696412, -109.462111 33.692666, -109.463071 33.692484, -109.468015 33.693867, -109.469999 33.696173, -109.472271 33.696923, -109.474606 33.695483, -109.475262 33.692965, -109.475189 33.690366, -109.477323 33.69017, -109.478485 33.691258, -109.480135 33.69141, -109.481057 33.690204, -109.480015 33.687887, -109.481947 33.686422, -109.482989 33.687084, -109.4837 33.686346, -109.481219 33.684017, -109.482323 33.681819, -109.482733 33.676374, -109.484011 33.672734, -109.480596 33.669144, -109.47959 33.666745, -109.479806 33.663651, -109.482554 33.661472, -109.483644 33.661292, -109.485415 33.662271, -109.48615 33.661007, -109.483906 33.659583, -109.484075 33.657954, -109.483252 33.656436, -109.481769 33.655612, -109.482539 33.654184, -109.483822 33.654296, -109.486329 33.656478, -109.487697 33.656468, -109.49007 33.655093, -109.490925 33.656052, -109.489426 33.658122, -109.490324 33.658952, -109.491613 33.658245, -109.492883 33.656503, -109.492865 33.655148, -109.493906 33.653688, -109.49544 33.652697, -109.496681 33.652436, -109.500059 33.65275099999999, -109.501161 33.65209, -109.500625 33.650848, -109.502406 33.650681, -109.502809 33.649981, -109.50258 33.645773, -109.504392 33.643726, -109.506056 33.64344, -109.508546 33.644184, -109.509923 33.645068, -109.511805 33.64448, -109.511837 33.642194, -109.514599 33.641631, -109.515601 33.643236, -109.517597 33.643429, -109.518169 33.64589, -109.519185 33.645962, -109.519439 33.643869, -109.518629 33.640687, -109.517624 33.638706, -109.517971 33.636038, -109.517443 33.634643, -109.519621 33.633991, -109.52065 33.632408, -109.522531 33.630887, -109.523424 33.629553, -109.524162 33.627108, -109.526208 33.625887, -109.528184 33.622918, -109.525666 33.622013, -109.524742 33.620011, -109.524849 33.618817, -109.529824 33.618676, -109.534558 33.620049, -109.538352 33.624668, -109.539802 33.624773, -109.541062 33.624172, -109.540817 33.622522, -109.541578 33.619948, -109.543616 33.619426, -109.543134 33.61780299999999, -109.543649 33.616716, -109.546034 33.61748499999999, -109.54695 33.618831, -109.54614 33.620239, -109.546588 33.620897, -109.550155 33.621573, -109.553549 33.619837, -109.555093 33.620182, -109.556817 33.623876, -109.559394 33.626423, -109.561676 33.626319, -109.565494 33.62417, -109.567669 33.623245, -109.568083 33.622503, -109.571906 33.621946, -109.57241 33.621103, -109.576947 33.617981, -109.577953 33.617665, -109.579172 33.61854, -109.582103 33.618049, -109.582172 33.61687, -109.579798 33.616039, -109.580088 33.614017, -109.581317 33.612989, -109.585577 33.612844, -109.587086 33.615544, -109.589592 33.616378, -109.592168 33.614876, -109.595062 33.614419, -109.598492 33.613049, -109.598382 33.610293, -109.600606 33.611067, -109.602881 33.612875, -109.605359 33.611725, -109.606326 33.610002, -109.606943 33.607482, -109.606178 33.605094, -109.604156 33.601378, -109.607041 33.598424, -109.608762 33.596145, -109.609308 33.593501, -109.610007 33.592834, -109.61203 33.592779, -109.613458 33.5946, -109.614823 33.594741, -109.61689 33.592519, -109.618326 33.588167, -109.619569 33.585792, -109.619631 33.584058, -109.621632 33.583236, -109.623225 33.584222, -109.624927 33.589064, -109.626219 33.58964, -109.628815 33.588704, -109.630469 33.58743, -109.630994 33.584951, -109.632353 33.584434, -109.634165 33.58487, -109.635754 33.584546, -109.643511 33.58596199999999, -109.64521 33.585893, -109.645803 33.58519, -109.652425 33.583249, -109.653905 33.583313, -109.654601 33.584115, -109.656469 33.584326, -109.660619 33.583594, -109.659674 33.580317, -109.660772 33.578626, -109.662898 33.579531, -109.664788 33.579651, -109.667599 33.578259, -109.669015 33.576558, -109.671969 33.574785, -109.675528 33.573238, -109.674219 33.571644, -109.67452 33.570754, -109.676499 33.568868, -109.675143 33.56794, -109.672827 33.568355, -109.670665 33.567118, -109.670521 33.565085, -109.672251 33.5605, -109.671937 33.55934, -109.6658 33.557984, -109.664778 33.556849, -109.665227 33.555317, -109.667847 33.554586, -109.670907 33.554526, -109.678478 33.557035, -109.679442 33.555344, -109.678636 33.553205, -109.679283 33.550966, -109.681247 33.547929, -109.684772 33.543534, -109.685833 33.54294, -109.690104 33.542107, -109.690928 33.541553, -109.690952 33.539817, -109.692698 33.539363, -109.694198 33.539959, -109.696551 33.539195, -109.697641 33.536974, -109.698825 33.535708, -109.700578 33.534982, -109.702206 33.535446, -109.70426 33.539712, -109.706591 33.539867, -109.707627 33.538707, -109.707832 33.536378, -109.706515 33.534498, -109.707478 33.531899, -109.709461 33.531156, -109.71556 33.531352, -109.716383 33.530602, -109.716184 33.529246, -109.714788 33.527673, -109.712925 33.526605, -109.713101 33.525194, -109.717783 33.524386, -109.722276 33.52216, -109.72104 33.519819, -109.721486 33.51894, -109.723385 33.518759, -109.725315 33.520395, -109.72395 33.522039, -109.724138 33.522792, -109.725849 33.523269, -109.728914 33.522733, -109.731461 33.521057, -109.730291 33.518549, -109.728086 33.517226, -109.728296 33.515391, -109.729816 33.51427, -109.731795 33.514514, -109.736464 33.512949, -109.739636 33.510548, -109.74062 33.509256, -109.740578 33.50810999999999, -109.741778 33.505995, -109.744044 33.503272, -109.744092 33.501506, -109.742294 33.497186, -109.741865 33.494152, -109.742336 33.492992, -109.745931 33.490461, -109.746599 33.488239, -109.745844 33.487163, -109.74657 33.484896, -109.747686 33.484671, -109.750911 33.482244, -109.753221 33.481415, -109.758272 33.480933, -109.760785 33.481836, -109.762175 33.481042, -109.761797 33.478707, -109.762558 33.477505, -109.767273 33.475417, -109.770444 33.476293, -109.772071 33.47603, -109.776433 33.476999, -109.779825 33.477082, -109.781144 33.476456, -109.784023 33.476556, -109.784599 33.479148, -109.784546 33.48173999999999, -109.788377 33.482751, -109.790252 33.483759, -109.790752 33.484644, -109.792648 33.485259, -109.796611 33.483759, -109.7988 33.485585, -109.799782 33.488314, -109.802107 33.48886299999999, -109.804147 33.488143, -109.8046 33.487358, -109.802846 33.485256, -109.801929 33.482878, -109.802719 33.481892, -109.804792 33.482123, -109.805553 33.484114, -109.806492 33.484895, -109.808321 33.484955, -109.812297 33.48369, -109.813478 33.48601, -109.811941 33.489151, -109.80898 33.488844, -109.807809 33.48943, -109.808819 33.492244, -109.808474 33.495247, -109.806915 33.496583, -109.806962 33.498046, -109.809054 33.498651, -109.810948 33.498331, -109.812178 33.497373, -109.813953 33.498514, -109.813504 33.499885, -109.811181 33.500759, -109.808392 33.500629, -109.806826 33.500121, -109.80525 33.500504, -109.804036 33.502267, -109.804107 33.503501, -109.805749 33.504579, -109.813257 33.505243, -109.816498 33.50802, -109.817495 33.509884, -109.819874 33.510359, -109.82213 33.508968, -109.823625 33.509771, -109.82316 33.510754, -109.821273 33.512062, -109.820553 33.514356, -109.82133 33.51681, -109.820441 33.518312, -109.819157 33.518903, -109.8195 33.52098, -109.821579 33.521656, -109.825783 33.522132, -109.825713 33.524479, -109.823462 33.5275, -109.82505 33.529663, -109.827563 33.530501, -109.829757 33.531976, -109.830602 33.535434, -109.832017 33.535961, -109.833537 33.535037, -109.833502 33.53183, -109.834756 33.529995, -109.836369 33.529345, -109.838772 33.529229, -109.84169 33.530776, -109.844465 33.533361, -109.845394 33.534681, -109.8455 33.536481, -109.844473 33.539383, -109.844709 33.540914, -109.846464 33.540472, -109.846619 33.53958, -109.848272 33.537972, -109.84883 33.536597, -109.848473 33.534672, -109.850352 33.534733, -109.851775 33.537031, -109.852646 33.539307, -109.852302 33.540792, -109.85078 33.542023, -109.848202 33.545243, -109.846474 33.547848, -109.846377 33.54901, -109.847687 33.550179, -109.848724 33.548701, -109.850428 33.547384, -109.854211 33.545215, -109.855779 33.546211, -109.856539 33.548583, -109.860063 33.551431, -109.863428 33.553555, -109.86737 33.556429, -109.868824 33.55812, -109.867621 33.559725, -109.86827 33.56205, -109.870849 33.563012, -109.873214 33.562242, -109.877072 33.559027, -109.878171 33.559499, -109.877936 33.563979, -109.87832 33.564923, -109.880522 33.566958, -109.881481 33.570182, -109.88222 33.571379, -109.885061 33.568279, -109.886439 33.568089, -109.889624 33.568745, -109.891759 33.567829, -109.891766 33.777777, -109.859274 33.777683, -109.859243 33.872581, -109.859131 33.980358, -109.859115 34.057381, -109.859212 34.07381, -109.859228 34.077045, -109.859355 34.108845, -109.859345 34.109776, -109.859393 34.125991, -109.850549 34.12595, -109.849387 34.125945, -109.849405 34.138663, -109.848943 34.227613, -109.848684 34.283922, -109.848562 34.301508, -109.848394 34.324763, -109.848495 34.388262, -109.848248 34.460321, -109.848246 34.47343499999999, -109.846768 34.473463, -109.84981 34.487694, -109.849025 34.48827199999999, -109.849541 34.491453, -109.85087 34.494, -109.853453 34.502448, -109.865231 34.559689, -109.864297 34.564356, -109.864052 34.567053, -109.850709 34.646155, -109.850652 34.646453, -109.8505 34.647442, -109.850566 34.663725, -109.850724 34.696423, -109.851801 34.822519, -109.844624 34.822562, -109.84483 34.909528, -109.843213 34.953174, -109.843663 34.966242, -109.844845 35.024148, -109.842903 35.170402, -109.843696 35.170402, -109.843728 35.238579, -109.84379 35.374772, -109.844393 35.375005, -109.843584 35.470704, -109.843304 35.500013, -109.843924 35.505163, -109.843832 35.512385, -109.843765 35.517724, -109.843646 35.517874, -109.834595 35.51773, -109.828743 35.51764, -109.827205 35.517617, -109.826893 35.517874, -109.826904 35.520153, -109.826916 35.52258, -109.826844 35.566482, -109.826719 35.605446, -109.826939 35.619106, -109.827209 35.625011, -109.827083 35.642764, -109.827095 35.649779, -109.826936 35.662484, -109.967213 35.662543, -110.000674 35.662657, -110.000674 35.690049, -110.000674 35.71114, -110.000674 35.762963, -110.000674 35.766736, -110.000674 35.818174, -110.000677 35.837101, -110.000673 35.844269, -110.000673 35.872389, -110.000673 35.880506, -110.000672 36.022815, -110.000671 36.045617, -110.000671 36.073858, -110.000674 36.256824, -110.000674 36.27844899999999, -110.000674 36.298444, -110.000675 36.361278, -110.000674 36.455495, -110.000674 36.459345, -110.000674 36.466144, -110.000674 36.506475, -110.000675 36.656451, -110.000675 36.671654, -109.999188 36.695911, -110.000387 36.710797, -110.000675 36.778835, -110.000676 36.844505, -110.000677 36.890514, -110.000682037916 36.99798151883019, -110.000677 36.997968)) with type Polygon: did not recognize Python value type when inferring an Arrow data type', 'Conversion failed for column Geometry with type object')