# Preprocessing Texas Site Specific data for WaDEQA upload.
- Date Updated: 01/07/2022
- Purpose: N/A

Notes:
- Working with Historical Municipal Water Intake Report for Public Water Systems by Water Planning Region reports.
- <font color='red'>Temp fix of removing duplicate entries in the Historical Municipal data.</font>

In [1]:
# working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd # the library that lets us read in shapefiles

# visulizaiton
import matplotlib.pyplot as plot
import seaborn as sns

# Cleanup
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
# Working Directory and Input File
workingDir = "G:/Shared drives/WaDE Data/Texas/SS_PublicSupplyWaterUse/RawInputData"
os.chdir(workingDir)

# Inputs and Dataframe Creation
- Inputs for Historical Municipal data A-P.
- Inputs for PWS Water use 2016-2019
- Input of an Export of Shapefile data.
- Bridge table for Historical Municipal to Export of Shapefile data.|

In [3]:
# 1) HistoricalMunicipal_A
fileInput = "HistoricalMunicipal_A.csv"
df_A = pd.read_csv(fileInput).replace(np.nan, "")
df_A['sourceFile'] = 'A'
print(len(df_A))

5209

In [4]:
# 2) HistoricalMunicipal_B
fileInput = "HistoricalMunicipal_B.csv"
df_B = pd.read_csv(fileInput).replace(np.nan, "")
df_B['sourceFile'] = 'B'
print(len(df_B))

3384

In [5]:
# 3) HistoricalMunicipal_C
fileInput = "HistoricalMunicipal_C.csv"
df_C = pd.read_csv(fileInput).replace(np.nan, "")
df_C['sourceFile'] = 'C'
print(len(df_C))

30718

In [6]:
# 4) HistoricalMunicipal_D
fileInput = "HistoricalMunicipal_D.csv"
df_D = pd.read_csv(fileInput).replace(np.nan, "")
df_D['sourceFile'] = 'D'
print(len(df_D))

14016

In [7]:
# 5) HistoricalMunicipal_E
fileInput = "HistoricalMunicipal_E.csv"
df_E = pd.read_csv(fileInput).replace(np.nan, "")
df_E['sourceFile'] = 'E'
print(len(df_E))

2220

In [8]:
# 6) HistoricalMunicipal_F
fileInput = "HistoricalMunicipal_F.csv"
df_F = pd.read_csv(fileInput).replace(np.nan, "")
df_F['sourceFile'] = 'F'
print(len(df_F))

6417

In [9]:
# 7) HistoricalMunicipal_G
fileInput = "HistoricalMunicipal_G.csv"
df_G = pd.read_csv(fileInput).replace(np.nan, "")
df_G['sourceFile'] = 'G'
print(len(df_G))

29882

In [10]:
# 8) HistoricalMunicipal_H
fileInput = "HistoricalMunicipal_H.csv"
df_H = pd.read_csv(fileInput).replace(np.nan, "")
df_H['sourceFile'] = 'H'
print(len(df_H))

59084

In [11]:
# 9) HistoricalMunicipal_I
fileInput = "HistoricalMunicipal_I.csv"
df_I = pd.read_csv(fileInput).replace(np.nan, "")
df_I['sourceFile'] = 'I'
print(len(df_I))

18264

In [12]:
# 10) HistoricalMunicipal_J
fileInput = "HistoricalMunicipal_J.csv"
df_J = pd.read_csv(fileInput).replace(np.nan, "")
df_J['sourceFile'] = 'J'
print(len(df_J))

3685

In [13]:
# 11) HistoricalMunicipal_K
fileInput = "HistoricalMunicipal_K.csv"
df_K = pd.read_csv(fileInput).replace(np.nan, "")
df_K['sourceFile'] = 'K'
print(len(df_K))

11728

In [14]:
# 12) HistoricalMunicipal_L
fileInput = "HistoricalMunicipal_L.csv"
df_L = pd.read_csv(fileInput).replace(np.nan, "")
df_L['sourceFile'] = 'L'
print(len(df_L))

15506

In [15]:
# 13) HistoricalMunicipal_M
fileInput = "HistoricalMunicipal_M.csv"
df_M = pd.read_csv(fileInput).replace(np.nan, "")
df_M['sourceFile'] = 'M'
print(len(df_M))

4721

In [16]:
# 14) HistoricalMunicipal_N
fileInput = "HistoricalMunicipal_N.csv"
df_N = pd.read_csv(fileInput).replace(np.nan, "")
df_N['sourceFile'] = 'N'
print(len(df_N))

3886

In [17]:
# 15) HistoricalMunicipal_O
fileInput = "HistoricalMunicipal_O.csv"
df_O = pd.read_csv(fileInput).replace(np.nan, "")
df_O['sourceFile'] = 'O'
print(len(df_O))

6460

In [18]:
# 16) HistoricalMunicipal_P
fileInput = "HistoricalMunicipal_P.csv"
df_P = pd.read_csv(fileInput).replace(np.nan, "")
df_P['sourceFile'] = 'P'
print(len(df_P))

842

In [19]:
# Concatenate Historical Municipal Data Together
frames = [df_A, df_B, df_C, df_D, df_E, df_F, df_G, df_H, 
          df_I, df_J, df_K, df_L, df_M, df_N, df_O, df_P]
df_HM = pd.concat(frames).reset_index(drop=True)
print(len(df_HM))

216022

In [20]:
# 1) PWS Water Use 2016
fileInput = "PWS_Categorical_Connections_and_Volumes_2016.csv"
dfpws_16 = pd.read_csv(fileInput).replace(np.nan, "")
dfpws_16['sourceFile'] = 'pws2016'
print(len(dfpws_16))

3928

In [21]:
# 2) PWS Water Use 2017
fileInput = "PWS_Categorical_Connections_and_Volumes_2017.csv"
dfpws_17 = pd.read_csv(fileInput).replace(np.nan, "")
dfpws_17['sourceFile'] = 'pws2017'
print(len(dfpws_17))

3953

In [22]:
# 3) PWS Water Use 2018
fileInput = "PWS_Categorical_Connections_and_Volumes_2018.csv"
dfpws_18 = pd.read_csv(fileInput).replace(np.nan, "")
dfpws_18['sourceFile'] = 'pws2018'
print(len(dfpws_18))

3962

In [23]:
# 4) PWS Water Use 2019
fileInput = "PWS_Categorical_Connections_and_Volumes_2019.csv"
dfpws_19 = pd.read_csv(fileInput).replace(np.nan, "")
dfpws_19['sourceFile'] = 'pws2019'
print(len(dfpws_19))

3960

In [24]:
# Concatenate PWS Water Use Data Together
frames = [dfpws_16, dfpws_17, dfpws_18, dfpws_19]
df_PWU = pd.concat(frames).reset_index(drop=True)
print(len(df_PWU))

15803

In [25]:
# Input of an Export of Shapefile data.
fileInput = "PWS_Shapefile_Export/PWS_Export.shp"
df_PWS = gpd.read_file(fileInput)
print(len(df_PWS))
df_PWS.head()

4572

,PWSId,pwsName,Status,Source,SubmitDate,Area,Long,Lat,geometry
0,TX0010023,MONTALBA WSC,Updated,CCNFAC,2021-10-21,7.783750,-95.745070,31.880720,"POLYGON ((-95.71387 31.86237, -95.73207 31.853..."
1,TX0030007,PLEASURE POINT,Updated,CCNBND,2021-10-21,0.044904,-94.371399,31.179799,"POLYGON ((-94.36856 31.17868, -94.37010 31.177..."
2,TX0080051,MEADOWVIEW ESTATES,Updated,System,2021-03-01,0.121626,-96.159072,29.718315,"POLYGON ((-96.15548 29.71821, -96.15674 29.713..."
3,TX0010038,DOGWOOD HILLS NORTH,Updated,OTHER,2021-10-21,0.337285,-95.617563,31.802452,"POLYGON ((-95.61118 31.80784, -95.61773 31.795..."
4,TX0050015,CITY OF LAKESIDE CITY,Updated,PWS,2021-05-04,0.646104,-98.540114,33.829168,"POLYGON ((-98.53249 33.83285, -98.53237 33.832..."

In [26]:
# Bridge Table
fileInput = "20220106 PWS-SurveyNO bridge table.csv"
df_bridge = pd.read_csv(fileInput)
print(len(df_bridge))
df_bridge.head()

4642

   surveyNo    yr   pwsCode2                           pwsName
0        10  2020  TX1970003                CANADIAN RIVER MWA
1        20  2020  TX0650013                    GREENBELT MIWA
2        25  2020  TX1070252  ATHENS MUNICIPAL WATER AUTHORITY
3        60  2020  TX1580065               NORTHEAST TEXAS MWD
4        90  2020  TX1290052      NORTH TEXAS MWD TAWAKONI WTP

In [27]:
# Left Join HistoricalMunicipal to Bridge table via 'TWDB_Survey_No' = 'surveyNo'.
# Left Join Shapefile Export via 'pwsCode2' = 'PWSId'.

df = pd.merge(df_HM, df_bridge, left_on='TWDB_Survey_No', right_on='surveyNo', how='left')
df = pd.merge(df, df_PWS, left_on='pwsCode2', right_on='PWSId', how='left')

print(len(df))
df.head()

216022

,Year,TWDB_Survey_No,Organization,Population_Served,Water_Type,Purchasd___Self_Supplied,Region_Used,County_Used,Basin_Used,Source_County,Source_Basin,Aquifer_Source,Surface_Water_Source,Seller_Name,Active_Wells,Brackish___Saline,TWDB_Estimated_Volume,Percent_Treated_Prior_to_Intake,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total_Intake__Gallons_,sourceFile,surveyNo,yr,pwsCode2,pwsName_x,PWSId,pwsName_y,Status,Source,SubmitDate,Area,Long,Lat,geometry
0,2021,215600,CITY OF DARROUZETT,0,Ground Water,SS,A,LIPSCOMB,CANADIAN,LIPSCOMB,CANADIAN,OGALLALA AQUIFER,,N/A ...,0,N,N,0.0,"1,486,000,000","1,752,000,000","1,799,000,000","2,171,000,000","2,238,000,000","2,611,000,000","2,630,000,000","3,193,000,000","2,805,000,000","2,132,000,000","1,777,000,000","2,040,000,000","26,634,000,000",A,215600.0,2020.0,TX1480002,DARROUZETT MUNICIPAL WATER SYSTEM,TX1480002,DARROUZETT MUNICIPAL WATER SYSTEM,Updated,System,2021-02-04,0.552398,-100.323256,36.445144,"POLYGON ((-100.30989 36.44648, -100.31029 36.4..."
1,2020,17600,AMARILLO MWS,"199,371",Ground Water,SS,A,POTTER,CANADIAN,DEAF SMITH,RED,OGALLALA AQUIFER,,N/A ...,0,N,N,0.0,0,0,0,0,0,0,"1,695,058",0,0,0,0,0,"1,695,058",A,17600.0,2020.0,TX1880001,AMARILLO MUNICIPAL WATER SYSTEM,TX1880001,AMARILLO MUNICIPAL WATER SYSTEM,Updated,PWS,2021-06-04,99.538002,-101.826738,35.201883,"POLYGON ((-101.91999 35.11695, -101.91984 35.1..."
2,2020,180000,CITY OF MIAMI,498,Ground Water,SS,A,ROBERTS,CANADIAN,ROBERTS,CANADIAN,OGALLALA AQUIFER,,N/A ...,1,N,N,100.0,"14,605","11,432","21,855","37,462","9,614","14,323","18,492","16,575",303,"7,763","8,214","18,483","179,121",A,180000.0,2020.0,TX1970002,CITY OF MIAMI,TX1970002,CITY OF MIAMI,Updated,CCNBND,2021-10-21,1.815500,-100.644528,35.690414,"POLYGON ((-100.64407 35.70169, -100.64393 35.7..."
3,2020,241200,CITY OF DUMAS,"15,691",Ground Water,SS,A,MOORE,CANADIAN,MOORE,CANADIAN,OGALLALA AQUIFER,,N/A ...,5,N,N,0.0,"2,754,093","651,702","4,963,688","8,168,433","24,950,085","48,036,954","23,161,489","35,055,051","21,672,676","22,828,795","6,387,331","1,365,967","199,996,264",A,241200.0,2020.0,TX1710001,CITY OF DUMAS,TX1710001,CITY OF DUMAS,Updated,System,2021-10-21,9.547694,-101.961919,35.864514,"POLYGON ((-101.99010 35.88744, -101.94353 35.8..."
4,2020,373200,HARTLEY WSC,450,Ground Water,SS,A,HARTLEY,CANADIAN,HARTLEY,CANADIAN,OGALLALA AQUIFER,,N/A ...,1,N,N,0.0,"1,311,000","1,000,000","926,000","1,466,000","1,395,000","1,500,000","3,993,000","1,777,000","1,800,000","1,639,000","650,000",0,"17,457,000",A,373200.0,2020.0,TX1030010,HARTLEY WSC,TX1030010,HARTLEY WSC,Updated,CCNBND,2021-05-20,1.762980,-102.397267,35.882899,"POLYGON ((-102.39515 35.87210, -102.39795 35.8..."

In [28]:
# Left Join PWS Water Use to Bridge table via 'TWDB_Survey_Number' = 'surveyNo'.
# Left Join Shapefile Export via 'pwsCode2' = 'PWSId'.

df2 = pd.merge(df_PWU, df_bridge, left_on='TWDB_Survey_Number', right_on='surveyNo', how='left')
df2 = pd.merge(df2, df_PWS, left_on='pwsCode2', right_on='PWSId', how='left')

print(len(df2))
df2.head()

15803

,Year,TWDB_Survey_Number,PWS_Entity_Name,TCEQ_PWS_Code,Single_Family_Connections,Multi_Family_Connections,Commercial_Connections,Industrial_Connections,Institutional_Connections,Agriculture_Connections,Reuse_Connections,Total_Metered_Connections,Total_Unmetered_Connections,Single_Family_Volume,Multi_Family_Volume,Commercial_Volume,Industrial_Volume,Institutional_Volume,Agriculture_Volume,Reuse_Volume,Total_Metered_Volume,Unmetered_Volume,sourceFile,surveyNo,yr,pwsCode2,pwsName_x,PWSId,pwsName_y,Status,Source,SubmitDate,Area,Long,Lat,geometry
0,2016,290,WHITE RIVER MWD,540015,260,0,8,0,0,39,0,307,22,"10,834,690",0,"4,582,530",0,0,"838,490",0,"16,255,710","5,000,000",pws2016,290.0,2020.0,TX0540015,WHITE RIVER MWD,TX0540015,WHITE RIVER MWD,Updated,System,2021-05-05,194.193931,-101.149756,33.439877,"MULTIPOLYGON (((-101.22558 33.65126, -101.0965..."
1,2016,5000,A & P WSC,1830017,206,0,4,0,0,0,0,210,0,"10,101,600",0,"328,200",0,0,0,0,"10,429,800",0,pws2016,5000.0,2020.0,TX1830017,A & P WSC PUMP 1,TX1830017,A & P WSC PUMP 1,Updated,CCNBND,2021-03-01,16.140200,-94.297186,32.109461,"POLYGON ((-94.28101 32.12463, -94.28070 32.124..."
2,2016,5800,CITY OF ABBOTT,1090015,203,0,8,0,8,4,0,223,10,"10,281,910",0,"450,980",0,"2,328,930","27,420",0,"13,089,240","281,600",pws2016,5800.0,2020.0,TX1090015,CITY OF ABBOTT,TX1090015,CITY OF ABBOTT,Updated,System,2021-05-28,0.655847,-97.079192,31.887210,"POLYGON ((-97.09445 31.90855, -97.09296 31.905..."
3,2016,6600,CITY OF ABERNATHY,950001,"1,062",5,93,1,15,0,0,"1,176",0,"82,285,000","793,000","16,181,000","569,000","11,840,000",0,0,"111,668,000",0,pws2016,6600.0,2020.0,TX0950001,CITY OF ABERNATHY,TX0950001,CITY OF ABERNATHY,Updated,System,2021-10-21,3.344661,-101.847103,33.835936,"POLYGON ((-101.85315 33.84893, -101.85282 33.8..."
4,2016,6650,CITY OF ABILENE,2210001,"36,284","10,358","4,880",44,744,0,1,"52,311",0,"2,553,239,000","537,006,000","989,628,000","144,859,000","501,717,000",0,"75,534,000","4,801,983,000",0,pws2016,6650.0,2020.0,TX2210001,CITY OF ABILENE,TX2210001,CITY OF ABILENE,Updated,System,2021-10-21,82.035033,-99.741871,32.434801,"MULTIPOLYGON (((-99.71388 32.51880, -99.71486 ..."

# (1) Intake Data: Monthly and Annual Timeseries
- Exporting Monthly and Annual (total) timeseries data.

In [29]:
# Create temporary main dataframe
df_temp = pd.DataFrame(index=df.index)

# Method Info
df_temp['in_MethodUUID'] = "TXssps_M1"

# Variable Info
df_temp['in_VariableSpecificCV'] = "" # Timeseries specific.

# Water Source Info
df_temp['Organization'] = df['Organization']
df_temp['Aquifer_Source'] = df['Aquifer_Source']
df_temp['Surface_Water_Source'] = df['Surface_Water_Source']
df_temp['in_WaterSourceName'] = "" # specific to name
df_temp['in_WaterSourceTypeCV'] = df['Water_Type']

# Site Info
df_temp['in_CoordinateMethodCV'] = df['Source']
df_temp['in_County'] = df['County_Used']
df_temp['in_Latitude'] = df['Lat'].astype(float)
df_temp['in_Longitude'] = df['Long'].astype(float)
df_temp['in_SiteName'] = df['pwsName_y']
df_temp['in_SiteNativeID'] = "POU" + df['PWSId'].astype(str)

# Site Variable Amount Info
df_temp['in_Amount'] = "" # Timeseries specific.
df_temp['in_BeneficialUseCategory'] = "Municipal"
df_temp['in_CommunityWaterSupplySystem'] =  df['pwsName_y']
df_temp['in_PopulationServed'] =  df['Population_Served']
df_temp['in_ReportYearCV'] =  df['Year']
df_temp['in_TimeframeStart'] = "" # Timeseries specific.
df_temp['in_TimeframeEnd'] = "" # Timeseries specific.

print(len(df_temp))
df_temp.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M1,,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,,Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,,

In [30]:
# 1) Monthly Jan
df_Jan = df_temp.copy()

df_Jan['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Jan['in_Amount'] = df['Jan'] # <- change here
df_Jan['in_TimeframeStart'] = df['Year'].astype(str) + "-01-01"  # <- change here
df_Jan['in_TimeframeEnd'] = df['Year'].astype(str) + "-01-31"  # <- change here
df_Jan['timeStamp'] = "January"

df_Jan['in_TimeframeEnd'] = df['Year'].astype(str) + "-01-31"  # <- change here

print(len(df_Jan))
df_Jan.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"1,486,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-01-01,2021-01-31,January

In [31]:
# 2) Monthly Feb
df_Feb = df_temp.copy()

df_Feb['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Feb['in_Amount'] = df['Feb'] # <- change here
df_Feb['in_TimeframeStart'] = df['Year'].astype(str) + "-02-01"  # <- change here
df_Feb['in_TimeframeEnd'] = df['Year'].astype(str) + "-02-28"  # <- change here
df_Feb['timeStamp'] = "Feburary"

print(len(df_Feb))
df_Feb.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"1,752,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-02-01,2021-02-28,Feburary

In [32]:
# 3) Monthly Mar
df_Mar = df_temp.copy()

df_Mar['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Mar['in_Amount'] = df['Mar'] # <- change here
df_Mar['in_TimeframeStart'] = df['Year'].astype(str) + "-03-01"  # <- change here
df_Mar['in_TimeframeEnd'] = df['Year'].astype(str) + "-03-31"  # <- change here
df_Mar['timeStamp'] = "March"

print(len(df_Mar))
df_Mar.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"1,799,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-03-01,2021-03-31,March

In [33]:
# 4) Monthly Apr
df_Apr = df_temp.copy()

df_Apr['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Apr['in_Amount'] = df['Apr'] # <- change here
df_Apr['in_TimeframeStart'] = df['Year'].astype(str) + "-04-01"  # <- change here
df_Apr['in_TimeframeEnd'] = df['Year'].astype(str) + "-04-30"  # <- change here
df_Apr['timeStamp'] = "April"

print(len(df_Apr))
df_Apr.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,171,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-04-01,2021-04-30,April

In [34]:
# 5) Monthly May
df_May = df_temp.copy()

df_May['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_May['in_Amount'] = df['May'] # <- change here
df_May['in_TimeframeStart'] = df['Year'].astype(str) + "-05-01"  # <- change here
df_May['in_TimeframeEnd'] = df['Year'].astype(str) + "-05-31"  # <- change here
df_May['timeStamp'] = "May"

print(len(df_May))
df_May.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,238,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-05-01,2021-05-31,May

In [35]:
# 6) Monthly Jun
df_Jun = df_temp.copy()

df_Jun['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Jun['in_Amount'] = df['Jun'] # <- change here
df_Jun['in_TimeframeStart'] = df['Year'].astype(str) + "-06-01"  # <- change here
df_Jun['in_TimeframeEnd'] = df['Year'].astype(str) + "-06-30"  # <- change here
df_Jun['timeStamp'] = "June"

print(len(df_Jun))
df_Jun.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,611,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-06-01,2021-06-30,June

In [36]:
# 7) Monthly Jul
df_Jul = df_temp.copy()

df_Jul['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Jul['in_Amount'] = df['Jul'] # <- change here
df_Jul['in_TimeframeStart'] = df['Year'].astype(str) + "-07-01"  # <- change here
df_Jul['in_TimeframeEnd'] = df['Year'].astype(str) + "-07-31"  # <- change here
df_Jul['timeStamp'] = "July"

print(len(df_Jul))
df_Jul.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,630,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-07-01,2021-07-31,July

In [37]:
# 8) Monthly Aug
df_Aug = df_temp.copy()

df_Aug['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Aug['in_Amount'] = df['Aug'] # <- change here
df_Aug['in_TimeframeStart'] = df['Year'].astype(str) + "-08-01"  # <- change here
df_Aug['in_TimeframeEnd'] = df['Year'].astype(str) + "-08-31"  # <- change here
df_Aug['timeStamp'] = "August"

print(len(df_Aug))
df_Aug.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"3,193,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-08-01,2021-08-31,August

In [38]:
# 9) Monthly Sep
df_Sep = df_temp.copy()

df_Sep['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Sep['in_Amount'] = df['Sep'] # <- change here
df_Sep['in_TimeframeStart'] = df['Year'].astype(str) + "-09-01"  # <- change here
df_Sep['in_TimeframeEnd'] = df['Year'].astype(str) + "-09-30"  # <- change here
df_Sep['timeStamp'] = "September"

print(len(df_Sep))
df_Sep.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,805,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-09-01,2021-09-30,September

In [39]:
# 10) Monthly Oct
df_Oct = df_temp.copy()

df_Oct['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Oct['in_Amount'] = df['Oct'] # <- change here
df_Oct['in_TimeframeStart'] = df['Year'].astype(str) + "-10-01"  # <- change here
df_Oct['in_TimeframeEnd'] = df['Year'].astype(str) + "-10-31"  # <- change here
df_Oct['timeStamp'] = "October"

print(len(df_Oct))
df_Oct.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,132,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-10-01,2021-10-31,October

In [40]:
# 11) Monthly Nov
df_Nov = df_temp.copy()

df_Nov['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Nov['in_Amount'] = df['Nov'] # <- change here
df_Nov['in_TimeframeStart'] = '11/01/' + df['Year'].astype(str) # <- change here
df_Nov['in_TimeframeEnd'] = '11/30/' + df['Year'].astype(str) # <- change here
df_Nov['in_TimeframeStart'] = df['Year'].astype(str) + "-11-01"  # <- change here
df_Nov['in_TimeframeEnd'] = df['Year'].astype(str) + "-11-30"  # <- change here
df_Nov['timeStamp'] = "November"

print(len(df_Nov))
df_Nov.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"1,777,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-11-01,2021-11-30,November

In [41]:
# 12) Monthly Dec
df_Dec = df_temp.copy()

df_Dec['in_VariableSpecificCV'] = "Intake_Monthly_MI" # <- change here
df_Dec['in_Amount'] = df['Dec'] # <- change here
df_Dec['in_TimeframeStart'] = df['Year'].astype(str) + "-12-01"  # <- change here
df_Dec['in_TimeframeEnd'] = df['Year'].astype(str) + "-12-31"  # <- change here
df_Dec['timeStamp'] = "December"

print(len(df_Dec))
df_Dec.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"2,040,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-12-01,2021-12-31,December

In [42]:
# 13) Annual (total)
df_Annual = df_temp.copy()

df_Annual['in_VariableSpecificCV'] = "Intake_Annual_MI" # <- change here
df_Annual['in_Amount'] = df['Total_Intake__Gallons_'] # <- change here
df_Annual['in_TimeframeStart'] = df['Year'].astype(str) + "-01-01"  # <- change here
df_Annual['in_TimeframeEnd'] = df['Year'].astype(str) + "-12-31"  # <- change here
df_Annual['timeStamp'] = "Annual"

print(len(df_Annual))
df_Annual.head(1)

216022

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Annual_MI,CITY OF DARROUZETT,OGALLALA AQUIFER,,,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"26,634,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-01-01,2021-12-31,Annual

In [43]:
# Concatenate Monthly and Annual Intake Together
frames = [df_Jan, df_Feb, df_Mar, df_Apr, df_May, df_Jun,
          df_Jul, df_Aug, df_Sep, df_Oct, df_Nov, df_Dec, df_Annual]
dfout_intake = pd.concat(frames).reset_index(drop=True)
print(len(dfout_intake))

2808286

In [44]:
# dropping duplicate
dropList=['in_VariableSpecificCV','in_WaterSourceTypeCV','in_SiteNativeID','in_BeneficialUseCategory','in_ReportYearCV','in_TimeframeStart','in_TimeframeEnd']
dfout_intake = dfout_intake.drop_duplicates(subset=dropList, keep='first').reset_index(drop=True)
print(len(dfout_intake))

2107105

In [45]:
# Create WaterSource name
# Surface Water = Surface_Water_Source, Groundwater = Aquifer_Source, Reuse = Organization.

# Fixing empty site names

def setWSN(Type, SWName, GWName, RUName):
    Type = str(Type).strip()
    SWName = str(SWName).strip()
    GWName = str(GWName).strip()
    RUName = str(RUName).strip()
    
    outString = "Unspecified" # default
    
    if Type == "Surface Water":
        outString = SWName
    if Type == "Ground Water":
        outString = GWName
    if Type == "Reuse":
        outString = RUName
        
    if outString == "":
        outString = "Unspecified"
        
    return outString

dfout_intake['in_WaterSourceName'] = dfout_intake.apply(lambda row: setWSN(row['in_WaterSourceTypeCV'], 
                                                             row['Surface_Water_Source'], 
                                                             row['Aquifer_Source'], 
                                                             row['Organization']), axis=1)
print(len(dfout_intake))

2107105

In [46]:
# Update in_VariableSpecificCV to include water source type.

def changeGroundWater(WSTcv):
    WSTcv = str(WSTcv).strip()
    if WSTcv == "Ground Water":
        outString = 'Groundwater'
    else:
        outString = WSTcv
    return outString

dfout_intake['temp_WaterSourceTypeCV'] = dfout_intake.apply(lambda row: changeGroundWater(row['in_WaterSourceTypeCV']), axis=1)

def updateVariableSpecificCV(VScv, WSTcv):
    VScv = str(VScv).strip()
    WSTcv = str(WSTcv).strip()
    outString = VScv + "_" + WSTcv
    return outString

dfout_intake['in_VariableSpecificCV'] = dfout_intake.apply(lambda row: updateVariableSpecificCV(row['in_VariableSpecificCV'], row['temp_WaterSourceTypeCV']), axis=1)
dfout_intake = dfout_intake.drop(['temp_WaterSourceTypeCV'], axis=1)
dfout_intake['in_VariableSpecificCV'].unique()

array(['Intake_Monthly_MI_Groundwater', 'Intake_Monthly_MI_Surface Water',
       'Intake_Monthly_MI_Reuse', 'Intake_Annual_MI_Groundwater',
       'Intake_Annual_MI_Surface Water', 'Intake_Annual_MI_Reuse'],
      dtype=object)

# (2) Public Water System Data: Annual Timeseries
- Nine time series to use:
    - SingleFamily
    - Multifamily
    - Comercial
    - Industrial
    - Agriculture
    - Reuse
    - Total Metered
    - Total Unmetered

In [47]:
# 1) PWS SingleFamily
dfpwu_sf = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_sf['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_sf['in_VariableSpecificCV'] = "Water Use_Annual_SingleFamily_Unspecified"

# Water Source Info
dfpwu_sf['in_WaterSourceName'] = "Unspecified"
dfpwu_sf['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_sf['in_CoordinateMethodCV'] = df2['Source']
dfpwu_sf['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_sf['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_sf['in_Longitude'] = df2['Long'].astype(float)
dfpwu_sf['in_SiteName'] = df2['pwsName_y']
dfpwu_sf['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_sf['in_Amount'] = df2['Single_Family_Volume']  # Timeseries specific.
dfpwu_sf['in_BeneficialUseCategory'] = "SingleFamily"  # Timeseries specific.
dfpwu_sf['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_sf['in_PopulationServed'] =  df2['Single_Family_Connections']  # Timeseries specific.
dfpwu_sf['in_ReportYearCV'] =  df2['Year']
dfpwu_sf['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_sf['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_sf))
dfpwu_sf.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_SingleFamily_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,"10,834,690",SingleFamily,WHITE RIVER MWD,260,2016,2016-01-01,2016-12-31

In [48]:
# 2) PWS MultiFamily
dfpwu_mf = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_mf['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_mf['in_VariableSpecificCV'] = "Water Use_Annual_MultiFamily_Unspecified"

# Water Source Info
dfpwu_mf['in_WaterSourceName'] = "Unspecified"
dfpwu_mf['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_mf['in_CoordinateMethodCV'] = df2['Source']
dfpwu_mf['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_mf['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_mf['in_Longitude'] = df2['Long'].astype(float)
dfpwu_mf['in_SiteName'] = df2['pwsName_y']
dfpwu_mf['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_mf['in_Amount'] = df2['Multi_Family_Volume']  # Timeseries specific.
dfpwu_mf['in_BeneficialUseCategory'] = "MultiFamily"  # Timeseries specific.
dfpwu_mf['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_mf['in_PopulationServed'] =  df2['Multi_Family_Connections']  # Timeseries specific.
dfpwu_mf['in_ReportYearCV'] =  df2['Year']
dfpwu_mf['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_mf['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_mf))
dfpwu_mf.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_MultiFamily_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,0,MultiFamily,WHITE RIVER MWD,0,2016,2016-01-01,2016-12-31

In [49]:
# 3) PWS Commercial
dfpwu_c = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_c['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_c['in_VariableSpecificCV'] = "Water Use_Annual_Commercial_Unspecified"

# Water Source Info
dfpwu_c['in_WaterSourceName'] = "Unspecified"
dfpwu_c['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_c['in_CoordinateMethodCV'] = df2['Source']
dfpwu_c['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_c['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_c['in_Longitude'] = df2['Long'].astype(float)
dfpwu_c['in_SiteName'] = df2['pwsName_y']
dfpwu_c['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_c['in_Amount'] = df2['Commercial_Volume']  # Timeseries specific.
dfpwu_c['in_BeneficialUseCategory'] = "Commercial"  # Timeseries specific.
dfpwu_c['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_c['in_PopulationServed'] =  df2['Commercial_Connections']  # Timeseries specific.
dfpwu_c['in_ReportYearCV'] =  df2['Year']
dfpwu_c['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_c['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_c))
dfpwu_c.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_Commercial_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,"4,582,530",Commercial,WHITE RIVER MWD,8,2016,2016-01-01,2016-12-31

In [50]:
# 4) PWS Industrial
dfpwu_i = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_i['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_i['in_VariableSpecificCV'] = "Water Use_Annual_Industrial_Unspecified"

# Water Source Info
dfpwu_i['in_WaterSourceName'] = "Unspecified"
dfpwu_i['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_i['in_CoordinateMethodCV'] = df2['Source']
dfpwu_i['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_i['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_i['in_Longitude'] = df2['Long'].astype(float)
dfpwu_i['in_SiteName'] = df2['pwsName_y']
dfpwu_i['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_i['in_Amount'] = df2['Industrial_Volume']  # Timeseries specific.
dfpwu_i['in_BeneficialUseCategory'] = "Industrial"  # Timeseries specific.
dfpwu_i['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_i['in_PopulationServed'] =  df2['Industrial_Connections']  # Timeseries specific.
dfpwu_i['in_ReportYearCV'] =  df2['Year']
dfpwu_i['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_i['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_i))
dfpwu_i.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_Industrial_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,0,Industrial,WHITE RIVER MWD,0,2016,2016-01-01,2016-12-31

In [51]:
# 5) PWS Institutional
dfpwu_ins = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_ins['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_ins['in_VariableSpecificCV'] = "Water Use_Annual_Institutional_Unspecified"

# Water Source Info
dfpwu_ins['in_WaterSourceName'] = "Unspecified"
dfpwu_ins['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_ins['in_CoordinateMethodCV'] = df2['Source']
dfpwu_ins['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_ins['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_ins['in_Longitude'] = df2['Long'].astype(float)
dfpwu_ins['in_SiteName'] = df2['pwsName_y']
dfpwu_ins['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_ins['in_Amount'] = df2['Institutional_Volume']  # Timeseries specific.
dfpwu_ins['in_BeneficialUseCategory'] = "Institutional"  # Timeseries specific.
dfpwu_ins['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_ins['in_PopulationServed'] =  df2['Institutional_Connections']  # Timeseries specific.
dfpwu_ins['in_ReportYearCV'] =  df2['Year']
dfpwu_ins['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_ins['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_ins))
dfpwu_ins.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_Institutional_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,0,Institutional,WHITE RIVER MWD,0,2016,2016-01-01,2016-12-31

In [52]:
# 6) PWS Agriculture
dfpwu_ag = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_ag['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_ag['in_VariableSpecificCV'] = "Water Use_Annual_Agriculture_Unspecified"

# Water Source Info
dfpwu_ag['in_WaterSourceName'] = "Unspecified"
dfpwu_ag['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_ag['in_CoordinateMethodCV'] = df2['Source']
dfpwu_ag['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_ag['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_ag['in_Longitude'] = df2['Long'].astype(float)
dfpwu_ag['in_SiteName'] = df2['pwsName_y']
dfpwu_ag['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_ag['in_Amount'] = df2['Agriculture_Volume']  # Timeseries specific.
dfpwu_ag['in_BeneficialUseCategory'] = "Agriculture"  # Timeseries specific.
dfpwu_ag['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_ag['in_PopulationServed'] =  df2['Agriculture_Connections']  # Timeseries specific.
dfpwu_ag['in_ReportYearCV'] =  df2['Year']
dfpwu_ag['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_ag['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_ag))
dfpwu_ag.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_Agriculture_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,"838,490",Agriculture,WHITE RIVER MWD,39,2016,2016-01-01,2016-12-31

In [53]:
# 7) Reuse_Connections
dfpwu_re = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_re['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_re['in_VariableSpecificCV'] = "Water Use_Annual_Reuse_Unspecified"

# Water Source Info
dfpwu_re['in_WaterSourceName'] = "Unspecified"
dfpwu_re['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_re['in_CoordinateMethodCV'] = df2['Source']
dfpwu_re['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_re['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_re['in_Longitude'] = df2['Long'].astype(float)
dfpwu_re['in_SiteName'] = df2['pwsName_y']
dfpwu_re['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_re['in_Amount'] = df2['Reuse_Volume']  # Timeseries specific.
dfpwu_re['in_BeneficialUseCategory'] = "Reuse"  # Timeseries specific.
dfpwu_re['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_re['in_PopulationServed'] =  df2['Reuse_Connections']  # Timeseries specific.
dfpwu_re['in_ReportYearCV'] =  df2['Year']
dfpwu_re['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_re['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_re))
dfpwu_re.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_Reuse_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,0,Reuse,WHITE RIVER MWD,0,2016,2016-01-01,2016-12-31

In [54]:
# 8) TotalMetered
dfpwu_tm = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_tm['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_tm['in_VariableSpecificCV'] = "Water Use_Annual_TotalMetered_Unspecified"

# Water Source Info
dfpwu_tm['in_WaterSourceName'] = "Unspecified"
dfpwu_tm['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_tm['in_CoordinateMethodCV'] = df2['Source']
dfpwu_tm['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_tm['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_tm['in_Longitude'] = df2['Long'].astype(float)
dfpwu_tm['in_SiteName'] = df2['pwsName_y']
dfpwu_tm['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_tm['in_Amount'] = df2['Total_Metered_Volume']  # Timeseries specific.
dfpwu_tm['in_BeneficialUseCategory'] = "TotalMetered"  # Timeseries specific.
dfpwu_tm['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_tm['in_PopulationServed'] =  df2['Total_Metered_Connections']  # Timeseries specific.
dfpwu_tm['in_ReportYearCV'] =  df2['Year']
dfpwu_tm['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_tm['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_tm))
dfpwu_tm.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_TotalMetered_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,"16,255,710",TotalMetered,WHITE RIVER MWD,307,2016,2016-01-01,2016-12-31

In [55]:
# 9) TotalMetered
dfpwu_tum = pd.DataFrame(index=df2.index)

# Method Info
dfpwu_tum['in_MethodUUID'] = "TXssps_M2"

# Variable Info
dfpwu_tum['in_VariableSpecificCV'] = "Water Use_Annual_TotalUnmetered_Unspecified"

# Water Source Info
dfpwu_tum['in_WaterSourceName'] = "Unspecified"
dfpwu_tum['in_WaterSourceTypeCV'] = "Unspecified"

# Site Info
dfpwu_tum['in_CoordinateMethodCV'] = df2['Source']
dfpwu_tum['in_County'] = ""  # should be okay to leave blank as we use SiteNativeID from shapefile to identify sites
dfpwu_tum['in_Latitude'] = df2['Lat'].astype(float)
dfpwu_tum['in_Longitude'] = df2['Long'].astype(float)
dfpwu_tum['in_SiteName'] = df2['pwsName_y']
dfpwu_tum['in_SiteNativeID'] = df2['PWSId']

# Site Variable Amount Info
dfpwu_tum['in_Amount'] = df2['Unmetered_Volume']  # Timeseries specific.
dfpwu_tum['in_BeneficialUseCategory'] = "TotalUnmetered"  # Timeseries specific.
dfpwu_tum['in_CommunityWaterSupplySystem'] =  df2['pwsName_y']
dfpwu_tum['in_PopulationServed'] =  df2['Total_Unmetered_Connections']  # Timeseries specific.
dfpwu_tum['in_ReportYearCV'] =  df2['Year']
dfpwu_tum['in_TimeframeStart'] = df2['Year'].astype(str) + "-01-01"  # <- change here
dfpwu_tum['in_TimeframeEnd'] = df2['Year'].astype(str) + "-12-31"  # <- change here

print(len(dfpwu_tum))
dfpwu_tum.head(1)

15803

,in_MethodUUID,in_VariableSpecificCV,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd
0,TXssps_M2,Water Use_Annual_TotalUnmetered_Unspecified,Unspecified,Unspecified,System,,33.439877,-101.149756,WHITE RIVER MWD,TX0540015,"5,000,000",TotalUnmetered,WHITE RIVER MWD,22,2016,2016-01-01,2016-12-31

In [56]:
# Concatenate PWS Water Use Together
frames = [dfpwu_sf, dfpwu_mf, dfpwu_c, dfpwu_i, dfpwu_ins,
          dfpwu_ag, dfpwu_re, dfpwu_tm, dfpwu_tum]
dfout_pwu = pd.concat(frames).reset_index(drop=True)
print(len(dfout_pwu))

142227

## Concatenate Intake with PWS outputs datatogether

In [57]:
# Concatenate PWS Water Use Together
frames = [dfout_intake, dfout_pwu]
dfout = pd.concat(frames).reset_index(drop=True)
print(len(dfout_pwu))

142227

## Cleaning Output & WaDE Custom Elements (due to missing info)

In [58]:
# Convert History Year to YYYY-MM-DD format.

dfout['in_TimeframeEnd'] = pd.to_datetime(dfout['in_TimeframeEnd'], errors = 'coerce')
dfout['in_TimeframeEnd'] = pd.to_datetime(dfout["in_TimeframeEnd"].dt.strftime('%m/%d/%Y'))

dfout['in_TimeframeStart'] = pd.to_datetime(dfout['in_TimeframeStart'], errors = 'coerce')
dfout['in_TimeframeStart'] = pd.to_datetime(dfout["in_TimeframeStart"].dt.strftime('%m/%d/%Y'))

dfout.head()

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp
0,TXssps_M1,Intake_Monthly_MI_Groundwater,CITY OF DARROUZETT,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,"1,486,000,000",Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-01-01,2021-01-31,January
1,TXssps_M1,Intake_Monthly_MI_Groundwater,AMARILLO MWS,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,PWS,POTTER,35.201883,-101.826738,AMARILLO MUNICIPAL WATER SYSTEM,POUTX1880001,0,Municipal,AMARILLO MUNICIPAL WATER SYSTEM,"199,371",2020,2020-01-01,2020-01-31,January
2,TXssps_M1,Intake_Monthly_MI_Groundwater,CITY OF MIAMI,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,CCNBND,ROBERTS,35.690414,-100.644528,CITY OF MIAMI,POUTX1970002,"14,605",Municipal,CITY OF MIAMI,498,2020,2020-01-01,2020-01-31,January
3,TXssps_M1,Intake_Monthly_MI_Groundwater,CITY OF DUMAS,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,System,MOORE,35.864514,-101.961919,CITY OF DUMAS,POUTX1710001,"2,754,093",Municipal,CITY OF DUMAS,"15,691",2020,2020-01-01,2020-01-31,January
4,TXssps_M1,Intake_Monthly_MI_Groundwater,HARTLEY WSC,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,CCNBND,HARTLEY,35.882899,-102.397267,HARTLEY WSC,POUTX1030010,"1,311,000",Municipal,HARTLEY WSC,450,2020,2020-01-01,2020-01-31,January

## WaDE Custom Elements (due to missing info)

In [59]:
# Creating WaDE Custom water source native ID for easy water source identification
# ----------------------------------------------------------------------------------------------------

# Create temp WaterSourceNativeID dataframe of unique water source.
def assignWaterSourceNativeID(colrowValue):
    string1 = str(colrowValue)
    outstring = "WaDETX_WS" + string1
    return outstring

dfWaterSourceNativeID = pd.DataFrame()
dfWaterSourceNativeID['in_WaterSourceName'] = dfout['in_WaterSourceName']
dfWaterSourceNativeID['in_WaterSourceTypeCV'] = dfout['in_WaterSourceTypeCV']
dfWaterSourceNativeID = dfWaterSourceNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfWaterSourceNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfWaterSourceNativeID['in_WaterSourceNativeID'] = dftemp.apply(lambda row: assignWaterSourceNativeID(row['Count']), axis=1)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom water source native ID
def retrieveWaterSourceNativeID(A, B):
    if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
        outList = ''
    else:
        ml = dfWaterSourceNativeID.loc[(dfWaterSourceNativeID['in_WaterSourceName'] == A) & 
                                       (dfWaterSourceNativeID['in_WaterSourceTypeCV'] == B), 'in_WaterSourceNativeID']
        if not (ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

dfout['in_WaterSourceNativeID'] = dfout.apply(lambda row: retrieveWaterSourceNativeID( row['in_WaterSourceName'], row['in_WaterSourceTypeCV']), axis=1)
dfout['in_WaterSourceNativeID'].unique()

array(['WaDETX_WS1', 'WaDETX_WS2', 'WaDETX_WS3', 'WaDETX_WS4',
       'WaDETX_WS5', 'WaDETX_WS6', 'WaDETX_WS7', 'WaDETX_WS8',
       'WaDETX_WS9', 'WaDETX_WS10', 'WaDETX_WS11', 'WaDETX_WS12',
       'WaDETX_WS13', 'WaDETX_WS14', 'WaDETX_WS15', 'WaDETX_WS16',
       'WaDETX_WS17', 'WaDETX_WS18', 'WaDETX_WS19', 'WaDETX_WS20',
       'WaDETX_WS21', 'WaDETX_WS22', 'WaDETX_WS23', 'WaDETX_WS24',
       'WaDETX_WS25', 'WaDETX_WS26', 'WaDETX_WS27', 'WaDETX_WS28',
       'WaDETX_WS29', 'WaDETX_WS30', 'WaDETX_WS31', 'WaDETX_WS32',
       'WaDETX_WS33', 'WaDETX_WS34', 'WaDETX_WS35', 'WaDETX_WS36',
       'WaDETX_WS37', 'WaDETX_WS38', 'WaDETX_WS39', 'WaDETX_WS40',
       'WaDETX_WS41', 'WaDETX_WS42', 'WaDETX_WS43', 'WaDETX_WS44',
       'WaDETX_WS45', 'WaDETX_WS46', 'WaDETX_WS47', 'WaDETX_WS48',
       'WaDETX_WS49', 'WaDETX_WS50', 'WaDETX_WS51', 'WaDETX_WS52',
       'WaDETX_WS53', 'WaDETX_WS54', 'WaDETX_WS55', 'WaDETX_WS56',
       'WaDETX_WS57', 'WaDETX_WS58', 'WaDETX_WS59', 'WaDETX_WS60',
       'WaDETX_WS61', 'WaDETX_WS62', 'WaDETX_WS63', 'WaDETX_WS64',
       'WaDETX_WS65', 'WaDETX_WS66', 'WaDETX_WS67', 'WaDETX_WS68',
       'WaDETX_WS69', 'WaDETX_WS70', 'WaDETX_WS71', 'WaDETX_WS72',
       'WaDETX_WS73', 'WaDETX_WS74', 'WaDETX_WS75', 'WaDETX_WS76',
       'WaDETX_WS77', 'WaDETX_WS78', 'WaDETX_WS79', 'WaDETX_WS80',
       'WaDETX_WS81', 'WaDETX_WS82', 'WaDETX_WS83', 'WaDETX_WS84',
       'WaDETX_WS85', 'WaDETX_WS86', 'WaDETX_WS87', 'WaDETX_WS88',
       'WaDETX_WS89', 'WaDETX_WS90', 'WaDETX_WS91', 'WaDETX_WS92',
       'WaDETX_WS93', 'WaDETX_WS94', 'WaDETX_WS95', 'WaDETX_WS96',
       'WaDETX_WS97', 'WaDETX_WS98', 'WaDETX_WS99', 'WaDETX_WS100',
       'WaDETX_WS101', 'WaDETX_WS102', 'WaDETX_WS103', 'WaDETX_WS104',
       'WaDETX_WS105', 'WaDETX_WS106', 'WaDETX_WS107', 'WaDETX_WS108',
       'WaDETX_WS109', 'WaDETX_WS110', 'WaDETX_WS111', 'WaDETX_WS112',
       'WaDETX_WS113', 'WaDETX_WS114', 'WaDETX_WS115', 'WaDETX_WS116',
       'WaDETX_WS117', 'WaDETX_WS118', 'WaDETX_WS119', 'WaDETX_WS120',
       'WaDETX_WS121', 'WaDETX_WS122', 'WaDETX_WS123', 'WaDETX_WS124',
       'WaDETX_WS125', 'WaDETX_WS126', 'WaDETX_WS127', 'WaDETX_WS128',
       'WaDETX_WS129', 'WaDETX_WS130', 'WaDETX_WS131', 'WaDETX_WS132',
       'WaDETX_WS133', 'WaDETX_WS134', 'WaDETX_WS135', 'WaDETX_WS136',
       'WaDETX_WS137', 'WaDETX_WS138', 'WaDETX_WS139', 'WaDETX_WS140',
       'WaDETX_WS141', 'WaDETX_WS142', 'WaDETX_WS143', 'WaDETX_WS144',
       'WaDETX_WS145', 'WaDETX_WS146', 'WaDETX_WS147', 'WaDETX_WS148',
       'WaDETX_WS149', 'WaDETX_WS150', 'WaDETX_WS151', 'WaDETX_WS152',
       'WaDETX_WS153', 'WaDETX_WS154', 'WaDETX_WS155', 'WaDETX_WS156',
       'WaDETX_WS157', 'WaDETX_WS158', 'WaDETX_WS159', 'WaDETX_WS160',
       'WaDETX_WS161', 'WaDETX_WS162', 'WaDETX_WS163', 'WaDETX_WS164',
       'WaDETX_WS165', 'WaDETX_WS166', 'WaDETX_WS167', 'WaDETX_WS168',
       'WaDETX_WS169', 'WaDETX_WS170', 'WaDETX_WS171', 'WaDETX_WS172',
       'WaDETX_WS173', 'WaDETX_WS174', 'WaDETX_WS175', 'WaDETX_WS176',
       'WaDETX_WS177', 'WaDETX_WS178', 'WaDETX_WS179', 'WaDETX_WS180',
       'WaDETX_WS181', 'WaDETX_WS182', 'WaDETX_WS183', 'WaDETX_WS184',
       'WaDETX_WS185', 'WaDETX_WS186', 'WaDETX_WS187', 'WaDETX_WS188',
       'WaDETX_WS189', 'WaDETX_WS190', 'WaDETX_WS191', 'WaDETX_WS192',
       'WaDETX_WS193', 'WaDETX_WS194', 'WaDETX_WS195', 'WaDETX_WS196',
       'WaDETX_WS197', 'WaDETX_WS198', 'WaDETX_WS199', 'WaDETX_WS200',
       'WaDETX_WS201', 'WaDETX_WS202', 'WaDETX_WS203', 'WaDETX_WS204',
       'WaDETX_WS205', 'WaDETX_WS206', 'WaDETX_WS207', 'WaDETX_WS208',
       'WaDETX_WS209', 'WaDETX_WS210', 'WaDETX_WS211', 'WaDETX_WS212',
       'WaDETX_WS213', 'WaDETX_WS214', 'WaDETX_WS215', 'WaDETX_WS216',
       'WaDETX_WS217', 'WaDETX_WS218', 'WaDETX_WS219', 'WaDETX_WS220',
       'WaDETX_WS221', 'WaDETX_WS222', 'WaDETX_WS223', 'WaDETX_WS224',
       'WaDETX_WS225', 'WaDETX_WS226', 'WaDETX_WS227', 'WaDETX_WS228',
       'WaDETX_WS229', 'WaDETX_WS230', 'WaDETX_WS231', 'WaDETX_WS232',
       'WaDETX_WS233', 'WaDETX_WS234', 'WaDETX_WS235', 'WaDETX_WS236',
       'WaDETX_WS237', 'WaDETX_WS238', 'WaDETX_WS239', 'WaDETX_WS240',
       'WaDETX_WS241', 'WaDETX_WS242', 'WaDETX_WS243', 'WaDETX_WS244',
       'WaDETX_WS245', 'WaDETX_WS246', 'WaDETX_WS247', 'WaDETX_WS248',
       'WaDETX_WS249', 'WaDETX_WS250', 'WaDETX_WS251', 'WaDETX_WS252',
       'WaDETX_WS253', 'WaDETX_WS254', 'WaDETX_WS255', 'WaDETX_WS256',
       'WaDETX_WS257', 'WaDETX_WS258', 'WaDETX_WS259', 'WaDETX_WS260',
       'WaDETX_WS261', 'WaDETX_WS262', 'WaDETX_WS263', 'WaDETX_WS264',
       'WaDETX_WS265', 'WaDETX_WS266', 'WaDETX_WS267', 'WaDETX_WS268',
       'WaDETX_WS269', 'WaDETX_WS270', 'WaDETX_WS271', 'WaDETX_WS272',
       'WaDETX_WS273', 'WaDETX_WS274', 'WaDETX_WS275', 'WaDETX_WS276',
       'WaDETX_WS277', 'WaDETX_WS278', 'WaDETX_WS279', 'WaDETX_WS280',
       'WaDETX_WS281', 'WaDETX_WS282', 'WaDETX_WS283', 'WaDETX_WS284',
       'WaDETX_WS285', 'WaDETX_WS286', 'WaDETX_WS287', 'WaDETX_WS288',
       'WaDETX_WS289', 'WaDETX_WS290', 'WaDETX_WS291', 'WaDETX_WS292',
       'WaDETX_WS293', 'WaDETX_WS294', 'WaDETX_WS295', 'WaDETX_WS296',
       'WaDETX_WS297', 'WaDETX_WS298', 'WaDETX_WS299', 'WaDETX_WS300',
       'WaDETX_WS301', 'WaDETX_WS302', 'WaDETX_WS303', 'WaDETX_WS304',
       'WaDETX_WS305', 'WaDETX_WS306', 'WaDETX_WS307', 'WaDETX_WS308',
       'WaDETX_WS309', 'WaDETX_WS310', 'WaDETX_WS311', 'WaDETX_WS312',
       'WaDETX_WS313', 'WaDETX_WS314', 'WaDETX_WS315', 'WaDETX_WS316',
       'WaDETX_WS317', 'WaDETX_WS318', 'WaDETX_WS319', 'WaDETX_WS320',
       'WaDETX_WS321', 'WaDETX_WS322', 'WaDETX_WS323', 'WaDETX_WS324',
       'WaDETX_WS325', 'WaDETX_WS326', 'WaDETX_WS327', 'WaDETX_WS328',
       'WaDETX_WS329', 'WaDETX_WS330', 'WaDETX_WS331', 'WaDETX_WS332',
       'WaDETX_WS333', 'WaDETX_WS334', 'WaDETX_WS335', 'WaDETX_WS336',
       'WaDETX_WS337', 'WaDETX_WS338', 'WaDETX_WS339', 'WaDETX_WS340',
       'WaDETX_WS341', 'WaDETX_WS342', 'WaDETX_WS343', 'WaDETX_WS344',
       'WaDETX_WS345', 'WaDETX_WS346', 'WaDETX_WS347', 'WaDETX_WS348',
       'WaDETX_WS349', 'WaDETX_WS350', 'WaDETX_WS351', 'WaDETX_WS352',
       'WaDETX_WS353', 'WaDETX_WS354', 'WaDETX_WS355', 'WaDETX_WS356',
       'WaDETX_WS357', 'WaDETX_WS358', 'WaDETX_WS359', 'WaDETX_WS360',
       'WaDETX_WS361', 'WaDETX_WS362', 'WaDETX_WS363', 'WaDETX_WS364',
       'WaDETX_WS365', 'WaDETX_WS366', 'WaDETX_WS367', 'WaDETX_WS368',
       'WaDETX_WS369', 'WaDETX_WS370', 'WaDETX_WS371', 'WaDETX_WS372',
       'WaDETX_WS373', 'WaDETX_WS374', 'WaDETX_WS375', 'WaDETX_WS376',
       'WaDETX_WS377', 'WaDETX_WS378', 'WaDETX_WS379', 'WaDETX_WS380',
       'WaDETX_WS381', 'WaDETX_WS382', 'WaDETX_WS383', 'WaDETX_WS384',
       'WaDETX_WS385', 'WaDETX_WS386', 'WaDETX_WS387', 'WaDETX_WS388',
       'WaDETX_WS389', 'WaDETX_WS390', 'WaDETX_WS391', 'WaDETX_WS392',
       'WaDETX_WS393', 'WaDETX_WS394', 'WaDETX_WS395', 'WaDETX_WS396',
       'WaDETX_WS397', 'WaDETX_WS398', 'WaDETX_WS399', 'WaDETX_WS400',
       'WaDETX_WS401', 'WaDETX_WS402', 'WaDETX_WS403', 'WaDETX_WS404',
       'WaDETX_WS405', 'WaDETX_WS406', 'WaDETX_WS407', 'WaDETX_WS408',
       'WaDETX_WS409', 'WaDETX_WS410', 'WaDETX_WS411', 'WaDETX_WS412',
       'WaDETX_WS413', 'WaDETX_WS414', 'WaDETX_WS415', 'WaDETX_WS416',
       'WaDETX_WS417', 'WaDETX_WS418', 'WaDETX_WS419', 'WaDETX_WS420',
       'WaDETX_WS421', 'WaDETX_WS422', 'WaDETX_WS423', 'WaDETX_WS424',
       'WaDETX_WS425', 'WaDETX_WS426', 'WaDETX_WS427', 'WaDETX_WS428',
       'WaDETX_WS429', 'WaDETX_WS430', 'WaDETX_WS431', 'WaDETX_WS432',
       'WaDETX_WS433', 'WaDETX_WS434', 'WaDETX_WS435', 'WaDETX_WS436',
       'WaDETX_WS437', 'WaDETX_WS438', 'WaDETX_WS439', 'WaDETX_WS440',
       'WaDETX_WS441', 'WaDETX_WS442', 'WaDETX_WS443', 'WaDETX_WS444',
       'WaDETX_WS445', 'WaDETX_WS446', 'WaDETX_WS447', 'WaDETX_WS448',
       'WaDETX_WS449', 'WaDETX_WS450', 'WaDETX_WS451', 'WaDETX_WS452',
       'WaDETX_WS453', 'WaDETX_WS454', 'WaDETX_WS455', 'WaDETX_WS456',
       'WaDETX_WS457', 'WaDETX_WS458', 'WaDETX_WS459', 'WaDETX_WS460',
       'WaDETX_WS461', 'WaDETX_WS462', 'WaDETX_WS463', 'WaDETX_WS464',
       'WaDETX_WS465', 'WaDETX_WS466', 'WaDETX_WS467', 'WaDETX_WS468',
       'WaDETX_WS469', 'WaDETX_WS470', 'WaDETX_WS471', 'WaDETX_WS472',
       'WaDETX_WS473', 'WaDETX_WS474', 'WaDETX_WS475', 'WaDETX_WS476',
       'WaDETX_WS477', 'WaDETX_WS478', 'WaDETX_WS479', 'WaDETX_WS480',
       'WaDETX_WS481', 'WaDETX_WS482', 'WaDETX_WS483', 'WaDETX_WS484',
       'WaDETX_WS485', 'WaDETX_WS486', 'WaDETX_WS487', 'WaDETX_WS488',
       'WaDETX_WS489', 'WaDETX_WS490', 'WaDETX_WS491', 'WaDETX_WS492',
       'WaDETX_WS493', 'WaDETX_WS494', 'WaDETX_WS495', 'WaDETX_WS496',
       'WaDETX_WS497', 'WaDETX_WS498', 'WaDETX_WS499', 'WaDETX_WS500',
       'WaDETX_WS501', 'WaDETX_WS502', 'WaDETX_WS503', 'WaDETX_WS504',
       'WaDETX_WS505', 'WaDETX_WS506', 'WaDETX_WS507', 'WaDETX_WS508',
       'WaDETX_WS509', 'WaDETX_WS510', 'WaDETX_WS511', 'WaDETX_WS512',
       'WaDETX_WS513', 'WaDETX_WS514', 'WaDETX_WS515', 'WaDETX_WS516',
       'WaDETX_WS517', 'WaDETX_WS518', 'WaDETX_WS519', 'WaDETX_WS520',
       'WaDETX_WS521', 'WaDETX_WS522', 'WaDETX_WS523', 'WaDETX_WS524',
       'WaDETX_WS525', 'WaDETX_WS526', 'WaDETX_WS527', 'WaDETX_WS528',
       'WaDETX_WS529', 'WaDETX_WS530', 'WaDETX_WS531', 'WaDETX_WS532',
       'WaDETX_WS533', 'WaDETX_WS534', 'WaDETX_WS535', 'WaDETX_WS536',
       'WaDETX_WS537', 'WaDETX_WS538', 'WaDETX_WS539', 'WaDETX_WS540',
       'WaDETX_WS541', 'WaDETX_WS542', 'WaDETX_WS543', 'WaDETX_WS544',
       'WaDETX_WS545', 'WaDETX_WS546', 'WaDETX_WS547', 'WaDETX_WS548',
       'WaDETX_WS549', 'WaDETX_WS550', 'WaDETX_WS551', 'WaDETX_WS552',
       'WaDETX_WS553', 'WaDETX_WS554', 'WaDETX_WS555', 'WaDETX_WS556',
       'WaDETX_WS557', 'WaDETX_WS558', 'WaDETX_WS559', 'WaDETX_WS560',
       'WaDETX_WS561', 'WaDETX_WS562', 'WaDETX_WS563', 'WaDETX_WS564',
       'WaDETX_WS565', 'WaDETX_WS566', 'WaDETX_WS567', 'WaDETX_WS568',
       'WaDETX_WS569', 'WaDETX_WS570', 'WaDETX_WS571', 'WaDETX_WS572',
       'WaDETX_WS573', 'WaDETX_WS574', 'WaDETX_WS575', 'WaDETX_WS576',
       'WaDETX_WS577', 'WaDETX_WS578', 'WaDETX_WS579', 'WaDETX_WS580',
       'WaDETX_WS581', 'WaDETX_WS582', 'WaDETX_WS583', 'WaDETX_WS584',
       'WaDETX_WS585', 'WaDETX_WS586'], dtype=object)

In [60]:
# Converting numbers that are in string to float.

# in_Amount
dfout['in_Amount'] = dfout['in_Amount'].replace(",", "", regex=True)
dfout['in_Amount'] = pd.to_numeric(dfout['in_Amount'], errors='coerce')

#in_PopulationServed
dfout['in_PopulationServed'] = dfout['in_PopulationServed'].replace(",", "", regex=True)
dfout['in_PopulationServed'] = pd.to_numeric(dfout['in_PopulationServed'], errors='coerce')

dfout.head()

,in_MethodUUID,in_VariableSpecificCV,Organization,Aquifer_Source,Surface_Water_Source,in_WaterSourceName,in_WaterSourceTypeCV,in_CoordinateMethodCV,in_County,in_Latitude,in_Longitude,in_SiteName,in_SiteNativeID,in_Amount,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_PopulationServed,in_ReportYearCV,in_TimeframeStart,in_TimeframeEnd,timeStamp,in_WaterSourceNativeID
0,TXssps_M1,Intake_Monthly_MI_Groundwater,CITY OF DARROUZETT,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,System,LIPSCOMB,36.445144,-100.323256,DARROUZETT MUNICIPAL WATER SYSTEM,POUTX1480002,1486000000,Municipal,DARROUZETT MUNICIPAL WATER SYSTEM,0,2021,2021-01-01,2021-01-31,January,WaDETX_WS1
1,TXssps_M1,Intake_Monthly_MI_Groundwater,AMARILLO MWS,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,PWS,POTTER,35.201883,-101.826738,AMARILLO MUNICIPAL WATER SYSTEM,POUTX1880001,0,Municipal,AMARILLO MUNICIPAL WATER SYSTEM,199371,2020,2020-01-01,2020-01-31,January,WaDETX_WS1
2,TXssps_M1,Intake_Monthly_MI_Groundwater,CITY OF MIAMI,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,CCNBND,ROBERTS,35.690414,-100.644528,CITY OF MIAMI,POUTX1970002,14605,Municipal,CITY OF MIAMI,498,2020,2020-01-01,2020-01-31,January,WaDETX_WS1
3,TXssps_M1,Intake_Monthly_MI_Groundwater,CITY OF DUMAS,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,System,MOORE,35.864514,-101.961919,CITY OF DUMAS,POUTX1710001,2754093,Municipal,CITY OF DUMAS,15691,2020,2020-01-01,2020-01-31,January,WaDETX_WS1
4,TXssps_M1,Intake_Monthly_MI_Groundwater,HARTLEY WSC,OGALLALA AQUIFER,,OGALLALA AQUIFER,Ground Water,CCNBND,HARTLEY,35.882899,-102.397267,HARTLEY WSC,POUTX1030010,1311000,Municipal,HARTLEY WSC,450,2020,2020-01-01,2020-01-31,January,WaDETX_WS1

## Shapefile Data
- For attaching gemetry to POU csv inputs.

In [61]:
# PoU Shapefile Data
# Shapefile input
ShapeFileInput = gpd.read_file('PWS_Shapefile_Export/PWS_Export.shp')
dfPoUshapetemp = pd.DataFrame(ShapeFileInput)
dfPoUshapetemp.head(3)

,PWSId,pwsName,Status,Source,SubmitDate,Area,Long,Lat,geometry
0,TX0010023,MONTALBA WSC,Updated,CCNFAC,2021-10-21,7.783750,-95.745070,31.880720,"POLYGON ((-95.71387 31.86237, -95.73207 31.853..."
1,TX0030007,PLEASURE POINT,Updated,CCNBND,2021-10-21,0.044904,-94.371399,31.179799,"POLYGON ((-94.36856 31.17868, -94.37010 31.177..."
2,TX0080051,MEADOWVIEW ESTATES,Updated,System,2021-03-01,0.121626,-96.159072,29.718315,"POLYGON ((-96.15548 29.71821, -96.15674 29.713..."

In [62]:
columnsList = ['in_SiteNativeID', 'geometry']
dfPoUshape = pd.DataFrame(columns=columnsList)
dfPoUshape['in_SiteNativeID'] = "POU" + dfPoUshapetemp['PWSId'].astype(str)
dfPoUshape['geometry'] = dfPoUshapetemp['geometry']
dfPoUshape = dfPoUshape.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
dfPoUshape.head(3)

  in_SiteNativeID                                           geometry
0    POUTX0010023  POLYGON ((-95.71387 31.86237, -95.73207 31.853...
1    POUTX0030007  POLYGON ((-94.36856 31.17868, -94.37010 31.177...
2    POUTX0080051  POLYGON ((-96.15548 29.71821, -96.15674 29.713...

## Export Outputfile

In [63]:
dfout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249332 entries, 0 to 2249331
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   in_MethodUUID                  object
 1   in_VariableSpecificCV          object
 2   Organization                   object
 3   Aquifer_Source                 object
 4   Surface_Water_Source           object
 5   in_WaterSourceName             object
 6   in_WaterSourceTypeCV           object
 7   in_CoordinateMethodCV          object
 8   in_County                      object
 9   in_Latitude                    float64
 10  in_Longitude                   float64
 11  in_SiteName                    object
 12  in_SiteNativeID                object
 13  in_Amount                      int64
 14  in_BeneficialUseCategory       object
 15  in_CommunityWaterSupplySystem  object
 16  in_PopulationServed            int64
 17  in_ReportYearCV                int64
 18  in_TimeframeStart              datetime64[ns]
 19  in_TimeframeEnd                datetime64[ns]
 20  timeStamp                      object
 21  in_WaterSourceNativeID         object
dtypes: datetime64[ns](2), float64(2), int64(3), object(15)
memory usage: 377.5+ MB

In [64]:
# Exporting output files.
dfout.to_csv('P_MasterTXSiteSpecific.csv', index=False)  # The master output.
dfPoUshape.to_csv('P_txSSGeometry.csv', index=False) # The output geometry.