# Pre-processing Alaska Allocation data for WaDEQA upload.
Date Updated: 01/28/2021
Purpose:  To pre-process the Alaska data into one master file for simple DataFrame creation and extraction

Notes:
asdf

In [1]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
#Working Directory
workingDir = "C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/Alaska/WaterAllocation/RawInputData"
os.chdir(workingDir)

In [3]:
#Input files - Water Usage
wu_input = "water_data_usage_input.csv"
df = pd.read_csv(wu_input)
print(len(df))
df.head(3)

50670

C:\Users\rjame\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,16,17,22,23,27,31,34,37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,RPT_YEAR,RPT_MONTH,WATER_CASE_ID,FILE_TYPE,CUSTOMER_NAME,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,WATER_SOURCE_USAGE_ID,ENTERED_TIME,METHODOLOGY,QUANTITY,QTY_UNIT,DAILY_PEAK_QTY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED
0,246,1422,Well 13,1985,1,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,44071,8/16/2019 15:21,metered,0.0,gallons,NaN,gallons,T
1,246,1422,Well 13,1985,2,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,44072,8/16/2019 15:21,metered,0.0,gallons,NaN,gallons,T
2,246,1422,Well 13,1985,3,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,44073,8/16/2019 15:21,metered,0.0,gallons,NaN,gallons,T

In [4]:
#Input files - Jim Vohden Notes
VJ_input = "Jim Vohden Notes_input.csv"
dfJV = pd.read_csv(VJ_input)
print(len(dfJV))
dfJV.head(3)

55

  FILE_NUMBER FILE_TYPE Priority Date                CUSTOMER_NAME
0        2498       LAS     28-Nov-84  CONOCOPHILLIPS ALASKA, INC.
1        2762       LAS     24-Dec-84  CONOCOPHILLIPS ALASKA, INC.
2        3260       LAS      8-Aug-85                   ALASKA ZOO

In [5]:
#Create new temp dataframe with time series data removed.  Only interested in water right info at this time.
dfwu = df.drop(['RPT_YEAR', 'RPT_MONTH', 'WATER_SOURCE_USAGE_ID', 'ENTERED_TIME', 'QUANTITY', 'QTY_UNIT', 'DAILY_PEAK_QTY'], axis=1)
dfwu = dfwu.drop_duplicates()
print(len(dfwu))
dfwu.head(3)

927

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,WATER_CASE_ID,FILE_TYPE,CUSTOMER_NAME,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,METHODOLOGY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED
0,246,1422,Well 13,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,metered,gallons,T
420,342,16432,Captain's Bay,16431,LAS,OFFSHORE SYSTEMS INC,5840000.0,gallons,M,M,T,creek,surface,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Captain's Bay,POINT (-166.576600488999 53.8427400775999),NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T
600,802,2684,Big Lake,2683,LAS,HILCORP NORTH SLOPE LLC,34214355.0,gallons,M,M,T,lake,surface,fresh,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,Big Lake,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T

In [6]:
#Update datatype of Priority Date to fit WaDE 2.0 structure
dfJV['Priority Date'] = pd.to_datetime(dfJV['Priority Date'])
dfJV['Priority Date'] = pd.to_datetime(dfJV["Priority Date"].dt.strftime('%m/%d/%Y'))
dfJV.head(3)

  FILE_NUMBER FILE_TYPE Priority Date                CUSTOMER_NAME
0        2498       LAS    1984-11-28  CONOCOPHILLIPS ALASKA, INC.
1        2762       LAS    1984-12-24  CONOCOPHILLIPS ALASKA, INC.
2        3260       LAS    1985-08-08                   ALASKA ZOO

In [7]:
#Left join dataframes
dfout = pd.merge(dfwu, dfJV, left_on='FILE_NUMBER', right_on='FILE_NUMBER', how='left')
dfout

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,WATER_CASE_ID,FILE_TYPE_x,CUSTOMER_NAME_x,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,METHODOLOGY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED,FILE_TYPE_y,Priority Date,CUSTOMER_NAME_y
0,246,1422,Well 13,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,metered,gallons,T,NaN,NaT,NaN
1,342,16432,Captain's Bay,16431,LAS,OFFSHORE SYSTEMS INC,5840000.0,gallons,M,M,T,creek,surface,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Captain's Bay,POINT (-166.576600488999 53.8427400775999),NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
2,802,2684,Big Lake,2683,LAS,HILCORP NORTH SLOPE LLC,34214355.0,gallons,M,M,T,lake,surface,fresh,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,Big Lake,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
3,907,37209,Well 14,37201,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,63875000.0,gallons,M,M,T,well,ground,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Well 14,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
4,1145,844,Monashka Creek #2,843,LAS,KODIAK CITY OF,60833333.0,gallons,M,M,T,creek,surface,fresh,NaN,NaN,T,augments ADL 42925,19020701.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BKO,T,Monashka Creek #2,POINT (-152.462347448999 57.8419015952),NaN,0.0,0.00,NaN,0.0,NaN,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,P2010-2,52119,Well Pump Station 7,52100,TWUP,ALYESKA PIPELINE SERVICE CO -TRANS-ALASKA PIPE...,1825000.0,gallons,M,M,T,well,ground,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Well Pump Station 7,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
923,P2010-7,52121,Pond_ Pump Station 5,52101,TWUP,ALYESKA PIPELINE SERVICE CO -TRANS-ALASKA PIPE...,12775000.0,gallons,M,M,T,well,ground,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Pond_ Pump Station 5,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
924,P2012-3,52123,Well_ Pump Station 5,52102,TWUP,ALYESKA PIPELINE SERVICE CO -TRANS-ALASKA PIPE...,7300000.0,gallons,M,M,T,well,ground,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Well_ Pump Station 5,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
925,P2012-8,52125,OMS 53-2,52103,TWUP,ALYESKA PIPELINE SERVICE CO -TRANS-ALASKA PIPE...,12775000.0,gallons,M,M,T,well,ground,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,OMS 53-2,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN
926,P2013-1,54558,Yukon River,54557,TWUP,ALASKA GASLINE DEVELOPMENT CORP-ASAP,0.0,gallons,M,M,T,river,surface,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Yukon River,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN

In [8]:
# # Checking Input
# siteList = dfout['INTAKE_LOCATION'].tolist()
# siteList

In [9]:
def retrieveLocation(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outStringLat =  ""
        outStringLong = ""
    else:
        outStringLat =  ""
        outStringLong = ""
        s = str(colrowValue)
        s = s.replace('POINT (', '')
        s = s.replace(')', '')
        x = s.split(' ')
        try:
            outList = []
            for i in range(len(x)):
                y = x[i].strip()
                outList.append(y)
            outStringLat = str(outList[0])
            outStringLong = str(outList[1])
        except:
            outStringLat =  ""
            outStringLong = ""
    return pd.Series([outStringLat,  outStringLong])

dfout[["wswc_long", "wswc_lat"]] = dfout.apply(lambda row: retrieveLocation(row['INTAKE_LOCATION']), axis=1)
dfout.head(3)

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,WATER_CASE_ID,FILE_TYPE_x,CUSTOMER_NAME_x,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,METHODOLOGY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED,FILE_TYPE_y,Priority Date,CUSTOMER_NAME_y,wswc_long,wswc_lat
0,246,1422,Well 13,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,metered,gallons,T,NaN,NaT,NaN,-149.818544983864,61.1632126746014
1,342,16432,Captain's Bay,16431,LAS,OFFSHORE SYSTEMS INC,5840000.0,gallons,M,M,T,creek,surface,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Captain's Bay,POINT (-166.576600488999 53.8427400775999),NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN,-166.576600488999,53.8427400775999
2,802,2684,Big Lake,2683,LAS,HILCORP NORTH SLOPE LLC,34214355.0,gallons,M,M,T,lake,surface,fresh,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,Big Lake,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN,,

In [10]:
#converting *TOTAL_PERMIT_QTY* from gallons to AF.

def convertQTY(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outString = ''
    else:
        try:
            outString = colrowValue * 3.06889e-6
        except:
            outString = ''
    return outString

dfout['wswc_QTY'] = dfout.apply(lambda row: convertQTY(row['TOTAL_PERMIT_QTY']), axis=1)
dfout.head(3)

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,WATER_CASE_ID,FILE_TYPE_x,CUSTOMER_NAME_x,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,METHODOLOGY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED,FILE_TYPE_y,Priority Date,CUSTOMER_NAME_y,wswc_long,wswc_lat,wswc_QTY
0,246,1422,Well 13,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,metered,gallons,T,NaN,NaT,NaN,-149.818544983864,61.1632126746014,224.028970
1,342,16432,Captain's Bay,16431,LAS,OFFSHORE SYSTEMS INC,5840000.0,gallons,M,M,T,creek,surface,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Captain's Bay,POINT (-166.576600488999 53.8427400775999),NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN,-166.576600488999,53.8427400775999,17.922318
2,802,2684,Big Lake,2683,LAS,HILCORP NORTH SLOPE LLC,34214355.0,gallons,M,M,T,lake,surface,fresh,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,Big Lake,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN,,,105.000092

## WaDE Custom Elements (due to missing sate info)

In [11]:
# Creating WaDE Custom site native ID for easy site identificaiion
# ----------------------------------------------------------------------------------------------------

# Create temp SiteNativeID dataframe of unique site.
def assignSiteUUID(colrowValue):
    string1 = str(colrowValue)
    outstring = "WaDEAK_S" + string1
    return outstring

dfSiteNativeID = pd.DataFrame()
dfSiteNativeID['wswc_Latitude'] = dfout['wswc_lat']
dfSiteNativeID['wswc_Longitude'] = dfout['wswc_long']
dfSiteNativeID['wswc_SiteName'] = dfout['INTAKE_NAME']
dfSiteNativeID = dfSiteNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfSiteNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfSiteNativeID['wswc_SiteNativeID'] = dftemp.apply(lambda row: assignSiteUUID(row['Count']), axis=1)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom site native ID
def retrieveSiteNativeID(A, B, C):
    if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
        outList = ''
    else:
        ml = dfSiteNativeID.loc[(dfSiteNativeID['wswc_Latitude'] == A) & 
                                (dfSiteNativeID['wswc_Longitude'] == B) &
                                (dfSiteNativeID['wswc_SiteName'] == C), 'wswc_SiteNativeID']
        if not (ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

dfout['wswc_SiteNativeID'] = dfout.apply(lambda row: retrieveSiteNativeID( row['wswc_lat'], row['wswc_long'], row['INTAKE_NAME']), axis=1)
dfout.head(3)

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,WATER_CASE_ID,FILE_TYPE_x,CUSTOMER_NAME_x,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,METHODOLOGY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED,FILE_TYPE_y,Priority Date,CUSTOMER_NAME_y,wswc_long,wswc_lat,wswc_QTY,wswc_SiteNativeID
0,246,1422,Well 13,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,NaN,T,NaN,19020401.0,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,NaN,NaN,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),NaN,357.0,186.25,187.1 to 340 feet,0.0,NaN,log,T,T,metered,gallons,T,NaN,NaT,NaN,-149.818544983864,61.1632126746014,224.028970,WaDEAK_S1
1,342,16432,Captain's Bay,16431,LAS,OFFSHORE SYSTEMS INC,5840000.0,gallons,M,M,T,creek,surface,fresh,NaN,NaN,T,NaN,NaN,las,NaN,NaN,las,NaN,NaN,NaN,T,Captain's Bay,POINT (-166.576600488999 53.8427400775999),NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN,-166.576600488999,53.8427400775999,17.922318,WaDEAK_S2
2,802,2684,Big Lake,2683,LAS,HILCORP NORTH SLOPE LLC,34214355.0,gallons,M,M,T,lake,surface,fresh,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,Big Lake,NaN,NaN,NaN,NaN,NaN,NaN,dem,NaN,T,T,metered,gallons,T,NaN,NaT,NaN,,,105.000092,

In [12]:
#Remove NA and NaN values
dfout = dfout.fillna('')
dfout = dfout.replace('NaN', '')
dfout.head(3)

,FILE_NUMBER,WATER_SOURCE_ID,WITHDRAWAL_WATER_BODY_NAME,WATER_CASE_ID,FILE_TYPE_x,CUSTOMER_NAME_x,TOTAL_PERMIT_QTY,TOTAL_PERMIT_QTY_UNIT,REPORT_FREQ,REPORT_INTERVAL,WATER_CASE_VERIFIED,WATER_SOURCE_TYPE,SOURCE_TYPE,WATER_TYPE,AQUIFER,REAA,ACTIVE_SOURCE,SOURCE_NOTES,HYDROLOGIC_UNIT_CODE,STATE_USE_SOURCE,STATE_USE,WUC_CODE_DESC,WUC_CODE_DESC_SOURCE,USGS_USE,USGS_AREA,BOROUGH,WATER_SOURCE_VERIFIED,INTAKE_NAME,INTAKE_LOCATION,INTAKE_NOTES,WELL_DEPTH,CASING_DEPTH,OPEN_INTERVALS,LAND_SURFACE_ELEVATION_FT,LAND_SURFACE_ELEVATION_SOURCE,WELL_INFO_SOURCE,ACTIVE_INTAKE,SOURCE_INTAKE_VERIFIED,METHODOLOGY,DAILY_PEAK_QTY_UNIT,WATER_SOURCE_USAGE_VERIFIED,FILE_TYPE_y,Priority Date,CUSTOMER_NAME_y,wswc_long,wswc_lat,wswc_QTY,wswc_SiteNativeID
0,246,1422,Well 13,1421,LAS,MUNICIPALITY ANCHORAGE WATER AND WASTEWATER UTIL,73000000.0,gallons,M,M,T,well,ground,fresh,Cook Inlet Aquifer System,,T,,1.90204e+07,hardcopy,Water Supply,Public (Municipal) Community,hardcopy,,,BAN,T,Well 13,POINT (-149.818544983864 61.1632126746014),,357,186.25,187.1 to 340 feet,0,,log,T,T,metered,gallons,T,,,,-149.818544983864,61.1632126746014,224.028970,WaDEAK_S1
1,342,16432,Captain's Bay,16431,LAS,OFFSHORE SYSTEMS INC,5840000.0,gallons,M,M,T,creek,surface,fresh,,,T,,,las,,,las,,,,T,Captain's Bay,POINT (-166.576600488999 53.8427400775999),,,,,,dem,,T,T,metered,gallons,T,,,,-166.576600488999,53.8427400775999,17.922318,WaDEAK_S2
2,802,2684,Big Lake,2683,LAS,HILCORP NORTH SLOPE LLC,34214355.0,gallons,M,M,T,lake,surface,fresh,,,T,,,,,,,,,,T,Big Lake,,,,,,,dem,,T,T,metered,gallons,T,,,,,,105.000092,

In [13]:
#Exporting to Finished File
dfout.to_csv('P_AlaskaMaster.csv', index=False)  # The output