# Pre-processing Oklahoma Allocation data for WaDEQA upload.
Date Updated: 04/07/2020
Purpose:  To pre-process the Oklahoma data into one master file for simple DataFrame creation and extraction.  To validate datatypes and other data related informattion.

In [1]:
#Needed Libararies

# working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd

# visulizaiton
import matplotlib.pyplot as plt
import seaborn as sns

# API retrieval
import requests
import json

# Cleanup
import re
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook
pd.set_option('display.float_format', lambda x: '%.5f' % x) # suppress scientific notation in Pandas

In [2]:
#Working Directory and Input File
workingDir = "G:/Shared drives/WaDE Data/Oklahoma/WaterAllocation/RawInputData"
os.chdir(workingDir)

## POD Division Data
- groundwater wells
- surface water divisions

In [3]:
# groundwater
# Input File
PGW_Input = "Permitted_Groundwater_Wells_input.zip"
df_PGW = pd.read_csv(PGW_Input).replace(np.nan, "").replace ("nan,nan", "")

# WaDE UUID tracker for data assessment
if 'WaDEUUID' not in df_PGW:
    df_PGW['WaDEUUID'] = "okGD" + df_PGW.index.astype(str)
    df_PGW.to_csv('Permitted_Groundwater_Wells_input.zip', compression=dict(method='zip', archive_name='Permitted_Groundwater_Wells_input.csv'), index=False)

print(len(df_PGW))
df_PGW.head()

21076

,WaDEUUID,ReasonRemoved,IncompleteField,X,Y,OBJECTID,RECORD_ID,PERMIT_NUMBER,LATITUDE,LONGITUDE,RECORD_TYPE,WATER,STATUS,ENTITY_NAME,QUARTER3,QUARTER2,QUARTER1,SECTION,TOWNSHIP,RANGE,COUNTY,PERMIT_TYPE,TOTAL_PERMITTED_ACRE_FEET,PRIMARY_PURPOSE,DATE_FILED,DATE_ISSUED,HYDRO_UNIT,STREAM_SYSTEM,RECORD_ID2
0,okGD0,,,-101.89635,36.57473,561,9753,19980623,36.57473,-101.89634,Permit,Groundwater,Active,"Prestage Farms of Oklahoma, LLC",SW,SW,SE,5,01N,11EC,Texas,Regular,10.0,Agriculture,1998-11-20T00:00:00.000Z,1999-09-14T00:00:00.000Z,,,9753
1,okGD1,,,-101.57512,36.51634,752,50052,20020591,36.51634,-101.57511,Permit,Groundwater,Active,Long Family Partnership,SE,SE,SW,29,01N,14EC,Texas,Regular,1280.0,Irrigation,2002-09-20T00:00:00.000Z,2003-05-03T00:00:00.000Z,,,50052
2,okGD10,,,-99.04593,34.59012,948,53332,20040578,34.59012,-99.04592,Permit,Groundwater,Active,"McElroy, Johnny R and Dana D",NE,SE,NW,1,01N,18WI,Tillman,Regular,314.0,Irrigation,2004-09-07T00:00:00.000Z,2005-05-10T00:00:00.000Z,,,53332
3,okGD100,,,-99.07212,34.58460,961,50443,19810645,34.58459,-99.07211,Permit,Groundwater,Active,"Kirk, Larry Neil and Karen Gayl",SE,NE,SE,3,01N,18WI,Tillman,Regular,80.0,Irrigation,1981-04-30T00:00:00.000Z,1981-07-14T00:00:00.000Z,11120303.0,1151.0,50443
4,okGD1000,,,-99.14670,34.54636,1051,27978,19590200,34.54635,-99.14669,Permit,Groundwater,Active,"Van der Laan, John and Pieter",NE,SW,NE,24,01N,19WI,Tillman,Prior Right,213.0,Irrigation,1959-08-26T00:00:00.000Z,1978-02-14T00:00:00.000Z,11120303.0,1151.0,27978

In [4]:
# surface Water
# Input File
PSWDP_Input = "Permitted_Surface_Water_Diversion_Points_input.csv"
df_PSWDP = pd.read_csv(PSWDP_Input).replace(np.nan, "").replace ("nan,nan", "")

# WaDE UUID tracker for data assessment
if 'WaDEUUID' not in df_PSWDP:
    df_PSWDP['WaDEUUID'] = "okSD" + df_PSWDP.index.astype(str)
    df_PSWDP.to_csv('Permitted_Surface_Water_Diversion_Points_input.zip', compression=dict(method='zip', archive_name='Permitted_Surface_Water_Diversion_Points_input.csv'), index=False)

print(len(df_PSWDP))
df_PSWDP.head()

3411

,X,Y,OBJECTID,RECORD_ID,PERMIT_NUMBER,LATITUDE,LONGITUDE,RECORD_TYPE,WATER,STATUS,ENTITY_NAME,QUARTER3,QUARTER2,QUARTER1,SECTION,TOWNSHIP,RANGE,COUNTY,PERMIT_TYPE,TOTAL_PERMITTED_ACRE_FEET,PRIMARY_PURPOSE,DATE_FILED,DATE_ISSUED,HYDRO_UNIT,STREAM_SYSTEM,RECORD_ID2,WaDEUUID
0,-95.34167,34.61633,3452,18546,19980032,34.61633,-95.34167,Permit,Surface Water,Active,"Ralston, Leo",SE,SE,NE,30,02N,19EI,Pushmataha,Regular,228.00000,Irrigation,1998-08-21T00:00:00.000Z,1998-11-10T00:00:00.000Z,11140105.00000,1030.00000,18546,okSD0
1,-94.64993,34.98829,10252,16743,19980036,34.98829,-94.64992,Permit,Surface Water,Active,"Neff, Tommy Gene",NW,SE,SE,15,06N,25EI,Le Flore,Regular,317.00000,Irrigation,1998-09-02T00:00:00.000Z,1998-12-08T00:00:00.000Z,11110105.00000,2010.00000,16743,okSD1
2,-96.21210,33.96548,11360,37886,19990006,33.96547,-96.21209,Permit,Surface Water,Active,"Brewer, C J",SE,NW,NW,12,07S,10EI,Bryan,Regular,66.00000,Irrigation,1999-02-01T00:00:00.000Z,1999-04-13T00:00:00.000Z,11140102.00000,1060.00000,37886,okSD2
3,-98.44861,35.43416,15855,13868,19990014,35.43416,-98.44861,Permit,Surface Water,Active,"Duncan, George",NE,NE,NE,15,11N,12WI,Caddo,Regular,125.00000,"Recreation, Fish, Wildlife",1999-04-08T00:00:00.000Z,1999-06-08T00:00:00.000Z,11130302.00000,1083.00000,13868,okSD3
4,-95.84907,34.36722,4237,26136,19990035,34.36721,-95.84906,Permit,Surface Water,Active,Stream Natural Resources L C,NE,NE,SE,20,02S,14EI,Atoka,Regular,396.00000,"Recreation, Fish, Wildlife",1999-09-27T00:00:00.000Z,2003-01-14T00:00:00.000Z,11140103.00000,1041.00000,26136,okSD4

In [5]:
# Concatenate - Both datasets share the same columns.
dfPOD = pd.concat([df_PGW, df_PSWDP], ignore_index=True).reset_index(drop=True)

print(len(dfPOD))
dfPOD.head(1)

24487

,WaDEUUID,ReasonRemoved,IncompleteField,X,Y,OBJECTID,RECORD_ID,PERMIT_NUMBER,LATITUDE,LONGITUDE,RECORD_TYPE,WATER,STATUS,ENTITY_NAME,QUARTER3,QUARTER2,QUARTER1,SECTION,TOWNSHIP,RANGE,COUNTY,PERMIT_TYPE,TOTAL_PERMITTED_ACRE_FEET,PRIMARY_PURPOSE,DATE_FILED,DATE_ISSUED,HYDRO_UNIT,STREAM_SYSTEM,RECORD_ID2
0,okGD0,,,-101.89635,36.57473,561,9753,19980623,36.57473,-101.89634,Permit,Groundwater,Active,"Prestage Farms of Oklahoma, LLC",SW,SW,SE,5,01N,11EC,Texas,Regular,10.0,Agriculture,1998-11-20T00:00:00.000Z,1999-09-14T00:00:00.000Z,,,9753

In [6]:
#Changing datatype of used date fields. 
dfPOD['DATE_FILED'] = pd.to_datetime(dfPOD['DATE_FILED'], errors = 'coerce')
dfPOD['DATE_FILED'] = pd.to_datetime(dfPOD['DATE_FILED'].dt.strftime('%m/%d/%Y'))

dfPOD['DATE_ISSUED'] = pd.to_datetime(dfPOD['DATE_ISSUED'], errors = 'coerce')
dfPOD['DATE_ISSUED'] = pd.to_datetime(dfPOD['DATE_ISSUED'].dt.strftime('%m/%d/%Y'))

In [7]:
# # Creating WaDE Custom site native ID for easy site identificaiion
# # ----------------------------------------------------------------------------------------------------

# # Create temp SiteNativeID dataframe of unique site.
# def assignSiteUUID(colrowValue):
#     string1 = str(colrowValue)
#     outstring = "wadeID" + string1
#     return outstring

# dfSiteNativeID = pd.DataFrame()
# dfSiteNativeID['in_Latitude'] = dfPOD['LATITUDE']
# dfSiteNativeID['in_Longitude'] = dfPOD['LONGITUDE']
# dfSiteNativeID = dfSiteNativeID.drop_duplicates()

# dftemp = pd.DataFrame(index=dfSiteNativeID.index)
# dftemp["Count"] = range(1, len(dftemp.index) + 1)
# dfSiteNativeID['in_SiteNativeID'] = dftemp.apply(lambda row: assignSiteUUID(row['Count']), axis=1)
# dfSiteNativeID['linkKey'] = dfSiteNativeID['in_Latitude'].astype(str) + dfSiteNativeID['in_Longitude'].astype(str)

# # ----------------------------------------------------------------------------------------------------

# # Retreive WaDE Custom site native ID
# SiteNativeIDdict = pd.Series(dfSiteNativeID.in_SiteNativeID.values, index=dfSiteNativeID.linkKey.astype(str)).to_dict()
# def retrieveSiteNativeID(A, B):
#     if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
#         outList = ''
#     else:
#         colrowValue = str(A).strip() + str(B).strip()
#         try:
#             outList = SiteNativeIDdict[colrowValue]
#         except:
#             outList = ''
#     return outList

# dfPOD['in_SiteNativeID'] = dfPOD.apply(lambda row: retrieveSiteNativeID( row['LATITUDE'], row['LONGITUDE']), axis=1)
# dfPOD['in_SiteNativeID'] = "POD" + dfPOD['in_SiteNativeID'].astype(str)
# dfPOD.head(2)

In [8]:
dfPOD['in_PODorPOUSite'] = "POD"

In [9]:
dfPOD['in_SiteNativeID'] = "POD" + dfPOD['RECORD_ID'].astype(str).str.strip()
dfPOD['in_SiteNativeID'].unique()

array(['POD9753', 'POD50052', 'POD53332', ..., 'POD57356', 'POD57315',
       'POD57212'], dtype=object)

## Place of Use Data

In [10]:
# Input File
AOU_Input = "OK_AreasofUse_input.zip"
dfPOU = pd.read_csv(AOU_Input).replace(np.nan, "").replace ("nan,nan", "")

# WaDE UUID tracker for data assessment
if 'WaDEUUID' not in dfPOU:
    dfPOU['WaDEUUID'] = "okU" + dfPOU.index.astype(str)
    dfPOU.to_csv('OK_AreasofUse_input.zip', compression=dict(method='zip', archive_name='OK_AreasofUse_input.csv'), index=False)

print(len(dfPOU))
dfPOU.head()

4349

,WaDEUUID,ReasonRemoved,IncompleteField,OID_,OBJECTID,RECORD_ID,PERMIT_NUMBER,RECORD_TYPE,WATER,STATUS,ENTITY_NAME,QUARTER3,QUARTER2,QUARTER1,SECTION,TOWNSHIP,RANGE,COUNTY,PERMIT_TYPE,TOTAL_PERMITTED_ACRE_FEET,PRIMARY_PURPOSE,DATE_FILED,DATE_ISSUED,HYDRO_UNIT,STREAM_SYSTEM,LATITUDE,LONGITUDE
0,okU0,,,359,69,15030,19760098,Permit,Surface Water,Active,"Cline, Judy",,W2,E2,32,01N,01EI,Garvin,Regular,30.00000,"Recreation, Fish, Wildlife",8/11/1976 0:00,12/14/1976 0:00,11130303,1081,34.51415,-97.21902
1,okU1,,,358,70,15501,19760098,Permit,Surface Water,Active,"Cline, Judy",,E2,E2,32,01N,01EI,Garvin,Regular,30.00000,"Recreation, Fish, Wildlife",8/11/1976 0:00,12/14/1976 0:00,11130303,1081,34.51414,-97.21464
2,okU10,,,297,420,41274,19610038,Permit,Surface Water,Active,"Strain, Lyndel",,,,18,01N,05WI,Stephens,Vested,71.00000,"Recreation, Fish, Wildlife",3/4/1961 0:00,8/12/1969 0:00,11130303,1081,34.55797,-97.76504
3,okU100,,,396,1353,43105,19910051,Permit,Surface Water,Active,"Vinyard, Harold",,S2,NE,11,01N,21WI,Jackson,Regular,230.00000,Irrigation,9/10/1991 0:00,12/17/1991 0:00,11120202,1160,34.57432,-99.37334
4,okU1000,,,1487,11074,8573,19800141,Permit,Surface Water,Active,"Scott, Lee",,E2,NW,36,05S,02EI,Carter,Regular,300.00000,Irrigation,9/17/1980 0:00,12/9/1980 0:00,11130210,1090,34.08186,-97.04890

In [11]:
#Changing datatype of used date fields. 
dfPOU['DATE_FILED'] = pd.to_datetime(dfPOU['DATE_FILED'], errors = 'coerce')
dfPOU['DATE_FILED'] = pd.to_datetime(dfPOU['DATE_FILED'].dt.strftime('%m/%d/%Y'))

dfPOU['DATE_ISSUED'] = pd.to_datetime(dfPOU['DATE_ISSUED'], errors = 'coerce')
dfPOU['DATE_ISSUED'] = pd.to_datetime(dfPOU['DATE_ISSUED'].dt.strftime('%m/%d/%Y'))

In [12]:
# # Creating WaDE Custom site native ID for easy site identificaiion
# # ----------------------------------------------------------------------------------------------------

# # Create temp SiteNativeID dataframe of unique site.
# def assignSiteUUID(colrowValue):
#     string1 = str(colrowValue)
#     outstring = "wadeID" + string1
#     return outstring

# dfSiteNativeID = pd.DataFrame()
# dfSiteNativeID['in_Latitude'] = dfPOU['LATITUDE']
# dfSiteNativeID['in_Longitude'] = dfPOU['LONGITUDE']
# dfSiteNativeID = dfSiteNativeID.drop_duplicates()

# dftemp = pd.DataFrame(index=dfSiteNativeID.index)
# dftemp["Count"] = range(1, len(dftemp.index) + 1)
# dfSiteNativeID['in_SiteNativeID'] = dftemp.apply(lambda row: assignSiteUUID(row['Count']), axis=1)
# dfSiteNativeID['linkKey'] = dfSiteNativeID['in_Latitude'].astype(str) + dfSiteNativeID['in_Longitude'].astype(str)

# # ----------------------------------------------------------------------------------------------------

# # Retreive WaDE Custom site native ID
# SiteNativeIDdict = pd.Series(dfSiteNativeID.in_SiteNativeID.values, index=dfSiteNativeID.linkKey.astype(str)).to_dict()
# def retrieveSiteNativeID(A, B):
#     if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
#         outList = ''
#     else:
#         colrowValue = str(A).strip() + str(B).strip()
#         try:
#             outList = SiteNativeIDdict[colrowValue]
#         except:
#             outList = ''
#     return outList

# dfPOU['in_SiteNativeID'] = dfPOU.apply(lambda row: retrieveSiteNativeID( row['LATITUDE'], row['LONGITUDE']), axis=1)
# dfPOU['in_SiteNativeID'] = "POU" + dfPOU['in_SiteNativeID'].astype(str)
# dfPOU.head(2)

In [13]:
dfPOU['in_PODorPOUSite'] = "POU"

In [14]:
dfPOU['in_SiteNativeID'] = "POU" + dfPOU['RECORD_ID'].astype(str).str.strip()
dfPOU['in_SiteNativeID'].unique()

array(['POU15030', 'POU15501', 'POU41274', ..., 'POU41824', 'POU17938',
       'POU4689'], dtype=object)

## Concaenate POD and POU

In [15]:
# Concatenate
# Both datasets share the same columns.
dfin = pd.concat([dfPOD, dfPOU], ignore_index=True).reset_index(drop=True).replace(np.nan, '')

print(len(dfin))
dfin.head()

28836

,WaDEUUID,ReasonRemoved,IncompleteField,X,Y,OBJECTID,RECORD_ID,PERMIT_NUMBER,LATITUDE,LONGITUDE,RECORD_TYPE,WATER,STATUS,ENTITY_NAME,QUARTER3,QUARTER2,QUARTER1,SECTION,TOWNSHIP,RANGE,COUNTY,PERMIT_TYPE,TOTAL_PERMITTED_ACRE_FEET,PRIMARY_PURPOSE,DATE_FILED,DATE_ISSUED,HYDRO_UNIT,STREAM_SYSTEM,RECORD_ID2,in_PODorPOUSite,in_SiteNativeID,OID_
0,okGD0,,,-101.89635,36.57473,561,9753,19980623,36.57473,-101.89634,Permit,Groundwater,Active,"Prestage Farms of Oklahoma, LLC",SW,SW,SE,5,01N,11EC,Texas,Regular,10.0,Agriculture,1998-11-20,1999-09-14,,,9753.00000,POD,POD9753,
1,okGD1,,,-101.57512,36.51634,752,50052,20020591,36.51634,-101.57511,Permit,Groundwater,Active,Long Family Partnership,SE,SE,SW,29,01N,14EC,Texas,Regular,1280.0,Irrigation,2002-09-20,2003-05-03,,,50052.00000,POD,POD50052,
2,okGD10,,,-99.04593,34.59012,948,53332,20040578,34.59012,-99.04592,Permit,Groundwater,Active,"McElroy, Johnny R and Dana D",NE,SE,NW,1,01N,18WI,Tillman,Regular,314.0,Irrigation,2004-09-07,2005-05-10,,,53332.00000,POD,POD53332,
3,okGD100,,,-99.07212,34.58460,961,50443,19810645,34.58459,-99.07211,Permit,Groundwater,Active,"Kirk, Larry Neil and Karen Gayl",SE,NE,SE,3,01N,18WI,Tillman,Regular,80.0,Irrigation,1981-04-30,1981-07-14,11120303.0,1151.0,50443.00000,POD,POD50443,
4,okGD1000,,,-99.14670,34.54636,1051,27978,19590200,34.54635,-99.14669,Permit,Groundwater,Active,"Van der Laan, John and Pieter",NE,SW,NE,24,01N,19WI,Tillman,Prior Right,213.0,Irrigation,1959-08-26,1978-02-14,11120303.0,1151.0,27978.00000,POD,POD27978,

In [16]:
#Fixing Beneficial Uses PRIMARY_PURPOSE
def fixRecFishWild(colrowValue):
    colrowValue = str(colrowValue).strip()
    if colrowValue == 'Recreation, Fish, Wildlife':
        outList = 'Recreation Fish Wildlife'
    else:
        outList = colrowValue
    return outList

dfin['PRIMARY_PURPOSE'] = dfin.apply(lambda row: fixRecFishWild(row['PRIMARY_PURPOSE']), axis=1)
dfin['PRIMARY_PURPOSE'].unique()

array(['Agriculture', 'Irrigation', 'Public Supply', 'Industrial',
       'Commercial', 'Recreation Fish Wildlife', 'Mining', 'Other',
       'Power', ''], dtype=object)

In [17]:
# create output POD dataframe
df = pd.DataFrame()

# Data Assessment UUID
df['WaDEUUID'] = dfin['WaDEUUID']

# Method Info
df['in_MethodUUID'] = "OKwr_M1"

# Variable Info
df['in_VariableSpecificUUID'] = "OKwr_V1"

# Organization Info
df['in_OrganizationUUID'] = "OKwr_O1"

# WaterSource Info
df['in_Geometry'] = ""
df['in_GNISFeatureNameCV'] = ""
df['in_WaterQualityIndicatorCV'] = ""
df['in_WaterSourceName'] = ""
df['in_WaterSourceNativeID'] = ""
df['in_WaterSourceTypeCV'] = dfin['WATER']

# Site Info
df['in_CoordinateAccuracy'] = ""
df['in_CoordinateMethodCV'] = ""
df['in_County'] = dfin['COUNTY']
df['in_EPSGCodeCV'] = 4326
df['in_Geometry'] = ""
df['in_GNISCodeCV'] = ""
df['in_HUC12'] = ""
df['in_HUC8'] = dfin['HYDRO_UNIT'].replace("", 0).replace(" ", 0).fillna(0).astype(float).astype(int).astype(str).replace("0", "") # see above
df['in_Latitude'] = dfin['LATITUDE']
df['in_Longitude'] = dfin['LONGITUDE']
df['in_NHDNetworkStatusCV'] = ""
df['in_NHDProductCV'] = ""
df['in_PODorPOUSite'] = dfin['in_PODorPOUSite'] # see above
df['in_SiteName'] = ""
df['in_SiteNativeID'] = dfin['in_SiteNativeID'].replace("", 0).fillna(0).astype(str) # see above
df['in_SitePoint'] = ""
df['in_SiteTypeCV'] = ""
df['in_StateCV'] = "OK"
df['in_USGSSiteID'] = ""

# AllocationAmount Info
df['in_AllocationApplicationDate'] = dfin['DATE_FILED']
df['in_AllocationAssociatedConsumptiveUseSiteIDs'] = ""
df['in_AllocationAssociatedWithdrawalSiteIDs'] = ""
df['in_AllocationBasisCV'] = ""
df['in_AllocationChangeApplicationIndicator'] = ""
df['in_AllocationCommunityWaterSupplySystem'] = ""
df['in_AllocationCropDutyAmount'] = ""
df['in_AllocationExpirationDate'] = ""
df['in_AllocationFlow_CFS'] = ""
df['in_AllocationLegalStatusCV'] = dfin['STATUS']
df['in_AllocationNativeID'] =  dfin['PERMIT_NUMBER'].replace("", 0).fillna(0).astype(str)
df['in_AllocationOwner'] = dfin['ENTITY_NAME']
df['in_AllocationPriorityDate'] = dfin['DATE_ISSUED']
df['in_AllocationSDWISIdentifierCV'] = ""
df['in_AllocationTimeframeEnd'] = ""
df['in_AllocationTimeframeStart'] = ""
df['in_AllocationTypeCV'] = ""
df['in_AllocationVolume_AF'] = dfin['TOTAL_PERMITTED_ACRE_FEET']
df['in_BeneficialUseCategory'] = dfin['PRIMARY_PURPOSE']
df['in_CommunityWaterSupplySystem'] = ""
df['in_CropTypeCV'] = ""
df['in_CustomerTypeCV'] = ""
df['in_DataPublicationDate'] = ""
df['in_DataPublicationDOI'] = ""
df['in_ExemptOfVolumeFlowPriority'] = 0
df['in_GeneratedPowerCapacityMW'] = ""
df['in_IrrigatedAcreage'] = ""
df['in_IrrigationMethodCV'] = ""
df['in_LegacyAllocationIDs'] = ""
df['in_OwnerClassificationCV'] = ""
df['in_PopulationServed'] = ""
df['in_PowerType'] = ""
df['in_PrimaryBeneficialUseCategory'] = ""
df['in_SDWISIdentifierCV'] = ""
df['in_WaterAllocationNativeURL'] = ""

outdf = df.copy()
outdf = outdf.drop_duplicates().reset_index(drop=True).replace(np.nan, '')
print(len(outdf))
outdf.head()

28836

,WaDEUUID,in_MethodUUID,in_VariableSpecificUUID,in_OrganizationUUID,in_Geometry,in_GNISFeatureNameCV,in_WaterQualityIndicatorCV,in_WaterSourceName,in_WaterSourceNativeID,in_WaterSourceTypeCV,in_CoordinateAccuracy,in_CoordinateMethodCV,in_County,in_EPSGCodeCV,in_GNISCodeCV,in_HUC12,in_HUC8,in_Latitude,in_Longitude,in_NHDNetworkStatusCV,in_NHDProductCV,in_PODorPOUSite,in_SiteName,in_SiteNativeID,in_SitePoint,in_SiteTypeCV,in_StateCV,in_USGSSiteID,in_AllocationApplicationDate,in_AllocationAssociatedConsumptiveUseSiteIDs,in_AllocationAssociatedWithdrawalSiteIDs,in_AllocationBasisCV,in_AllocationChangeApplicationIndicator,in_AllocationCommunityWaterSupplySystem,in_AllocationCropDutyAmount,in_AllocationExpirationDate,in_AllocationFlow_CFS,in_AllocationLegalStatusCV,in_AllocationNativeID,in_AllocationOwner,in_AllocationPriorityDate,in_AllocationSDWISIdentifierCV,in_AllocationTimeframeEnd,in_AllocationTimeframeStart,in_AllocationTypeCV,in_AllocationVolume_AF,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_CropTypeCV,in_CustomerTypeCV,in_DataPublicationDate,in_DataPublicationDOI,in_ExemptOfVolumeFlowPriority,in_GeneratedPowerCapacityMW,in_IrrigatedAcreage,in_IrrigationMethodCV,in_LegacyAllocationIDs,in_OwnerClassificationCV,in_PopulationServed,in_PowerType,in_PrimaryBeneficialUseCategory,in_SDWISIdentifierCV,in_WaterAllocationNativeURL
0,okGD0,OKwr_M1,OKwr_V1,OKwr_O1,,,,,,Groundwater,,,Texas,4326,,,,36.57473,-101.89634,,,POD,,POD9753,,,OK,,1998-11-20,,,,,,,,,Active,19980623,"Prestage Farms of Oklahoma, LLC",1999-09-14,,,,,10.0,Agriculture,,,,,,0,,,,,,,,,,
1,okGD1,OKwr_M1,OKwr_V1,OKwr_O1,,,,,,Groundwater,,,Texas,4326,,,,36.51634,-101.57511,,,POD,,POD50052,,,OK,,2002-09-20,,,,,,,,,Active,20020591,Long Family Partnership,2003-05-03,,,,,1280.0,Irrigation,,,,,,0,,,,,,,,,,
2,okGD10,OKwr_M1,OKwr_V1,OKwr_O1,,,,,,Groundwater,,,Tillman,4326,,,,34.59012,-99.04592,,,POD,,POD53332,,,OK,,2004-09-07,,,,,,,,,Active,20040578,"McElroy, Johnny R and Dana D",2005-05-10,,,,,314.0,Irrigation,,,,,,0,,,,,,,,,,
3,okGD100,OKwr_M1,OKwr_V1,OKwr_O1,,,,,,Groundwater,,,Tillman,4326,,,11120303,34.58459,-99.07211,,,POD,,POD50443,,,OK,,1981-04-30,,,,,,,,,Active,19810645,"Kirk, Larry Neil and Karen Gayl",1981-07-14,,,,,80.0,Irrigation,,,,,,0,,,,,,,,,,
4,okGD1000,OKwr_M1,OKwr_V1,OKwr_O1,,,,,,Groundwater,,,Tillman,4326,,,11120303,34.54635,-99.14669,,,POD,,POD27978,,,OK,,1959-08-26,,,,,,,,,Active,19590200,"Van der Laan, John and Pieter",1978-02-14,,,,,213.0,Irrigation,,,,,,0,,,,,,,,,,

## Data Fixes

In [18]:
# Clean owner name up
def cleanOwnerDataFunc(Val):
    Val = str(Val)
    Val = re.sub("[$@&.;,/\)(-]", "", Val).title().replace("  ", " ").strip()
    return Val
outdf['in_AllocationOwner'] = outdf.apply(lambda row: cleanOwnerDataFunc(row['in_AllocationOwner']), axis=1)
outdf['in_AllocationOwner'].unique()

array(['Prestage Farms Of Oklahoma Llc', 'Long Family Partnership',
       'Mcelroy Johnny R And Dana D', ..., 'Gossett Stan Deanna',
       'Kinchen Casey', 'Redman Revocable Trust Louise A'], dtype=object)

In [19]:
# Ensure Empty String

def ensureEmptyString(val):
    val = str(val).strip()
    if val == "" or val == " " or val == "nan" or pd.isnull(val):
        outString = ""
    else:
        outString = val
    return outString

In [20]:
outdf['in_AllocationLegalStatusCV'] = outdf.apply(lambda row: ensureEmptyString(row['in_AllocationLegalStatusCV']), axis=1)
outdf['in_AllocationLegalStatusCV'].unique()

array(['Active', 'Pending'], dtype=object)

In [21]:
outdf['in_AllocationOwner'] = outdf.apply(lambda row: ensureEmptyString(row['in_AllocationOwner']), axis=1)
outdf['in_AllocationOwner'].unique()

array(['Prestage Farms Of Oklahoma Llc', 'Long Family Partnership',
       'Mcelroy Johnny R And Dana D', ..., 'Gossett Stan Deanna',
       'Kinchen Casey', 'Redman Revocable Trust Louise A'], dtype=object)

In [22]:
outdf['in_BeneficialUseCategory'] = outdf.apply(lambda row: ensureEmptyString(row['in_BeneficialUseCategory']), axis=1)
outdf['in_BeneficialUseCategory'].unique()

array(['Agriculture', 'Irrigation', 'Public Supply', 'Industrial',
       'Commercial', 'Recreation Fish Wildlife', 'Mining', 'Other',
       'Power', ''], dtype=object)

In [23]:
# in_Latitude
outdf['in_Latitude'] = pd.to_numeric(outdf['in_Latitude'], errors='coerce').fillna("")
outdf['in_Latitude'].unique()

array([36.57472754, 36.51633845, 34.5901155 , ..., 34.07457023,
       34.07638697, 34.08188004])

In [24]:
# in_Longitude
outdf['in_Longitude'] = pd.to_numeric(outdf['in_Longitude'], errors='coerce').fillna("")
outdf['in_Longitude'].unique()

array([-101.8963396 , -101.5751115 ,  -99.0459185 , ...,  -97.0990738 ,
        -97.07503916,  -97.0424248 ])

In [25]:
#Update datatype of Priority Date to fit WaDE 2.0 structure
outdf['in_AllocationPriorityDate'] = pd.to_datetime(outdf['in_AllocationPriorityDate'], errors = 'coerce')
outdf['in_AllocationPriorityDate'] = pd.to_datetime(outdf['in_AllocationPriorityDate'].dt.strftime('%m/%d/%Y'))
outdf['in_AllocationPriorityDate'].unique()

array(['1999-09-14T00:00:00.000000000', '2003-05-03T00:00:00.000000000',
       '2005-05-10T00:00:00.000000000', ...,
       '2020-09-15T00:00:00.000000000', '2021-03-16T00:00:00.000000000',
       '2021-04-20T00:00:00.000000000'], dtype='datetime64[ns]')

In [26]:
# Fixing in_AllocationFlow_CFS datatype
outdf['in_AllocationFlow_CFS'] = pd.to_numeric(outdf['in_AllocationFlow_CFS'], errors='coerce').replace(0,"").fillna("")
outdf['in_AllocationFlow_CFS'].unique()

array([''], dtype=object)

In [27]:
# Fixing in_AllocationVolume_AF datatype
outdf['in_AllocationVolume_AF'] = pd.to_numeric(outdf['in_AllocationVolume_AF'], errors='coerce').replace(0,"").fillna("")
outdf['in_AllocationVolume_AF'].unique()

array([10.0, 1280.0, 314.0, ..., 1968.0, 295.5, 473.4], dtype=object)

In [28]:
# Creating WaDE Custom water source native ID for easy water source identification
# ----------------------------------------------------------------------------------------------------

# Create temp WaterSourceNativeID dataframe of unique water source.
def assignWaterSourceNativeID(colrowValue):
    string1 = str(colrowValue)
    outstring = "wadeID" + string1
    return outstring

dfWaterSourceNativeID = pd.DataFrame()
dfWaterSourceNativeID['in_WaterSourceName'] = outdf['in_WaterSourceName']
dfWaterSourceNativeID['in_WaterSourceTypeCV'] = outdf['in_WaterSourceTypeCV']
dfWaterSourceNativeID = dfWaterSourceNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfWaterSourceNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfWaterSourceNativeID['in_WaterSourceNativeID'] = dftemp.apply(lambda row: assignWaterSourceNativeID(row['Count']), axis=1)
dfWaterSourceNativeID['linkKey'] = dfWaterSourceNativeID['in_WaterSourceName'].astype(str) + dfWaterSourceNativeID['in_WaterSourceTypeCV'].astype(str)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom water source native ID
WaterSourceNativeIDdict = pd.Series(dfWaterSourceNativeID.in_WaterSourceNativeID.values, index=dfWaterSourceNativeID.linkKey.astype(str)).to_dict()
def retrieveWaterSourceNativeID(A, B):
    if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
        outList = ''
    else:
        colrowValue = str(A).strip() + str(B).strip()
        try:
            outList = WaterSourceNativeIDdict[colrowValue]
        except:
            outList = ''
    return outList

outdf['in_WaterSourceNativeID'] = outdf.apply(lambda row: retrieveWaterSourceNativeID( row['in_WaterSourceName'], row['in_WaterSourceTypeCV']), axis=1)
outdf['in_WaterSourceNativeID'].unique()

array(['wadeID1', 'wadeID2'], dtype=object)

## Shapefile Data
- For attaching gemetry to csv inputs.

In [29]:
# PoU Shapefile Data
# Shapefile input
dfPoUshapetemp = gpd.read_file('shapefile/OK_PoU2.shp')
dfPoUshapetemp.head(3)

,OBJECTID,RECORD_ID,PERMIT_NUM,RECORD_TYP,WATER,STATUS,ENTITY_NAM,QUARTER3,QUARTER2,QUARTER1,SECTION,TOWNSHIP,RANGE,COUNTY,PERMIT_TYP,TOTAL_PERM,PRIMARY_PU,DATE_FILED,DATE_ISSUE,HYDRO_UNIT,STREAM_SYS,Lattitude,Longitude,geometry
0,3793,18547,19980032,Permit,Surface Water,Active,"Ralston, Leo",None,SE,NE,30,02N,19EI,Pushmataha,Regular,228.00000,Irrigation,1998-08-21,1998-11-10,11140105,1030,34.61758,-95.34225,"POLYGON ((-95.34225 34.61576, -95.34444 34.615..."
1,3792,20509,19980032,Permit,Surface Water,Active,"Ralston, Leo",None,E2,NW,29,02N,19EI,Pushmataha,Regular,228.00000,Irrigation,1998-08-21,1998-11-10,11140105,1030,34.61944,-95.33352,"POLYGON ((-95.33572 34.61944, -95.33572 34.623..."
2,3791,20003,19980032,Permit,Surface Water,Active,"Ralston, Leo",E2,NW,NW,29,02N,19EI,Pushmataha,Regular,228.00000,Irrigation,1998-08-21,1998-11-10,11140105,1030,34.62126,-95.33682,"POLYGON ((-95.33572 34.61944, -95.33792 34.619..."

In [30]:
# # Creating WaDE Custom site native ID for easy site identificaiion
# # ----------------------------------------------------------------------------------------------------

# # Create temp SiteNativeID dataframe of unique site.
# def assignSiteUUID(colrowValue):
#     string1 = str(colrowValue)
#     outstring = "wadeID" + string1
#     return outstring

# dfSiteNativeID = pd.DataFrame()
# dfSiteNativeID['in_Latitude'] = dfPoUshapetemp['Lattitude']
# dfSiteNativeID['in_Longitude'] = dfPoUshapetemp['Longitude']
# dfSiteNativeID = dfSiteNativeID.drop_duplicates()

# dftemp = pd.DataFrame(index=dfSiteNativeID.index)
# dftemp["Count"] = range(1, len(dftemp.index) + 1)
# dfSiteNativeID['in_SiteNativeID'] = dftemp.apply(lambda row: assignSiteUUID(row['Count']), axis=1)
# dfSiteNativeID['linkKey'] = dfSiteNativeID['in_Latitude'].astype(str) + dfSiteNativeID['in_Longitude'].astype(str)


# # ----------------------------------------------------------------------------------------------------

# # Retreive WaDE Custom site native ID
# SiteNativeIDdict = pd.Series(dfSiteNativeID.in_SiteNativeID.values, index=dfSiteNativeID.linkKey.astype(str)).to_dict()
# def retrieveSiteNativeID(A, B):
#     if (A == '' and B == '') or (pd.isnull(A) and pd.isnull(B)):
#         outList = ''
#     else:
#         colrowValue = str(A).strip() + str(B).strip()
#         try:
#             outList = SiteNativeIDdict[colrowValue]
#         except:
#             outList = ''
#     return outList

# dfPoUshapetemp['in_SiteNativeID'] = dfPoUshapetemp.apply(lambda row: retrieveSiteNativeID( row['Lattitude'], row['Longitude']), axis=1)
# dfPoUshapetemp.head(2)

In [31]:
dfPOU['in_SiteNativeID'] = "POU" + dfPOU['RECORD_ID'].astype(str).str.strip()
dfPOU['in_SiteNativeID'].unique()

array(['POU15030', 'POU15501', 'POU41274', ..., 'POU41824', 'POU17938',
       'POU4689'], dtype=object)

In [32]:
columnsList = ['in_SiteNativeID', 'geometry']
dfPoUshape = pd.DataFrame(columns=columnsList)
dfPoUshape['in_SiteNativeID'] = "POU" + dfPoUshapetemp['RECORD_ID'].replace("", 0).fillna(0).astype(str)
dfPoUshape['geometry'] = dfPoUshapetemp['geometry']
dfPoUshape = dfPoUshape.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
print(len(dfPoUshape))
dfPoUshape.head(3)

4345

  in_SiteNativeID                                           geometry
0        POU18547  POLYGON ((-95.34225 34.61576, -95.34444 34.615...
1        POU20509  POLYGON ((-95.33572 34.61944, -95.33572 34.623...
2        POU20003  POLYGON ((-95.33572 34.61944, -95.33792 34.619...

## Export Data

In [33]:
outdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 63 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   WaDEUUID                                      28836 non-null  object
 1   in_MethodUUID                                 28836 non-null  object
 2   in_VariableSpecificUUID                       28836 non-null  object
 3   in_OrganizationUUID                           28836 non-null  object
 4   in_Geometry                                   28836 non-null  object
 5   in_GNISFeatureNameCV                          28836 non-null  object
 6   in_WaterQualityIndicatorCV                    28836 non-null  object
 7   in_WaterSourceName                            28836 non-null  object
 8   in_WaterSourceNativeID                        28836 non-null  object
 9   in_WaterSourceTypeCV                          28836 non-null  object
 10  in_CoordinateAccuracy                         28836 non-null  object
 11  in_CoordinateMethodCV                         28836 non-null  object
 12  in_County                                     28836 non-null  object
 13  in_EPSGCodeCV                                 28836 non-null  int64
 14  in_GNISCodeCV                                 28836 non-null  object
 15  in_HUC12                                      28836 non-null  object
 16  in_HUC8                                       28836 non-null  object
 17  in_Latitude                                   28836 non-null  float64
 18  in_Longitude                                  28836 non-null  float64
 19  in_NHDNetworkStatusCV                         28836 non-null  object
 20  in_NHDProductCV                               28836 non-null  object
 21  in_PODorPOUSite                               28836 non-null  object
 22  in_SiteName                                   28836 non-null  object
 23  in_SiteNativeID                               28836 non-null  object
 24  in_SitePoint                                  28836 non-null  object
 25  in_SiteTypeCV                                 28836 non-null  object
 26  in_StateCV                                    28836 non-null  object
 27  in_USGSSiteID                                 28836 non-null  object
 28  in_AllocationApplicationDate                  28831 non-null  datetime64[ns]
 29  in_AllocationAssociatedConsumptiveUseSiteIDs  28836 non-null  object
 30  in_AllocationAssociatedWithdrawalSiteIDs      28836 non-null  object
 31  in_AllocationBasisCV                          28836 non-null  object
 32  in_AllocationChangeApplicationIndicator       28836 non-null  object
 33  in_AllocationCommunityWaterSupplySystem       28836 non-null  object
 34  in_AllocationCropDutyAmount                   28836 non-null  object
 35  in_AllocationExpirationDate                   28836 non-null  object
 36  in_AllocationFlow_CFS                         28836 non-null  object
 37  in_AllocationLegalStatusCV                    28836 non-null  object
 38  in_AllocationNativeID                         28836 non-null  object
 39  in_AllocationOwner                            28836 non-null  object
 40  in_AllocationPriorityDate                     28228 non-null  datetime64[ns]
 41  in_AllocationSDWISIdentifierCV                28836 non-null  object
 42  in_AllocationTimeframeEnd                     28836 non-null  object
 43  in_AllocationTimeframeStart                   28836 non-null  object
 44  in_AllocationTypeCV                           28836 non-null  object
 45  in_AllocationVolume_AF                        28836 non-null  object
 46  in_BeneficialUseCategory                      28836 non-null  object
 47  in_CommunityWaterSupplySystem                 28836 non-null  object
 48  in_CropTypeCV                                 28836 non-null  object
 49  in_CustomerTypeCV                             28836 non-null  object
 50  in_DataPublicationDate                        28836 non-null  object
 51  in_DataPublicationDOI                         28836 non-null  object
 52  in_ExemptOfVolumeFlowPriority                 28836 non-null  int64
 53  in_GeneratedPowerCapacityMW                   28836 non-null  object
 54  in_IrrigatedAcreage                           28836 non-null  object
 55  in_IrrigationMethodCV                         28836 non-null  object
 56  in_LegacyAllocationIDs                        28836 non-null  object
 57  in_OwnerClassificationCV                      28836 non-null  object
 58  in_PopulationServed                           28836 non-null  object
 59  in_PowerType                                  28836 non-null  object
 60  in_PrimaryBeneficialUseCategory               28836 non-null  object
 61  in_SDWISIdentifierCV                          28836 non-null  object
 62  in_WaterAllocationNativeURL                   28836 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(2), object(57)
memory usage: 13.9+ MB

In [34]:
outdf

,WaDEUUID,in_MethodUUID,in_VariableSpecificUUID,in_OrganizationUUID,in_Geometry,in_GNISFeatureNameCV,in_WaterQualityIndicatorCV,in_WaterSourceName,in_WaterSourceNativeID,in_WaterSourceTypeCV,in_CoordinateAccuracy,in_CoordinateMethodCV,in_County,in_EPSGCodeCV,in_GNISCodeCV,in_HUC12,in_HUC8,in_Latitude,in_Longitude,in_NHDNetworkStatusCV,in_NHDProductCV,in_PODorPOUSite,in_SiteName,in_SiteNativeID,in_SitePoint,in_SiteTypeCV,in_StateCV,in_USGSSiteID,in_AllocationApplicationDate,in_AllocationAssociatedConsumptiveUseSiteIDs,in_AllocationAssociatedWithdrawalSiteIDs,in_AllocationBasisCV,in_AllocationChangeApplicationIndicator,in_AllocationCommunityWaterSupplySystem,in_AllocationCropDutyAmount,in_AllocationExpirationDate,in_AllocationFlow_CFS,in_AllocationLegalStatusCV,in_AllocationNativeID,in_AllocationOwner,in_AllocationPriorityDate,in_AllocationSDWISIdentifierCV,in_AllocationTimeframeEnd,in_AllocationTimeframeStart,in_AllocationTypeCV,in_AllocationVolume_AF,in_BeneficialUseCategory,in_CommunityWaterSupplySystem,in_CropTypeCV,in_CustomerTypeCV,in_DataPublicationDate,in_DataPublicationDOI,in_ExemptOfVolumeFlowPriority,in_GeneratedPowerCapacityMW,in_IrrigatedAcreage,in_IrrigationMethodCV,in_LegacyAllocationIDs,in_OwnerClassificationCV,in_PopulationServed,in_PowerType,in_PrimaryBeneficialUseCategory,in_SDWISIdentifierCV,in_WaterAllocationNativeURL
0,okGD0,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID1,Groundwater,,,Texas,4326,,,,36.57473,-101.89634,,,POD,,POD9753,,,OK,,1998-11-20,,,,,,,,,Active,19980623,Prestage Farms Of Oklahoma Llc,1999-09-14,,,,,10.00000,Agriculture,,,,,,0,,,,,,,,,,
1,okGD1,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID1,Groundwater,,,Texas,4326,,,,36.51634,-101.57511,,,POD,,POD50052,,,OK,,2002-09-20,,,,,,,,,Active,20020591,Long Family Partnership,2003-05-03,,,,,1280.00000,Irrigation,,,,,,0,,,,,,,,,,
2,okGD10,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID1,Groundwater,,,Tillman,4326,,,,34.59012,-99.04592,,,POD,,POD53332,,,OK,,2004-09-07,,,,,,,,,Active,20040578,Mcelroy Johnny R And Dana D,2005-05-10,,,,,314.00000,Irrigation,,,,,,0,,,,,,,,,,
3,okGD100,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID1,Groundwater,,,Tillman,4326,,,11120303,34.58459,-99.07211,,,POD,,POD50443,,,OK,,1981-04-30,,,,,,,,,Active,19810645,Kirk Larry Neil And Karen Gayl,1981-07-14,,,,,80.00000,Irrigation,,,,,,0,,,,,,,,,,
4,okGD1000,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID1,Groundwater,,,Tillman,4326,,,11120303,34.54635,-99.14669,,,POD,,POD27978,,,OK,,1959-08-26,,,,,,,,,Active,19590200,Van Der Laan John And Pieter,1978-02-14,,,,,213.00000,Irrigation,,,,,,0,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,okU995,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID2,Surface Water,,,Carter,4326,,,11130210,34.09093,-97.18874,,,POU,,POU51552,,,OK,,1987-04-08,,,,,,,,,Active,19870014,Dolese Bros Co,1987-06-09,,,,,80.00000,Industrial,,,,,,0,,,,,,,,,,
28832,okU996,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID2,Surface Water,,,Carter,4326,,,11130210,34.09641,-97.19095,,,POU,,POU51553,,,OK,,1987-04-08,,,,,,,,,Active,19870014,Dolese Bros Co,1987-06-09,,,,,80.00000,Industrial,,,,,,0,,,,,,,,,,
28833,okU997,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID2,Surface Water,,,Carter,4326,,,11130210,34.07457,-97.09907,,,POU,,POU41824,,,OK,,1956-01-31,,,,,,,,,Active,19560081,Tourism Recreation Dept Of,1965-05-11,,,,,240.00000,Recreation Fish Wildlife,,,,,,0,,,,,,,,,,
28834,okU998,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID2,Surface Water,,,Carter,4326,,,11130210,34.07639,-97.07504,,,POU,,POU17938,,,OK,,1977-11-14,,,,,,,,,Active,19770165,Tourism Recreation Dept Of,1978-03-14,,,,,12620.00000,Recreation Fish Wildlife,,,,,,0,,,,,,,,,,
28835,okU999,OKwr_M1,OKwr_V1,OKwr_O1,,,,,wadeID2,Surface Water,,,Carter,4326,,,11130210,34.08188,-97.04242,,,POU,,POU4689,,,OK,,1980-09-17,,,,,,,,,Active,19800141,Scott Lee,1980-12-09,,,,,300.00000,Irrigation,,,,,,0,,,,,,,,,,

In [35]:
# Export the output dataframe
outdf.to_csv('Pwr_okMain.zip', compression=dict(method='zip', archive_name='Pwr_okMain.csv'), index=False)  # The output, save as a zip
dfPoUshape.to_csv('P_Geometry.zip', compression=dict(method='zip', archive_name='P_Geometry.csv'), index=False)  # The output geometry.