In [2]:
#!/usr/bin/env python
import pandas as pd
import numpy as np
import os
import beneficialUseDictionary
from utilityFunctions import *

In [3]:
# working directory
working_dir = "./ProcessedInputData"
os.chdir(working_dir)

In [4]:
# Input files
fileInput1 = "WaterRights_Simple.csv"

# output water sources
out_put = "watersources.csv"

In [5]:
##### WaDE columns

columns=['WaterSourceUUID', 'WaterSourceNativeID',	'WaterSourceName', 'WaterSourceTypeCV',
         'WaterQualityIndicatorCV',	'GNISFeatureNameCV', 'Geometry']

dtypesx = ['BigInt	NVarChar(250)	NVarChar(250)	NVarChar(250)	NVarChar(100)	NVarChar(100)',
           'NVarChar(250)	Geometry']

In [6]:
### target dataFrame

# TODO: assumes dtypes inferred from CO file
outdf100=pd.DataFrame(columns=columns)

In [7]:
print("Reading inputs...")


df100 = pd.read_csv(fileInput1,encoding = "ISO-8859-1") #, or alternatively encoding = "utf-8"

print (len(df100.index))

#df100 = df100.head(10000) #only runs first 100 lines for testing.

#df100 = df100.replace('', np.nan)
df100.head(5)

Reading inputs...
750044

,WRKEY,BOCA_CD,WTR_ID,WR_NUMBER,WRTE_DESCR,WRTE_CD,WRST_DESCR,WRST_CD,VERS_ID_SEQ,VERS_TYPE,...,SCANNED,DIV_CNT,POU_CNT,IRR_CNT,RESV_CNT,ISSUE_RMK,DITCH,GEOCODES,DTM_CREATED,Unnamed: 33
0,180441-1,38H,102244,38H 102244 00,STOCKWATER PERMIT,STWP,ACTIVE,ACTV,1,ORIGINAL RIGHT,...,Y,1,1,NaN,1,N,NaN,NaN,20191212,NaN
1,180442-1,38H,102245,38H 102245 00,STOCKWATER PERMIT,STWP,ACTIVE,ACTV,1,ORIGINAL RIGHT,...,Y,1,1,NaN,1,N,NaN,NaN,20191212,NaN
2,214400-1,38H,126342,38H 126342 00,STATEMENT OF CLAIM,STOC,ACTIVE,ACTV,1,ORIGINAL RIGHT,...,Y,1,1,NaN,0,N,NaN,NaN,20191212,NaN
3,214400-1,38H,126342,38H 126342 00,STATEMENT OF CLAIM,STOC,ACTIVE,ACTV,1,ORIGINAL RIGHT,...,Y,1,1,NaN,0,N,NaN,NaN,20191212,NaN
4,214402-1,38H,126344,38H 126344 00,STATEMENT OF CLAIM,STOC,ACTIVE,ACTV,1,ORIGINAL RIGHT,...,Y,1,1,NaN,1,N,NaN,NaN,20191212,NaN

In [8]:
list(df100.columns)

['WRKEY',
 'BOCA_CD',
 'WTR_ID',
 'WR_NUMBER',
 'WRTE_DESCR',
 'WRTE_CD',
 'WRST_DESCR',
 'WRST_CD',
 'VERS_ID_SEQ',
 'VERS_TYPE',
 'ENF_PRTY_DT_DATE',
 'MAJOR_TYPE',
 'SOURCE_NAME',
 'MODV_DESCR',
 'PURT_DESCR',
 'PURT_CD',
 'LST_NM_OR_BUSN_NM',
 'FST_NM',
 'MID_INT',
 'SUFX',
 'OWNER',
 'MAX_FLOW',
 'MAX_VOL',
 'MAX_ACRES',
 'SCANNED',
 'DIV_CNT',
 'POU_CNT',
 'IRR_CNT',
 'RESV_CNT',
 'ISSUE_RMK',
 'DITCH',
 'GEOCODES',
 'DTM_CREATED',
 'Unnamed: 33']

In [ ]:
print ("Directly mapped columns")

destCols=['WaterSourceName','WaterSourceTypeCV']
srsCols=['SRCNAME', 'SRCTYPE']

outdf100[destCols] = df100[srsCols]

In [ ]:
print("Hard coded ...")

outdf100.WaterQualityIndicatorCV = "Fresh"

In [ ]:
print("Dropping duplicates...")

print(len(outdf100.index))
outdf100 = outdf100.drop_duplicates(subset=['WaterSourceName','WaterSourceTypeCV']) #,'WaterQualityIndicatorCV'
outdf100 = outdf100.reset_index(drop=True)
print(len(outdf100.index))

outdf100

In [ ]:
print ("Water source native id and UUID")

#9.12.19 Adel: For water sources table, how about we do an incremental ID? like 1, 2, 3 etc?
outdf100 = outdf100.reset_index(drop=True)
outdf100['WaterSourceNativeID'] = range(1, len(outdf100.index) + 1)

print("Adding UUID...")
outdf100['WaterSourceUUID'] = outdf100.apply(lambda row: 
                                        "_".join(["MT", str(row['WaterSourceNativeID'])]), axis=1)

outdf100 = outdf100.replace(np.nan, '')

outdf100

In [ ]:
#write out
outdf100.to_csv(out_put, index=False, encoding = "utf-8")

print("Done watersources")