# NE Aggregated Data
Preprocessing input data for a smoother upload experience of the state data to the WaDE 2.0 database.
Using geopandas to read in shp file, and coverting to WKT for ReportingUnit geometry.

Notes:
- Date Updated: 05/02/2022
- Source data is missing some basic inputs, will have to hard code those there and match up with the timeseries.
- After seven different timeseries data.
- Will use basin data, and subbasin data.

In [1]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
from datetime import datetime
import geopandas as gpd # the library that lets us read in shapefiles
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

#Setting work directory, reading inputs, creating dataframe
workingDir = "G:/Shared drives/WaDE Data/Nebraska/AggregatedAmounts"
os.chdir(workingDir)

## Basin - Water Use Data

In [2]:
#CSV input file
fileInput = "RawInputData/INSIGHT_FinalBasinData_20151102_input.csv"
df_ba = pd.read_csv(fileInput)
print(len(df_ba))
df_ba.head(1)

300

,Year,Basin,BasinID,GWDP_Annual,SWDTotal_Annual,GWCTotal_Annual,SWDemandTotal_Annual,TotalNonConsumptiveUse_Annual,NetSurfaceWaterLoss_Annual,Unnamed: 9,PrecipitationRate_NonPeak,PrecipitationRate_Peak,PrecipitationRate_Annual,PrecipitationVolume_NonPeak,PrecipitationVolume_Peak,PrecipitationVolume_Annual,TotalRecharge,TotalRunoff,TotalET,SuppyTotal_NonPeak,SupplyTotal_Peak,SupplyTotal_Annual,StreamflowAF_NonPeak,StreamflowAF_Peak,StreamflowAF_Annual,StreamflowAFUncapped_NonPeak,StreamflowAFUncapped_Peak,StreamflowAFUncapped_Annual,SWDTotal_NonPeak,SWDTotal_Peak,GWDP_NonPeak,GWDP_Peak,BasinInflows_NonPeak,BasinInflows_Peak,BasinInflows_Annual,LongTermDemandTotal_NonPeak,LongTermDemandTotal_Peak,LongTermDemandTotal_Annual,NearTermDemandTotal_NonPeak,NearTermDemandTotal_Peak,NearTermDemandTotal_Annual,ProjectedLongTermDemandTotal_NonPeak,ProjectedLongTermDemandTotal_Peak,ProjectedLongTermDemandTotal_Annual,SWDemandTotal_NonPeak,SWDemandTotal_Peak,SWDemandTotal_Annual.1,SWDemand_NonPeak,SWDemand_Peak,SWDemand_Annual,SWDEvaporation_NonPeak,SWDEvaporation_Peak,SWDEvaporation_Annual,GWCIrrigation_NonPeak,GWCIrrigation_Peak,GWCIrrigation_Annual,GWCMunicipal_NonPeak,GWCMunicipal_Peak,GWCMunicipal_Annual,GWCIndustrial_NonPeak,GWCIndustrial_Peak,GWCIndustrial_Annual,GWCTotal_NonPeak,GWCTotal_Peak,GWCTotal_Annual.1,NetSurfaceWaterLoss_NonPeak,NetSurfaceWaterLoss_Peak,NetSurfaceWaterLoss_Annual.1,TotalNonConsumptiveUse_NonPeak,TotalNonConsumptiveUse_Peak,TotalNonConsumptiveUse_Annual.1,InducedGWRecharge_NonPeak,InducedGWRecharge_Peak,InducedGWRecharge_Annual,InstreamFlow_NonPeak,InstreamFlow_Peak,InstreamFlow_Annual,Hydropower_NonPeak,Hydropower_Peak,Hydropower_Annual,BasinOutflows_NonPeak,BasinOutflows_Peak,BasinOutflows_Annual,GWIAcres,SWIAcres,COIAcres,NearTermBalanceNonPeak,NearTermBalance_Peak,NearTermBalance_Annual,LongTermBalance_NonPeak,LongTermBalance_Peak,LongTermBalance_Annual,ProjectedLongTermBalance_NonPeak,ProjectedLongTermBalance_Peak,ProjectedLongTermBalance_Annual
0,1988,BIG BLUE,1,195533,62390,443951,71639,0,0,NaN,11,7,18,2770003,1614986,4384989,247399,323962,3813628,402694,168667,571361,259905,53533,313438,259905,53533,313438,78,62312,142711,52822,0,0,0,312982,202608,515590,142792,124380,267172,328631,212738,541370,81,71558,71639,81,71558,71639,0,0,0,302243,129533,431776,8954,1339,10293,1704,178,1882,312901,131050,443951,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999160,28028,20024,259901,44287,304189,89711,-33941,55771,74062,-44071,29991

In [3]:
# 1, Depletion_Annual_Total_Surface Water
df1_ba_DATS = pd.DataFrame(index=df_ba.index)

# Variable Info
df1_ba_DATS['in_VariableSpecificCV'] = "Depletion_Annual_Total_Surface Water"

# WaterSource Info
df1_ba_DATS['in_WaterSourceTypeCV'] = "Surface Water"

# ReportingUnit Info
df1_ba_DATS['in_ReportingUnitName'] = df_ba['Basin']
df1_ba_DATS['in_ReportingUnitNativeID'] = df_ba['BasinID']
df1_ba_DATS['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
df1_ba_DATS['in_ReportYearCV'] = df_ba['Year']
df1_ba_DATS['in_Amount'] = df_ba['SWDTotal_Annual']
df1_ba_DATS['in_BeneficialUseCategory'] = "Total"

print(len(df1_ba_DATS))
df1_ba_DATS.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1988,62390,Total

In [4]:
# 2, Basin, Depletion_Annual_Total_Groundwater
df2_ba_DATG = pd.DataFrame(index=df_ba.index)

# Variable Info
df2_ba_DATG['in_VariableSpecificCV'] = "Depletion_Annual_Total_Groundwater"

# WaterSource Info
df2_ba_DATG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df2_ba_DATG['in_ReportingUnitName'] = df_ba['Basin']
df2_ba_DATG['in_ReportingUnitNativeID'] = df_ba['BasinID']
df2_ba_DATG['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
df2_ba_DATG['in_ReportYearCV'] = df_ba['Year']
df2_ba_DATG['in_Amount'] = df_ba['GWDP_Annual']
df2_ba_DATG['in_BeneficialUseCategory'] = "Total"

print(len(df2_ba_DATG))
df2_ba_DATG.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Groundwater,Groundwater,BIG BLUE,1,Basin,1988,195533,Total

In [5]:
# 3, Basin, Consumptive Use_Annual_Total_Groundwater
d3f_ba_CATG = pd.DataFrame(index=df_ba.index)

# Variable Info
d3f_ba_CATG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Total_Groundwater"

# WaterSource Info
d3f_ba_CATG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
d3f_ba_CATG['in_ReportingUnitName'] = df_ba['Basin']
d3f_ba_CATG['in_ReportingUnitNativeID'] = df_ba['BasinID']
d3f_ba_CATG['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
d3f_ba_CATG['in_ReportYearCV'] = df_ba['Year']
d3f_ba_CATG['in_Amount'] = df_ba['GWCTotal_Annual']
d3f_ba_CATG['in_BeneficialUseCategory'] = "Total"

print(len(d3f_ba_CATG))
d3f_ba_CATG.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Total_Groundwater,Groundwater,BIG BLUE,1,Basin,1988,443951,Total

In [6]:
# 4, Basin, Consumptive Use_Annual_Irrigation_Groundwater
df4_ba_CAIrG = pd.DataFrame(index=df_ba.index)

# Variable Info
df4_ba_CAIrG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Irrigation_Groundwater"

# WaterSource Info
df4_ba_CAIrG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df4_ba_CAIrG['in_ReportingUnitName'] = df_ba['Basin']
df4_ba_CAIrG['in_ReportingUnitNativeID'] = df_ba['BasinID']
df4_ba_CAIrG['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
df4_ba_CAIrG['in_ReportYearCV'] = df_ba['Year']
df4_ba_CAIrG['in_Amount'] = df_ba['GWCIrrigation_Annual']
df4_ba_CAIrG['in_BeneficialUseCategory'] = "Irrigation"

print(len(df4_ba_CAIrG))
df4_ba_CAIrG.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Irrigation_Groundwater,Groundwater,BIG BLUE,1,Basin,1988,431776,Irrigation

In [7]:
# 5, Basin, Consumptive Use_Annual_Municipal_Groundwater
df5_ba_CAMG = pd.DataFrame(index=df_ba.index)

# Variable Info
df5_ba_CAMG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Municipal_Groundwater"

# WaterSource Info
df5_ba_CAMG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df5_ba_CAMG['in_ReportingUnitName'] = df_ba['Basin']
df5_ba_CAMG['in_ReportingUnitNativeID'] = df_ba['BasinID']
df5_ba_CAMG['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
df5_ba_CAMG['in_ReportYearCV'] = df_ba['Year']
df5_ba_CAMG['in_Amount'] = df_ba['GWCMunicipal_Annual']
df5_ba_CAMG['in_BeneficialUseCategory'] = "Municipal"

print(len(df5_ba_CAMG))
df5_ba_CAMG.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Municipal_Groundwater,Groundwater,BIG BLUE,1,Basin,1988,10293,Municipal

In [8]:
# 6, Basin, Consumptive Use_Annual_Industrial_Groundwater
df6_ba_CAInG = pd.DataFrame(index=df_ba.index)

# Variable Info
df6_ba_CAInG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Industrial_Groundwater"

# WaterSource Info
df6_ba_CAInG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df6_ba_CAInG['in_ReportingUnitName'] = df_ba['Basin']
df6_ba_CAInG['in_ReportingUnitNativeID'] = df_ba['BasinID']
df6_ba_CAInG['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
df6_ba_CAInG['in_ReportYearCV'] = df_ba['Year']
df6_ba_CAInG['in_Amount'] = df_ba['GWCIndustrial_Annual']
df6_ba_CAInG['in_BeneficialUseCategory'] = "Industrial"

print(len(df6_ba_CAInG))
df6_ba_CAInG.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Industrial_Groundwater,Groundwater,BIG BLUE,1,Basin,1988,1882,Industrial

In [9]:
# 7, Basin, Demand_Annual_Total_Surface Water
df7_ba_DeATS = pd.DataFrame(index=df_ba.index)

# Variable Info
df7_ba_DeATS['in_VariableSpecificCV'] = "Demand_Annual_Total_Surface Water"

# WaterSource Info
df7_ba_DeATS['in_WaterSourceTypeCV'] = "Surface Water"

# ReportingUnit Info
df7_ba_DeATS['in_ReportingUnitName'] = df_ba['Basin']
df7_ba_DeATS['in_ReportingUnitNativeID'] = df_ba['BasinID']
df7_ba_DeATS['in_ReportingUnitTypeCV'] = "Basin"

# AggregatedAmounts Info
df7_ba_DeATS['in_ReportYearCV'] = df_ba['Year']
df7_ba_DeATS['in_Amount'] = df_ba['SWDemandTotal_Annual']
df7_ba_DeATS['in_BeneficialUseCategory'] = "Total"

print(len(df7_ba_DeATS))
df7_ba_DeATS.head(1)

300

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Demand_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1988,71639,Total

In [10]:
# Concatenate Basin DataFrames
frames = [df1_ba_DATS, df2_ba_DATG, d3f_ba_CATG, df4_ba_CAIrG, df5_ba_CAMG, df6_ba_CAInG, df7_ba_DeATS]
df_BasinOUT = pd.concat(frames)

print(len(df_BasinOUT))
df_BasinOUT.head(1)

2100

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1988,62390,Total

In [11]:
# variable check
df_BasinOUT['in_VariableSpecificCV'].unique()

array(['Depletion_Annual_Total_Surface Water',
       'Depletion_Annual_Total_Groundwater',
       'Consumptive Use_Annual_Total_Groundwater',
       'Consumptive Use_Annual_Irrigation_Groundwater',
       'Consumptive Use_Annual_Municipal_Groundwater',
       'Consumptive Use_Annual_Industrial_Groundwater',
       'Demand_Annual_Total_Surface Water'], dtype=object)

## Subbasin - Water Use Data

In [12]:
#CSV input file
fileInput = "RawInputData/INSIGHT_FinalSubBasinData_20151102_input.csv"
df_sub = pd.read_csv(fileInput)
print(len(df_sub))
df_sub.head(1)

1050

,Year,Subbasin,SubID,PrecipitationRate_NonPeak,PrecipitationRate_Peak,PrecipitationRate_Annual,PrecipitationVolume_NonPeak,PrecipitationVolume_Peak,PrecipitationVolume_Annual,TotalRecharge,TotalRunoff,TotalET,SuppyTotal_NonPeak,SupplyTotal_Peak,SupplyTotal_Annual,StreamflowAF_NonPeak,StreamflowAF_Peak,StreamflowAF_Annual,StreamflowAFUncapped_NonPeak,StreamflowAFUncapped_Peak,StreamflowAFUncapped_Annual,SWDTotal_NonPeak,SWDTotal_Peak,SWDTotal_Annual,GWDP_NonPeak,GWDP_Peak,GWDP_Annual,BasinInflows_NonPeak,BasinInflows_Peak,BasinInflows_Annual,LongTermDemandTotal_NonPeak,LongTermDemandTotal_Peak,LongTermDemandTotal_Annual,NearTermDemandTotal_NonPeak,NearTermDemandTotal_Peak,NearTermDemandTotal_Annual,ProjectedLongTermDemandTotal_NonPeak,ProjectedLongTermDemandTotal_Peak,ProjectedLongTermDemandTotal_Annual,SWDemandTotal_NonPeak,SWDemandTotal_Peak,SWDemandTotal_Annual,SWDemand_NonPeak,SWDemand_Peak,SWDemand_Annual,SWDEvaporation_NonPeak,SWDEvaporation_Peak,SWDEvaporation_Annual,GWCIrrigation_NonPeak,GWCIrrigation_Peak,GWCIrrigation_Annual,GWCMunicipal_NonPeak,GWCMunicipal_Peak,GWCMunicipal_Annual,GWCIndustrial_NonPeak,GWCIndustrial_Peak,GWCIndustrial_Annual,GWCTotal_NonPeak,GWCTotal_Peak,GWCTotal_Annual,TotalNonConsumptiveUse_NonPeak,TotalNonConsumptiveUse_Peak,TotalNonConsumptiveUse_Annual,InducedGWRecharge_NonPeak,InducedGWRecharge_Peak,InducedGWRecharge_Annual,InstreamFlow_NonPeak,InstreamFlow_Peak,InstreamFlow_Annual,Hydropower_NonPeak,Hydropower_Peak,Hydropower_Annual,BasinOutflows_NonPeak,BasinOutflows_Peak,BasinOutflows_Annual,NetSurfaceWaterLoss_NonPeak,NetSurfaceWaterLoss_Peak,NetSurfaceWaterLoss_Annual,GWIAcres,SWIAcres,COIAcres,NearTermBalanceNonPeak,NearTermBalance_Peak,NearTermBalance_Annual,LongTermBalance_NonPeak,LongTermBalance_Peak,LongTermBalance_Annual,ProjectedLongTermBalance_NonPeak,ProjectedLongTermBalance_Peak,ProjectedLongTermBalance_Annual
0,1988,Big Blue River,101,11,7,18,2770003,1614986,4384989,247399,323962,3813628,402694,168667,571361,259905,53533,313438,259905,53533,313438,78,62312,62390,142711,52822,195533,0,0,0,312982,202608,515590,142792,124380,267172,328631,212738,541370,81,71558,71639,81,71558,71639,0,0,0,302243,129533,431776,8954,1339,10293,1704,178,1882,312901,131050,443951,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999160.0,28028.0,20024.0,259901,44287,304189,89711,-33941,55771,74062,-44071,29991

In [13]:
# 1, Depletion_Annual_Total_Surface Water
df1_sub_DATS = pd.DataFrame(index=df_sub.index)

# Variable Info
df1_sub_DATS['in_VariableSpecificCV'] = "Depletion_Annual_Total_Surface Water"

# WaterSource Info
df1_sub_DATS['in_WaterSourceTypeCV'] = "Surface Water"

# ReportingUnit Info
df1_sub_DATS['in_ReportingUnitName'] = df_sub['Subbasin']
df1_sub_DATS['in_ReportingUnitNativeID'] = df_sub['SubID']
df1_sub_DATS['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
df1_sub_DATS['in_ReportYearCV'] = df_sub['Year']
df1_sub_DATS['in_Amount'] = df_sub['SWDTotal_Annual']
df1_sub_DATS['in_BeneficialUseCategory'] = "Total"

print(len(df1_sub_DATS))
df1_sub_DATS.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Surface Water,Surface Water,Big Blue River,101,Subbasin,1988,62390,Total

In [14]:
# 2, Basin, Depletion_Annual_Total_Groundwater
df2_sub_DATG = pd.DataFrame(index=df_sub.index)

# Variable Info
df2_sub_DATG['in_VariableSpecificCV'] = "Depletion_Annual_Total_Groundwater"

# WaterSource Info
df2_sub_DATG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df2_sub_DATG['in_ReportingUnitName'] = df_sub['Subbasin']
df2_sub_DATG['in_ReportingUnitNativeID'] = df_sub['SubID']
df2_sub_DATG['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
df2_sub_DATG['in_ReportYearCV'] = df_sub['Year']
df2_sub_DATG['in_Amount'] = df_sub['GWDP_Annual']
df2_sub_DATG['in_BeneficialUseCategory'] = "Total"

print(len(df2_sub_DATG))
df2_sub_DATG.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Groundwater,Groundwater,Big Blue River,101,Subbasin,1988,195533,Total

In [15]:
# 3, Basin, Consumptive Use_Annual_Total_Groundwater
d3f_sub_CATG = pd.DataFrame(index=df_sub.index)

# Variable Info
d3f_sub_CATG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Total_Groundwater"

# WaterSource Info
d3f_sub_CATG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
d3f_sub_CATG['in_ReportingUnitName'] = df_sub['Subbasin']
d3f_sub_CATG['in_ReportingUnitNativeID'] = df_sub['SubID']
d3f_sub_CATG['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
d3f_sub_CATG['in_ReportYearCV'] = df_sub['Year']
d3f_sub_CATG['in_Amount'] = df_sub['GWCTotal_Annual']
d3f_sub_CATG['in_BeneficialUseCategory'] = "Total"

print(len(d3f_sub_CATG))
d3f_sub_CATG.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Total_Groundwater,Groundwater,Big Blue River,101,Subbasin,1988,443951,Total

In [16]:
# 4, Basin, Consumptive Use_Annual_Irrigation_Groundwater
df4_sub_CAIrG = pd.DataFrame(index=df_sub.index)

# Variable Info
df4_sub_CAIrG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Irrigation_Groundwater"

# WaterSource Info
df4_sub_CAIrG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df4_sub_CAIrG['in_ReportingUnitName'] = df_sub['Subbasin']
df4_sub_CAIrG['in_ReportingUnitNativeID'] = df_sub['SubID']
df4_sub_CAIrG['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
df4_sub_CAIrG['in_ReportYearCV'] = df_sub['Year']
df4_sub_CAIrG['in_Amount'] = df_sub['GWCIrrigation_Annual']
df4_sub_CAIrG['in_BeneficialUseCategory'] = "Irrigation"

print(len(df4_sub_CAIrG))
df4_sub_CAIrG.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Irrigation_Groundwater,Groundwater,Big Blue River,101,Subbasin,1988,431776,Irrigation

In [17]:
# 5, Basin, Consumptive Use_Annual_Municipal_Groundwater
df5_sub_CAMG = pd.DataFrame(index=df_sub.index)

# Variable Info
df5_sub_CAMG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Municipal_Groundwater"

# WaterSource Info
df5_sub_CAMG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df5_sub_CAMG['in_ReportingUnitName'] = df_sub['Subbasin']
df5_sub_CAMG['in_ReportingUnitNativeID'] = df_sub['SubID']
df5_sub_CAMG['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
df5_sub_CAMG['in_ReportYearCV'] = df_sub['Year']
df5_sub_CAMG['in_Amount'] = df_sub['GWCMunicipal_Annual']
df5_sub_CAMG['in_BeneficialUseCategory'] = "Municipal"

print(len(df5_sub_CAMG))
df5_sub_CAMG.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Municipal_Groundwater,Groundwater,Big Blue River,101,Subbasin,1988,10293,Municipal

In [18]:
# 6, Basin, Consumptive Use_Annual_Industrial_Groundwater
df6_sub_CAInG = pd.DataFrame(index=df_sub.index)

# Variable Info
df6_sub_CAInG['in_VariableSpecificCV'] = "Consumptive Use_Annual_Industrial_Groundwater"

# WaterSource Info
df6_sub_CAInG['in_WaterSourceTypeCV'] = "Groundwater"

# ReportingUnit Info
df6_sub_CAInG['in_ReportingUnitName'] = df_sub['Subbasin']
df6_sub_CAInG['in_ReportingUnitNativeID'] = df_sub['SubID']
df6_sub_CAInG['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
df6_sub_CAInG['in_ReportYearCV'] = df_sub['Year']
df6_sub_CAInG['in_Amount'] = df_sub['GWCIndustrial_Annual']
df6_sub_CAInG['in_BeneficialUseCategory'] = "Industrial"

print(len(df6_sub_CAInG))
df6_sub_CAInG.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Consumptive Use_Annual_Industrial_Groundwater,Groundwater,Big Blue River,101,Subbasin,1988,1882,Industrial

In [19]:
# 7, Basin, Demand_Annual_Total_Surface Water
df7_sub_DeATS = pd.DataFrame(index=df_sub.index)

# Variable Info
df7_sub_DeATS['in_VariableSpecificCV'] = "Demand_Annual_Total_Surface Water"

# WaterSource Info
df7_sub_DeATS['in_WaterSourceTypeCV'] = "Surface Water"

# ReportingUnit Info
df7_sub_DeATS['in_ReportingUnitName'] = df_sub['Subbasin']
df7_sub_DeATS['in_ReportingUnitNativeID'] = df_sub['SubID']
df7_sub_DeATS['in_ReportingUnitTypeCV'] = "Subbasin"

# AggregatedAmounts Info
df7_sub_DeATS['in_ReportYearCV'] = df_sub['Year']
df7_sub_DeATS['in_Amount'] = df_sub['SWDemandTotal_Annual']
df7_sub_DeATS['in_BeneficialUseCategory'] = "Total"

print(len(df7_sub_DeATS))
df7_sub_DeATS.head(1)

1050

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Demand_Annual_Total_Surface Water,Surface Water,Big Blue River,101,Subbasin,1988,71639,Total

In [20]:
# Concatenate Subbasin DataFrames
frames = [df1_sub_DATS, df2_sub_DATG, d3f_sub_CATG, df4_sub_CAIrG, df5_sub_CAMG, df6_sub_CAInG, df7_sub_DeATS]
df_SubbasinOUT = pd.concat(frames)

print(len(df_SubbasinOUT))
df_SubbasinOUT.head(1)

7350

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Surface Water,Surface Water,Big Blue River,101,Subbasin,1988,62390,Total

In [21]:
# variable check
df_SubbasinOUT['in_ReportingUnitTypeCV'].unique()

array(['Subbasin'], dtype=object)

## Concatenate Basin & Subbasin DataFrames

In [22]:
# Concatenate Subbasin DataFrames
frames = [df_BasinOUT, df_SubbasinOUT]
df_out = pd.concat(frames).reset_index(drop=True)

print(len(df_out))
df_out.head()

9450

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory
0,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1988,62390,Total
1,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1989,34673,Total
2,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1990,25231,Total
3,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1991,81155,Total
4,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1992,5458,Total

## WaDE Custom Elements (due to missing info)

In [23]:
# Creating WaDE Custom water source native ID for easy water source identification
# ----------------------------------------------------------------------------------------------------

# Create temp WaterSourceNativeID dataframe of unique water source.
def assignWaterSourceNativeID(colrowValue):
    string1 = str(colrowValue)
    outstring = "WaDENE_WS" + string1
    return outstring

dfWaterSourceNativeID = pd.DataFrame()
dfWaterSourceNativeID['in_WaterSourceTypeCV'] = df_out['in_WaterSourceTypeCV']
dfWaterSourceNativeID = dfWaterSourceNativeID.drop_duplicates()

dftemp = pd.DataFrame(index=dfWaterSourceNativeID.index)
dftemp["Count"] = range(1, len(dftemp.index) + 1)
dfWaterSourceNativeID['in_WaterSourceNativeID'] = dftemp.apply(lambda row: assignWaterSourceNativeID(row['Count']), axis=1)

# ----------------------------------------------------------------------------------------------------

# Retreive WaDE Custom water source native ID
def retrieveWaterSourceNativeID(A):
    if (A == '') or (pd.isnull(A)):
        outList = ''
    else:
        ml = dfWaterSourceNativeID.loc[(dfWaterSourceNativeID['in_WaterSourceTypeCV'] == A), 'in_WaterSourceNativeID']
        if not (ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

df_out['in_WaterSourceNativeID'] = df_out.apply(lambda row: retrieveWaterSourceNativeID(row['in_WaterSourceTypeCV']), axis=1)
df_out

,in_VariableSpecificCV,in_WaterSourceTypeCV,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_ReportYearCV,in_Amount,in_BeneficialUseCategory,in_WaterSourceNativeID
0,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1988,62390,Total,WaDENE_WS1
1,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1989,34673,Total,WaDENE_WS1
2,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1990,25231,Total,WaDENE_WS1
3,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1991,81155,Total,WaDENE_WS1
4,Depletion_Annual_Total_Surface Water,Surface Water,BIG BLUE,1,Basin,1992,5458,Total,WaDENE_WS1
...,...,...,...,...,...,...,...,...,...
9445,Demand_Annual_Total_Surface Water,Surface Water,White River,1202,Subbasin,2008,0,Total,WaDENE_WS1
9446,Demand_Annual_Total_Surface Water,Surface Water,White River,1202,Subbasin,2009,0,Total,WaDENE_WS1
9447,Demand_Annual_Total_Surface Water,Surface Water,White River,1202,Subbasin,2010,0,Total,WaDENE_WS1
9448,Demand_Annual_Total_Surface Water,Surface Water,White River,1202,Subbasin,2011,0,Total,WaDENE_WS1
9449,Demand_Annual_Total_Surface Water,Surface Water,White River,1202,Subbasin,2012,0,Total,WaDENE_WS1

## Shapefile Data

In [24]:
# Basin Shapefile Data
BasinSHPInput = "RawInputData/InsightShapeFiles/Basin.shp"
BasinShape = gpd.read_file(BasinSHPInput)

print(len(BasinShape))
BasinShape.head(3)

12

,Basin,BID,Rate,Volume,Supply,NearDemand,LongDemand,Demand,SWCU,GWC,Instream,Hydropower,Outflows,NetLoss,Recharge,Runoff,ET,Acres,SWDIrrigat,SWDMunicip,SWDIndustr,GWCIrrigat,GWCMunicip,GWCIndustr,BFI,ApproArea,DataAvaili,geometry
0,NEMAHA,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,0,0,0,0.0,0.0,0,"POLYGON ((2698062.952 422734.111, 2698237.858 ..."
1,REPUBLICAN,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,0,0,0,0.0,0.0,0,"POLYGON ((1230689.030 449090.544, 1230718.882 ..."
2,WHITE HAT,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,0,0,0,0.0,0.0,0,"POLYGON ((996632.741 1224988.318, 996711.808 1..."

In [25]:
# Basin output shapefile dataframe
columnList = ['in_ReportingUnitName', 
              'in_ReportingUnitNativeID',
              'in_ReportingUnitTypeCV',
              'in_Geomerty']
df_basin_shp = pd.DataFrame(columns=columnList, index=BasinShape.index)

df_basin_shp['in_ReportingUnitName'] = BasinShape['Basin']
df_basin_shp['in_ReportingUnitNativeID'] = BasinShape['BID']
df_basin_shp['in_ReportingUnitTypeCV'] = "Basin"
df_basin_shp['in_Geomerty'] = BasinShape['geometry']

print(len(df_basin_shp))
df_basin_shp.head(3)

12

,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_Geomerty
0,NEMAHA,8,Basin,"POLYGON ((2698062.952 422734.111, 2698237.858 ..."
1,REPUBLICAN,11,Basin,"POLYGON ((1230689.030 449090.544, 1230718.882 ..."
2,WHITE HAT,12,Basin,"POLYGON ((996632.741 1224988.318, 996711.808 1..."

In [26]:
# Subbasin Shapefile Data
SubbasinSHPInput = "RawInputData/InsightShapeFiles/Subbasin.shp"
SubbasinShape = gpd.read_file(SubbasinSHPInput)

print(len(SubbasinShape))
SubbasinShape.head(3)

42

,Subbasin,SubID,Rate,Volume,Supply,NearDemand,LongDemand,Demand,SWCU,GWC,Instream,Hydropower,Outflows,NetLoss,Recharge,Runoff,ET,Acres,SWDIrrigat,SWDMunicip,SWDIndustr,GWCIrrigat,GWCMunicip,GWCIndustr,BFI,DataAvaili,geometry
0,Hat Creek,1201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,0,0,0,0.0,0,"POLYGON ((584305.039 1216576.342, 584247.031 1..."
1,Frenchman Creek,1105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,0,0,0,0.0,0,"POLYGON ((1132485.267 434354.123, 1132647.165 ..."
2,Buffalo Creek,1103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,0,0,0,0.0,0,"POLYGON ((982660.767 239079.470, 982705.854 23..."

In [27]:
# Subbasin output shapefile dataframe
columnList = ['in_ReportingUnitName', 
              'in_ReportingUnitNativeID',
              'in_ReportingUnitTypeCV',
              'in_Geomerty']
df_subbasin_shp = pd.DataFrame(columns=columnList, index=SubbasinShape.index)

df_subbasin_shp['in_ReportingUnitName'] = SubbasinShape['Subbasin']
df_subbasin_shp['in_ReportingUnitNativeID'] = SubbasinShape['SubID']
df_subbasin_shp['in_ReportingUnitTypeCV'] = "Subbasin"
df_subbasin_shp['in_Geomerty'] = SubbasinShape['geometry']

print(len(df_subbasin_shp))
df_subbasin_shp.head(3)

42

,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_Geomerty
0,Hat Creek,1201,Subbasin,"POLYGON ((584305.039 1216576.342, 584247.031 1..."
1,Frenchman Creek,1105,Subbasin,"POLYGON ((1132485.267 434354.123, 1132647.165 ..."
2,Buffalo Creek,1103,Subbasin,"POLYGON ((982660.767 239079.470, 982705.854 23..."

In [28]:
# Concatenate Basin & Subbasin DataFrames
frames = [df_basin_shp, df_subbasin_shp]
df_shape_out = pd.concat(frames)

print(len(df_shape_out))
df_shape_out.head()

54

,in_ReportingUnitName,in_ReportingUnitNativeID,in_ReportingUnitTypeCV,in_Geomerty
0,NEMAHA,8,Basin,"POLYGON ((2698062.952 422734.111, 2698237.858 ..."
1,REPUBLICAN,11,Basin,"POLYGON ((1230689.030 449090.544, 1230718.882 ..."
2,WHITE HAT,12,Basin,"POLYGON ((996632.741 1224988.318, 996711.808 1..."
3,PLATTE,10,Basin,"POLYGON ((363323.360 1104585.982, 363541.042 1..."
4,LODGEPOLE CREEK,4,Basin,"POLYGON ((533050.124 628814.354, 533210.848 62..."

### Inspect Output Data & Export

In [29]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_out.dtypes)

in_VariableSpecificCV       object
in_WaterSourceTypeCV        object
in_ReportingUnitName        object
in_ReportingUnitNativeID     int64
in_ReportingUnitTypeCV      object
in_ReportYearCV              int64
in_Amount                    int64
in_BeneficialUseCategory    object
in_WaterSourceNativeID      object
dtype: object

In [30]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_shape_out.dtypes)

in_ReportingUnitName          object
in_ReportingUnitNativeID       int64
in_ReportingUnitTypeCV        object
in_Geomerty                 geometry
dtype: object

In [31]:
# Export out to CSV.
df_out.to_csv('RawInputData/P_neAgMaster.csv', index=False) # The output.
df_shape_out.to_csv('RawInputData/P_neAgGeometry.csv', index=False) # The output geometry.